<div class="table-responsive" >
  <table class="table table-bordered responsive" id="invited_table"  cellspacing="0" width="100%">
    <thead>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Invitation Sent</th>
        <th>Invitation Open</th>
        <th>Status</th>
        <th>Trade</th>
    </thead>
    <tbody>
    <% if @tender_invites.present? %>
        <% @tender_invites.each_with_index do |t,index| %>
            <tr class="trade" id="<%= index + 1 %>" data-title="<%= get_trade_name t.trade_id %>">
              <td class="text-center"><%= get_invite_company_name t.email %></td>
              <td class="text-center"><%= get_user_tender_per_email t.email %></td>
              <td class="text-center"><p><%=  t.email %></p></td>
              <td class="text-center"><p><%=  t.email_sent.strftime("%d.%m.%Y %H:%M %p") %></p></td>
              <td class="text-center"><p><%=  t.tender_open_date.present? ? t.tender_open_date.strftime("%d.%m.%Y %H:%M %p") : 'Not yet' %></p></td>
              <% if t.status == nil %>
                  <td class="text-center"><p>Pending Acceptance</p></td>
              <% elsif t.tender_declined_date.present? %>
                  <td class="text-center">
                    <p style="color: red">Invitation Declined</p>
                    <p><%=  t.tender_declined_date.strftime("%d.%m.%Y %H:%M %p") %></p>
                  </td>
              <% elsif t.tender_acceptance_date.present? %>
                  <td class="text-center">
                    <p style="color: green">Invitation Accepted</p>
                    <p><%=  t.tender_acceptance_date.strftime("%d.%m.%Y %H:%M %p") %></p>
                  </td>
              <% else %>
                  <td class="text-center"><p>Pending Acceptance</p></td>
              <% end %>
              <td class="text-center"><%=  get_trade_name t.trade_id %></td>
            </tr>

        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    $('.invite_cnt').text("<%= @tender_invites.present? ? @tender_invites.size : 0 %>");
    $('#invited_table').DataTable({
      "columnDefs": [
        { "visible": false, "targets": 6 }
      ],
      "order": [[ 6, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(6, {page:'current'} ).data().each( function ( group, i ) {
          console.log(group);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="7">'+group+'</td></tr>'
            );

            last = group;
          }
        } );
      }
    } );

  });
</script>
