<div class="table-responsive requested_div">
  <div class="admin-form">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="section">
          <label class="field select">
            <select id="trade2"  class="trade_filter" title="request">
              <% if @trades_array.present?  %>

                  <option value="0">All Trades</option>
                  <% @trades_array.uniq.each do |t| %>
                      <% if @trades.present? %>
                          <% if @trades.to_i == t.to_i %>
                              <option value="<%= t %>" selected><%= get_trade_name t %></option>
                          <% else %>
                              <option value="<%= t %>"><%= get_trade_name t %></option>
                          <% end %>
                      <% else %>
                          <option value="<%= t %>"><%= get_trade_name t %></option>
                      <% end %>

                  <% end %>
              <% else  %>
                  <option value="0">All Trades</option>
                  <% @trades_array.uniq.each do |t| %>
                      <option value="<%= t %>"><%= get_trade_name t %></option>
                  <% end %>
              <% end %>
            </select>
            <i class="arrow"></i>
          </label>
        </div>

      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3 pull-right">
        <div class="section">
          <div class="smart-widget sm-left sml-50">
            <label class="field">
              <input type="text" name="sm3" id="request_filter" class="gui-input" placeholder="Search Here">
            </label>
            <label for="sm3" class="button">
              <i class="fa fa-search"></i>
            </label>
          </div>
          <!-- end .smart-widget section -->
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered responsive" id="requesting_table"  cellspacing="0" width="100%">
    <thead>
    <tr style="background-color: #2C3E50;color: white;">
      <th class="text-center">Company Name</th>
      <th class="text-center">Contact Name</th>
      <th class="text-center">Trade</th>
      <th class="text-center">Request Received</th>
      <th class="text-center">Status</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody class="request_searchable">
    <% if @tender_requesting.present? %>
      <% @tender_requesting.each do |t| %>
        <tr class="trade" id="<%=  t %>" data-title="<%= get_trade_name t.trade_id %>">
          <td class="text-center"><%= get_user_company_name t.sc_id %></td>
          <td class="text-center"><%= get_user_name t.sc_id %></td>
          <td class="text-center"><%= get_trade_name t.trade_id  %></td>
          <td class="text-center"><p><%= (t.request_date).strftime("%d.%m.%Y %H:%M %p")  %></p></td>
          <td>
            <p class="text-center"><%= (t.status).present? ? (get_request_status t.id) : 'Pending'  %></p>
            <% if t.approved_date.present? %>
                <p class="text-center" style="color: green">
                  <%= (t.approved_date).strftime("%d.%m.%Y %H:%M %p") %>
                </p>
            <% end %>
            <% if t.declined_date.present? %>
                <p class="text-center" style="color: red">
                  <%= (t.declined_date).strftime("%d.%m.%Y %H:%M %p") %>
                </p>
            <% end %>
          </td>
          <td class="text-center">
            <% if t.approved_date.present? %>
                <span class="label label-success label-as-badge">Approved</span>
            <% elsif t.declined_date.present? %>
                <span class="label label-danger label-as-badge">Declined</span>
            <% else %>
                <button class="btn btn-success action_request" id="<%= t.id %>">
                  Approve
                </button>
                <button class="btn btn-danger action_request" id="<%= t.id %>">
                  Decline
                </button>
            <% end %>
          </td>
          </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <div class="col-md-20" style="height: 70px"></div>
  <table class="table table-bordered responsive" id="requested_table"  cellspacing="0" width="100%">
    <thead>
      <tr style="background-color: #2C3E50;color: white;">
        <th class="text-center">Company Name</th>
        <th class="text-center">Contact Name</th>
        <th class="text-center">Trade</th>
        <th class="text-center">Requested</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody class="searchable">
    <% if @tender_request_quotes.present? %>
      <% @tender_request_quotes.each do |t| %>
        <%  if t.approved_date.present? ||  t.declined_date.present? %>
          <tr class="trade" id="<%=  t %>" data-title="<%= get_trade_name t.trade_id %>">
            <td class="text-center"><%= get_user_trade_name t.sc_id %></td>
            <td class="text-center"><%= get_user_name t.sc_id %></td>
            <td class="text-center"><%= get_trade_name t.trade_id  %></td>
            <td class="text-center"><p><%= (t.request_date).strftime("%d.%m.%Y %H:%M %p")  %></p></td>

            <td class="text-center">
              <% if t.approved_date.present? %>
                <span class="label label-success label-as-badge">Approved</span>
                <br/>
                <label><%= (t.approved_date).strftime("%d.%m.%Y %H:%M %p") %></label>
              <% elsif t.declined_date.present? %>
                <span class="label label-danger label-as-badge">Declined</span>
                <br/>
                <label style="color: red"><%= (t.declined_date).strftime("%d.%m.%Y %H:%M %p") %></label>
              <% end %>
            </td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>

</div>

<script>
  $(document).ready(function(){
    $('.request_count').text("<%= get_request_count @tender.id %>");
    $('.request_approved').text("<%= get_request_approved @tender.id %>");
    $('.request_declined').text("<%= get_request_declined @tender.id %>");
    $('#requested_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "bFilter" : false,
      "columnDefs": [
        { "visible": false, "targets": 2 }
      ],
      "order": [[ 2, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(2, {page:'current'} ).data().each( function ( group, i ) {
          console.log(group);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="7">'+group+'</td></tr>'
            );

            last = group;
          }
        } );
      }
    });

    $('.trade_filter').change(function(){
      var tender_id = $('.tender_id').val();
      var trades = $(this).val();
      var tab  = $(this).attr('title');

      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,trades:trades,tab:tab},
        url: "/tenders/filter_by_trades"
      }).done(function (data) {

        if(tab == 'invites'){
          $('.invited_div').html('');
          $('.invited_div').html(data);
        }else if(tab == 'request'){
          $('.requested_div').html('');
          $('.requested_div').html(data);
        }else if(tab == 'tendering'){
          $('.tendering_div').html('');
          $('.tendering_div').html(data);
        }
      });
    });

    $('#requesting_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "bFilter" : false,
      /*"columnDefs": [
        { "visible": false, "targets": 2 }
      ],
      "order": [[ 2, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(2, {page:'current'} ).data().each( function ( group, i ) {
          console.log(group);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="7">'+group+'</td></tr>'
            );

            last = group;
          }
        } );
      }*/
    });

    $('.action_request').click(function(){
      var tender_id = $('.tender_id').val();
      var id = $(this).attr('id');
      var label = $(this).text();

      console.log('tender_id:'+tender_id);
      console.log('id:'+id);
      console.log('label:'+label);
      $('.requested_div').html('');

      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,id:id,label:label},
        url: "/tenders/approved_tender_request"
      }).done(function (data) {
        $('.requested_div').html(data);
      });
    });

    $('#request_filter').keyup(function () {
      var rex = new RegExp($(this).val(), 'i');
      $('.request_searchable tr').hide();
      $('.request_searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })

  });
</script>
