<div class="admin-form">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="section">
        <label class="field select">
          <select  class="trade_filter" title="invites">
            <% if @trades_array.present?  %>

                <option value="0">All Trades</option>
                <% @trades_array.uniq.each do |t| %>
                    <% if @trades.present? %>
                        <% if @trades.to_i == t.to_i %>
                            <option value="<%= t %>" selected><%= get_trade_name t %></option>
                        <% else %>
                            <option value="<%= t %>"><%= get_trade_name t %></option>
                        <% end %>
                    <% else %>
                        <option value="<%= t %>"><%= get_trade_name t %></option>
                    <% end %>

                <% end %>
            <% else  %>
                <option value="0">All Trades</option>
                <% @trades_array.uniq.each do |t| %>
                    <option value="<%= t %>"><%= get_trade_name t %></option>
                <% end %>
            <% end %>
          </select>
          <i class="arrow"></i>
        </label>
      </div>

    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3 pull-right">
      <div class="section">
        <div class="smart-widget sm-left sml-50">
          <label class="field">
            <input type="text" name="sm3" id="tendering_filter" class="gui-input" placeholder="Search Here">
          </label>
          <label for="sm3" class="button">
            <i class="fa fa-search"></i>
          </label>
        </div>
        <!-- end .smart-widget section -->
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered responsive" id="tendering_table"  cellspacing="0" width="100%">
  <thead>
  <tr style="background-color: #2C3E50;color: white;">
    <th class="text-center">Company Name</th>
    <th class="text-center">Contact Name</th>
    <th class="text-center">Trade</th>
    <th class="text-center">Joined</th>
    <th class="text-center">Packages</th>
    <th class="text-center">Status</th>
  </tr>
  </thead>
  <tbody class="tender_searchable">
  <% if @tendering.present? %>
      <% @tendering.each do |t| %>
          <tr class="trade" id="<%=  t %>" data-title="<%= get_trade_name t.trade_id %>">
            <td class="text-center"><%= get_user_trade_name t.sc_id %></td>
            <td class="text-center"><%= get_user_name t.sc_id %></td>
            <td class="text-center"><%= get_trade_name t.trade_id  %></td>
            <td class="text-center"><%= (get_user_created t.sc_id).present? ?  (get_user_created t.sc_id).to_datetime.strftime("%d.%m.%Y %H:%M %p") : '--' %></td>
            <td class="text-center">
              <label class="text-center"><%= "#{return_download_package_cnt @tender.id,t.trade_id}" %></label>
              <label>Downloads</label>
            </td>
            <td class="text-center">
              <% if t.approved_date.present? %>
                  <span class="label label-success label-as-badge">Quoting</span>
              <% else %>
                  <label>Quote Submitted</label>
                  <p><%= t.request_date.present? ? t.request_date.strftime("%d.%m.%Y %H:%M %p"): '--' %></p>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $('.tendering_count').text("<%= get_subcontractors_count @tender.id  %>");
    $('.tendering_trades').text("<%= get_trade_count @tender.id %>");
    $('.tendering_packages').text("<%= get_packages_count @tender.id %>");
    $('#tendering_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "bFilter" : false,
      "columnDefs": [
        { "visible": false, "targets": 2 }
      ],
      "order": [[ 2, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(2, {page:'current'} ).data().each( function ( group, i ) {
          console.log(group);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="7">'+group+'</td></tr>'
            );

            last = group;
          }
        } );
      }
    });

    $('.trade_filter').change(function(){
      var tender_id = $('.tender_id').val();
      var trades = $(this).val();
      var tab  = 'tendering';

      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,trades:trades,tab:tab},
        url: "/tenders/filter_by_trades"
      }).done(function (data) {

        if(tab == 'invites'){
          $('.invited_div').html('');
          $('.invited_div').html(data);
        }else if(tab == 'request'){
          $('.requested_div').html('');
          $('.requested_div').html(data);
        }else if(tab == 'tendering'){
          $('.tendering_div').html('');
          $('.tendering_div').html(data);
        }
      });
    });

    $('#tendering_filter').keyup(function () {
      var rex = new RegExp($(this).val(), 'i');
      $('.tender_searchable tr').hide();
      $('.tender_searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })

  });
</script>