<div class="admin-form">
  <div class="row">
    
    <div class="col-md-3">
      <% if params[:controller] == 'hc_invites' %>
        <div class="section">
          <input type="hidden" class="tender_id" value="<%= @tender.present? ? @tender.id : nil%>">
          <label class="field select">
            <select class="bs-select form-control trades">
              <% if @tender.present? %>
                <% if @all_trades.present? %>
                  <option value="0">Filter by trade/s</option>
                  <% @all_trades.each do |t| %>
                    <% if @trade_id.present? %>
                      <% if @trade_id.to_i == t.id.to_i %>
                          <option value="<%= t.id %>" selected><%= get_trade_name t %></option>
                      <% else %>
                          <option value="<%= t.id %>"><%= get_trade_name t %></option>
                      <% end %>
                    <% else %>
                        <option value="<%= t.id %>"><%= get_trade_name t %></option>
                    <% end %>
                  <% end %>
                <% end %>
            <% else %>
                <% if @trades.present? %>
                  <option value="0">All Trades</option>
                  <% @trades.each do |t| %>
                    <% if @trade_id.present? %>
                      <% if @trade_id.to_i == t.id.to_i %>
                          <option value="<%= t.id %>" selected><%= get_trade_name t %></option>
                      <% else %>
                          <option value="<%= t.id %>"><%= get_trade_name t %></option>
                      <% end %>
                    <% else %>
                        <option value="<%= t.id %>"><%= get_trade_name t %></option>
                    <% end %>

                  <% end %>
                <% end %>
              <% end %>

            </select>
            <i class="arrow"></i>
          </label>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
<div class="notif" style="display: none">
  <div class="alert alert-success open-sans-regular">
    <button type="button" class="close" data-dismiss="alert"></button>
    <div class="notice" style="font-size: 14px;">Email successfully re-sent.</div>
  </div>
</div>
<div class="table-responsive">
  <table class="table " id="new_quote_table">
    <thead>
   
    <!-- <tr style="background-color: #093bad ;color: white;"> -->
    <tr style="background-color: #2C3E50;color: white;">
      <th>
        <h4 style="font-family: Gotham">
          COMPANY
        </h4>
      </th>
      <th>
        <h4 style="font-family: Gotham">
           NAME
        </h4>
      </th>

      <th>
        <h4 style="font-family: Gotham">
          WORK EMAIL
        </h4>
      </th>
      <th>
        <h4 style="font-family: Gotham">
          PRIMARY TRADE
        </h4>
      </th>
      <% unless @tender.present? %>
          <!--<th class="text-center">Status</th>-->
          <th class="text-center"></th>
      <% end %>
      <% if @tender.present? %>
          <th class="text-center" style="display: none"><input type="checkbox" class="hc_invites_list_master" checked> Invite</th>
          <th>
            <h4 style="font-family: Gotham">
              QUOTING ON
            </h4>
          </th>
      <% end %>
    </tr>
    </thead>
    <tbody class="searchable">
    <% if @hc_invites.present? %>
        <% @hc_invites.each_with_index do |savvy,index| %>
            <% if savvy.email.present? %>
                <tr>
                  <% if @tender.present? %>
                      <td class="savvy_company_<%= savvy.id %>" style="vertical-align: middle"><%= savvy.company %></td>
                  <% else %>
                      <td style="vertical-align: middle"><strong><%= savvy.company %></strong></td>

                  <% end %>

                  <td class="savvy_name_<%= savvy.id %>" style="vertical-align: middle"><%= savvy.name %></td>

                  <td class="savvy_email_<%= savvy.id %>" style="vertical-align: middle">
                    <% if savvy.user_id.present? %>
                        <%= puts "savvy.user_id =====> #{savvy.user_id}" %>
                        <%= puts "savvy.user_id =====> #{@tender.inspect}" %>
                        <% if @tender.present? %>
                          <a href="<%= user_company_profile_users_path(:id => savvy.user_id,:tender => @tender.id,:my_tender => true) %>">
                          <%= savvy.email %>
                        </a>
                        <% else %>
                          <a href="<%= user_company_profile_users_path(:id => savvy.user_id,:my_tender => true) %>">
                            <%= savvy.email %>
                          </a>
                        <% end %>
                        
                    <% else %>
                        <%= savvy.email %>
                    <% end %>


                  </td>
                  <td class="savvy_trade_<%= savvy.id %>" style="vertical-align: middle"><%= get_trade_name savvy.trade_id %></td>
                  <% unless @tender.present? %>
                      <!--<td class="text-center">
              <%# if savvy.user_id.present? %>
                 <%#= get_user_created savvy.user_id %>
              <%# else %>
                 -&#45;&#45;
              <%# end %>
            </td>-->
                      <td class="text-center">
                        <!--<div class="form-group">
                <select class="form-control hc_action">
                  <option>Select Here</option>
                  <option class="remove" value="<%#= savvy.id %>" id="0">Remove</option>
                  <%# unless savvy.user_id.present? %>
                    <option class="resent" value="<%= savvy.id %>" id="1">Re-sent</option>
                  <%# end %>
                </select>
              </div>-->
                        <!--<button class="btn btn-danger remove" id="<%= savvy.id  %>">
                   Remove
              </button>-->
                        <i class="fa fa-trash-o fa-2x remove" id="<%= savvy.id  %>" aria-hidden="true" style="color:red;"></i>
                      </td>
                  <% end %>
                  <% if @tender.present? %>
                      <td class="text-center" style="display: none">
                        <input type="checkbox" class="hc_invite_<%= index %>" name="hcs[]" value="<%= savvy.id %>">
                      </td>
                      <td style="vertical-align: middle">
                        <label class="field select">
                          <select class="bs-select form-control hc_trades" name="trades[]" id="<%= savvy.id%>" style="width: 220px;height: 30px">
                            <% if @trades.present? %>
                                <option value="0">Select Trade</option>
                                <% @trades.each do |t| %>
                                    <% if @trade_id.present? %>
                                        <% if @trade_id.to_i == t.id.to_i %>
                                            <option value="<%= t.id %>" class="<%= index %>"  selected ><%= get_trade_name t %></option>
                                        <% else %>
                                            <option value="<%= t.id %>" class="<%= index %>"><%= get_trade_name t %></option>
                                        <% end %>
                                    <% else %>
                                        <option value="<%= t.id %>" class="<%= index %>"><%= get_trade_name t %></option>
                                    <% end %>

                                <% end %>
                            <% end %>
                          </select>
                          <i class="arrow"></i>
                        </label>
                      </td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
    <% else %>
        <tr>
          <td colspan="6" class="text-center">
            No Subcontractors found.
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>


<script>
  $(document).ready(function(){
    $('.hc_action').change(function(){
      var savvy_id = $(this).find(":selected").val();
      var hc_action = $(this).find(":selected").attr('id');
      if(hc_action == 0){
        $.ajax({
          method: "POST",
          data: {id: savvy_id},
          url: "/hc_invites/remove_savvy"
        }).done(function (data) {
          $('.savvy_div').html(data);
        });
      }else{
        $.ajax({
          method: "POST",
          data: {id: savvy_id},
          url: "/hc_invites/resent_invite"
        }).done(function (data) {
          $('.savvy_div').html(data);
          $('.notif').show();
        });
      }

    });

    $('.remove').click(function(){
      var savvy_id = $(this).attr('id');
      $('#delete_modal'+savvy_id).modal('show');
      /*$.ajax({
        method: "POST",
        data: {id: savvy_id},
        url: "/hc_invites/remove_savvy"
      }).done(function (data) {
        $('.savvy_div').html(data);
      });*/
    });

    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    });

    $('.trades').change(function(){
      var trade_id = $(this).val();
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {trade_id:trade_id,tender_id:tender_id},
        url: "/hc_invites/search_by_trade"
      }).done(function (data) {
        $('.savvy_div').html(data);
      });
    });

    $('.hc_invites_list_master').click(function(){

      if($('.hc_invites_list').prop('checked')){
        $('.hc_invites_list').each(function(){
          $(this).click();
        })
      }else{
        $('.hc_invites_list').each(function(){
          $(this).click();
        })
      }
    });

    $('.hc_invites_list').click(function(){
      if($('.hc_invites_list').prop('checked') == false){
         $(this).val(0);
      }
    });

    $('.hc_trades').change(function(){
      var i = $(this).find('option:selected').attr("class");
      var id = $(this).attr('id');
      var trade = $(this).val();

      if(trade > 0){
        $('.savvy_company_'+id).css("font-weight","bold")
        $('.savvy_name_'+id).css("font-weight","bold")
        $('.savvy_email_'+id).css("font-weight","bold")
        $('.savvy_trade_'+id).css("font-weight","bold")
      }else{
        $('.savvy_company_'+id).css("font-weight","normal")
        $('.savvy_name_'+id).css("font-weight","normal")
        $('.savvy_email_'+id).css("font-weight","normal")
        $('.savvy_trade_'+id).css("font-weight","normal")
      }
      console.log("id:"+trade);



      $('.hc_invite_'+i).prop('checked',true);



    });

  })
</script>