<div class="row">
  <div style="height: 80px;"></div>
</div>
<div class="row">

</div>
<div class="row">
  <div style="height: 40px;"></div>
</div>

<div class="admin-form">
  <div class="row">
    <div class="col-md-6">
      <% if session[:role] == 'Head Contractor' %>
          <div class="admin-form">

              <a href="<%= addendas_path(:id => @tender.id ) %>"  id="<%= @tender.id %>">
                <button class="button btn-info">Issue Addenda</button>
              </a>

          </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>

    <div class="col-md-3 pull-right">
      <div class="section">
        <div class="smart-widget sm-left sml-50">
          <label class="field">
            <input type="text" name="sm3" id="filter" class="gui-input" placeholder="Search Here">
          </label>
          <label for="sm3" class="button">
            <i class="fa fa-search"></i>
          </label>
        </div>
        <!-- end .smart-widget section -->
      </div>
    </div>
  </div>
</div>

<div class="table-responsive" >
  <table class="table table-bordered responsive" id="addenda_table" >
    <thead>
    <tr style="background-color: #2C3E50;color: white;">
      <th class="text-center">Addendum #</th>
      <th class="text-center">Subject</th>
      <th class="text-center">Sent</th>
      <th class="text-center">Action</th>
    </tr>

    </thead>
    <tbody class="searchable">
    <% if @addendas.present? %>
        <% @addendas.each_with_index do |t,index| %>
            <tr>
              <td class="text-center"><%=  "#{t.ref_no}" %></td>
              <td class="text-center"><%=  t.subject %></td>
              <td class="text-center"><%=  t.created_at.strftime("%d.%m.%Y %H:%M %p") %></td>
              <td class="text-center">
                <button class="btn btn-default view_addenda" id="<%= t.id %>">View</button>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<% if @addendas.present? %>
    <% @addendas.each do |a| %>
        <div class="add_addenda_div">
          <div id="view_Addenda_modal_<%= a.id %>" class="modal fade"  style="margin-top: 100px; width: 100%" data-backdrop="static">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content col-md-24">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="col-md-12">
                    <p class="text-center" style="font-size: 20px">
                      Addendum
                    </p>
                  </div>
                  <div class="row">
                    <div class="form-group"></div>
                  </div>
                </div>
                <br>
                <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible1="1">
                  <div class="modal-body" style="overflow-y: auto;">

                    <div class="col-md-12">
                      <div class="col-md-6">
                        <label>Subject</label>
                      </div>
                      <div class="col-md-6">
                        <label><%= a.subject %></label>
                      </div>
                      <div  style="height: 20px"></div>
                      <div class="col-md-6">
                        <label>Sent</label>
                      </div>
                      <div class="col-md-6">
                        <label><%= a.created_at.strftime("%d.%m.%Y %H:%M %p") %></label>
                      </div>

                      <div  style="height: 20px"></div>
                      <div class="col-md-6">
                        <label>Details</label>
                      </div>
                      <div class="col-md-6">
                        <label><%= a.details %></label>
                      </div>

                      <div  style="height: 20px"></div>

                      <% if a.addenda_type == 'documents' %>
                          <div  style="height: 20px"></div>
                          <div class="col-md-12">
                            <label>Documents</label>
                          </div>
                          <div class="col-md-6">
                            <a href="#!" class="download" id="<%= a.id %>">
                              <button class="btn btn-default">download all files in zip</button>
                            </a>

                              <a href="#!" download class="d_load"></a>

                            <div  style="height: 20px"></div>
                          </div>
                          <div  style="height: 20px"></div>

                          <% if(get_addenda_documents a.id).present? %>
                              <div  style="height: 20px"></div>
                              <table class="table table-bordered responsive"  cellspacing="0" width="100%">
                                <thead>
                                <th class="text-center">Filename</th>
                                <th class="text-center">Change</th>
                                <!--<th class="text-center">Download</th>-->
                                </thead>
                                <tbody>
                                <% if (get_addenda_documents a.id).present? %>
                                    <% (get_addenda_documents a.id).each_with_index do |t,index| %>
                                        <tr>
                                          <td class="text-center"><%= t.document_file_name  %></td>
                                          <td class="text-center">Added</td>
                                          <!--<td class="text-center"></td>-->
                                        </tr>
                                    <% end %>
                                <% end %>
                                </tbody>
                              </table>
                          <% end %>
                      <% end %>

                      <% if a.addenda_type == 'details' %>
                        <% if @tender.tender_quote.previous_date.present? || @tender.status_updated.present? %>
                          <table class="table table-bordered responsive"  cellspacing="0" width="100%">
                            <thead>
                            <th>Changes</th>
                            <th></th>
                            </thead>
                            <tbody>
                            <% if @tender.tender_quote.previous_date.present? && @tender.tender_quote.quote_date.present? %>
                              <tr>
                                <td>Quotes Due</td>
                                <td><%= @tender.tender_quote.quote_date  %> Updated</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td><%= @tender.tender_quote.previous_date  %> Previously</td>
                              </tr>
                            <% end %>
                            <% if @tender.status_updated.present? %>
                              <tr>
                                <td>Status</td>
                                <% if @tender.status == 1 %>
                                    <td>Tendering - Your organization is still tendering for this project.</td>
                                <% else %>
                                    <td>Awarded - This tender has been awarded yo your organization or this your project.</td>
                                <% end %>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>



<input type="hidden" class="addenda_type">
<input type="hidden" class="addenda_subject">
<input type="hidden" class="addenda_details">

<input type="hidden" class="tender_id" value="<%= @tender.id %>">

<script>
  $(document).ready(function(){

    $('#addenda_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "bFilter": 'false',
      searching: false,
      "language": {
        "emptyTable": "No Addendum's issued yet"
      }
    });

    $('.view_addenda').click(function(){
      var id = $(this).attr('id');

      $('#view_Addenda_modal_'+id).modal('show');
    });

    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })

    $('.download').click(function(){
        var addenda_id = $(this).attr('id');
        var tender_id  = $('.tender_id').val();

      console.log("addenda_id:"+addenda_id)
      console.log("tender_id:"+tender_id)

      $.ajax({
        method: "POST",
        data: {addenda_id:addenda_id,tender_id:tender_id},
        url: "/addendas/download"
      }).done(function (data) {
        $(".d_load").prop("href", data.link)
        $(".d_load").click();

        var href = $('.d_load').attr('href');
        window.location.href = href;
      });
    });

  });
</script>


