<div class="row">
  <div style="height: 80px;"></div>
</div>
<div class="form-group has-feedback">
  <% if flash[:error] %>
      <div class="alert alert-danger open-sans-regular" id="users_error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= @error_alert %>
        <div class="notice" style="font-size: 14px;"><%= flash[:error].html_safe %></div>
        <% flash[:error]=nil %>
      </div>
  <% end %>
  <%- if !flash[:notice].nil? %>
      <div class="alert alert-success open-sans-regular" id="users_error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= @error_alert %>
        <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
        <% flash[:notice]=nil %>
      </div>
  <%- end %>
</div>

<div class="row">
  <div style="height: 40px;"></div>
</div>

<div class="admin-form">
  <div class="row">
    <div class="col-md-6">
      <% if session[:role] == 'Head Contractor' %>
        <div class="admin-form">
          <a href="<%= addendas_path(:id => tender.id ) %>"  id="<%= tender.id %>">
            <button class="button btn-info">Issue Addenda</button>
          </a>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>

    <div class="col-md-3 pull-right">
      <div class="section">
        <div class="smart-widget sm-left sml-50">
          <label class="field">
            <input type="text" name="sm3" id="filter" class="gui-input" placeholder="Search Here">
          </label>
          <label for="sm3" class="button">
            <i class="fa fa-search"></i>
          </label>
        </div>
        <!-- end .smart-widget section -->
      </div>
    </div>
  </div>
</div>


<div class="table-responsive" >
  <table class="table table-bordered responsive" id="addenda_table"  cellspacing="0" width="100%">
    <thead>
      <tr style="background-color: #2C3E50;color: white;">
        <th>Addendum #</th>
        <th>Subject</th>
        <th>Sent</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="searchable">
    <% if addendas.present? %>
        <% addendas.each_with_index do |t,index| %>
            <tr>
              <td class="text-center"><%=  "#{t.ref_no}" %></td>
              <td class="text-center"><%=  t.subject %></td>
              <td class="text-center"><%=  t.created_at.strftime("%d.%m.%Y %H:%M %p") %></td>
              <td class="text-center">
                <button class="btn btn-default view_addenda" id="<%= t.id %>">View</button>
              </td>
            </tr>

        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<% if addendas.present? %>
  <% addendas.each do |a| %>
      <div class="add_addenda_div">
        <div id="view_Addenda_modal_<%= a.id %>" class="modal fade"  style="margin-top: 100px; width: 100%" data-backdrop="static">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content col-md-12">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-md-12">
                  <p class="text-center" style="font-size: 20px">
                    Addendum
                  </p>
                </div>
                <div class="row">
                  <div class="form-group"></div>
                </div>
              </div>
              <br>
              <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible1="1">
                <div class="modal-body" style="overflow-y: auto;height: 300px;">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <label>Subject</label>
                    </div>
                    <div class="col-md-6">
                      <label><%= a.subject %></label>
                    </div>
                    <div  style="height: 20px"></div>
                    <div class="col-md-6">
                      <label>Sent</label>
                    </div>
                    <div class="col-md-6">
                      <label><%= a.created_at.strftime("%d.%m.%Y %H:%M %p") %></label>
                    </div>

                    <div style="height: 20px"></div>
                    <div class="col-md-6">
                      <label>Details</label>
                    </div>
                    <div class="col-md-6">
                      <label><%= a.details %></label>
                    </div>

                    <div  style="height: 20px"></div>

                    <% if a.addenda_type == 'documents' %>
                        <div  style="height: 20px"></div>
                        <div class="col-md-12">
                          <label>Documents</label>
                        </div>
                        <div class="col-md-12">
                          <a href="<%= "http://"+@ip+"/assets/tender/document/Fullset-#{tender.tendercon_id}.zip" %>" >
                            <button class="btn btn-default">Download Changes</button>
                          </a>
                          <div  style="height: 20px"></div>
                        </div>
                        <div  style="height: 20px"></div>


                        <% if (get_addenda_documents a.id).present? %>
                            <table class="table table-bordered responsive"  cellspacing="0" width="100%">
                              <thead>
                              <th class="text-center">Filename</th>
                              <th class="text-center">Change</th>
                              <th class="text-center">Download</th>
                              </thead>
                              <tbody>
                              <% if (get_addenda_documents a.id).present? %>
                                  <% (get_addenda_documents a.id).each_with_index do |t,index| %>
                                      <tr>
                                        <td class="text-center"><%= t.document_file_name  %></td>
                                        <td class="text-center">Added</td>
                                        <td class="text-center"></td>
                                      </tr>
                                  <% end %>
                              <% end %>
                              </tbody>
                            </table>
                        <% end %>
                    <% end %>

                    <% if a.addenda_type == 'details' %>
                        <% if tender.tender_quote.previous_date.present? %>
                            <table class="table table-bordered responsive"  cellspacing="0" width="100%">
                              <thead>
                              <th>Changes</th>
                              <th></th>
                              </thead>
                              <tbody>
                              <tr>
                                <td>Quotes Due</td>
                                <td><%= tender.tender_quote.quote_date  %> Updated</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td><%= tender.tender_quote.previous_date  %> Previously</td>
                              </tr>
                              </tbody>
                            </table>
                        <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>



<input type="hidden" class="addenda_type">
<input type="hidden" class="addenda_subject">
<input type="hidden" class="addenda_details">
<input type="hidden" class="tender_id" value="<%= tender.id %>">
<script>
  $(document).ready(function(){

    $('#addenda_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "bFilter": 'false',
      searching: false,
    });

    $('.view_addenda').click(function(){
      var id = $(this).attr('id');

      $('#view_Addenda_modal_'+id).modal('show');
    });

    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })

  });
</script>


