<!-- <div class="backdrop"></div>

<div class="fab child " data-subitem="1">
  <button type="button" class="btn new_documents" style="color:#FFFFFF; background-color:#36c6e1 ;border-radius: 3px !important;width: 300px !important;height: 38px !important;margin-right: 30px;">
    <h4 style="margin-top: 1px;">
      Issue New Documents
    </h4>
  </button>
  <br/>
  <button type="button" class="btn new_tender_details" style="color:#000000; background-color:#FFFFFF ;border-radius: 3px !important;width: 300px !important;height: 38px !important;margin-right: 30px;">
    <h4 style="margin-top: 1px;">
      Issue Original Documents
    </h4>
  </button>
</div>
</div>
<div class="fab img-circle" id="masterfab"><span>x</span></div> 

<div class="row">
  <div style="height: 80px;"></div>
</div>
-->

<div class="form-group has-feedback">
  <% if flash[:error] %>
      <div class="alert alert-danger open-sans-regular" id="users_error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= @error_alert %>
        <div class="notice" style="font-size: 14px;"><%= flash[:error].html_safe %></div>
        <% flash[:error]=nil %>
      </div>
  <% end %>
  <%- if !flash[:notice].nil? %>
      <div class="alert alert-success open-sans-regular" id="users_error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= @error_alert %>
        <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
        <% flash[:notice]=nil %>
      </div>
  <%- end %>
</div>

<div class="row">
  <div style="height: 40px;"></div>
</div>

<div class="admin-form">
  <div class="row">
    <div class="col-md-5">
      <% if session[:role] == 'Head Contractor' %>
        <!--<div class="admin-form">
          <a href="<%#= addendas_path(:id => tender.id ) %>"  id="<%= tender.id %>">
            <button class="button btn-info">Issue Addenda</button>
          </a>
        </div>-->
          <h3 style="margin-top: -1px;font-size: 24px; font-family: Gotham">ISSUED ADDENDA DIRECTORY</h3>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if session[:role] == 'Head Contractor' %>
        <!--<div class="admin-form">
          <a href="<%#= addendas_path(:id => tender.id ) %>"  id="<%= tender.id %>">
            <button class="button btn-info">Issue Addenda</button>
          </a>
        </div>-->
         
      <% end %>
    </div>
    <div class="col-md-3">
      <div class="section">
        <div class="smart-widget sm-left sml-50">
          <label class="field">
            <input type="text" name="sm3" id="filter" class="gui-input" placeholder="Search Addenda">
          </label>
          <label for="sm3" class="button">
            <i class="fa fa-search"></i>
          </label>
        </div>
        <!-- end .smart-widget section -->
      </div>
    </div>

    <div class="col-md-6 pull-right">

    </div>
  </div>
</div>


<div class="table-responsive" >
  <table class="table table-bordered responsive" id="addenda_table"  cellspacing="0" width="100%">
    <thead>
      <tr style="background-color: #2C3E50;color: white;">
        <th>
          <h4 style="font-family: Gotham">
            #
          </h4>
        </th>
        <th>

          <h4 style="font-family: Gotham">
            TYPE
          </h4>
        </th>
        <th>
          <h4 style="font-family: Gotham">
            SUBJECT
          </h4>
        </th>
        <th>
          <h4 style="font-family: Gotham">
            ISSUE AT
          </h4>
        </th>
      </tr>
    </thead>
    <tbody class="searchable">
    <% if addendas.present? %>
        <% addendas.each_with_index do |t,index| %>
            <tr>
              <td style="width: 20px;"><strong><%=  "A-#{t.ref_no.last(1)}" %></strong></td>
              <td style="width: 100px;">
                <% if t.addenda_type == "documents" %> 
                  New Trade Documents
                <% else %>
                  Tender Detail Amends
                <% end %>
              </td>
              <td style="width: 300px;">
                <a href="#!" class="view_addenda" id="<%= t.id %>" style="font-size: 14px;color: #006ce5;font-height: 20px">
                  <%=  t.subject %>
                </a>
              </td>
              <td style="width: 100px;">
                <%= t.created_at.strftime("%H:%M %p %d/%m/%Y") %>
                <!--<button class="btn btn-default view_addenda" id="<%#= t.id %>">View</button>-->
              </td>
            </tr>

        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<% if addendas.present? %>
  <% addendas.each do |a| %>
      <div class="add_addenda_div">
        <div id="view_Addenda_modal_<%= a.id %>" class="modal fade"  style="margin-top: 100px; width: 100%" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-body">

                <img src="/img/logos/multiply.png"  class="pull-right step1_close"   style="margin-top: -10px;margin-right: -10px;  width: 12px;height: 12px"/>

                <div style="margin-top: -15px"></div>
                <div class="text-center">
                  <h2>
                    <%= a.ref_no.upcase %>
                  </h2>

                </div>
                <div style="height: 15px"></div>
                <form  id="addenda" method="post">
                  <input type="hidden" value="<%= @tender.id %>" class="tender_id">
                  <div class="form-group">
                    <p style="margin-left:30px; font-size: 14px"><strong>
                      ISSUE DATE
                    </strong></p>
                    <input type="text"  class="form-control addendum_number"  name="addendum_number" value="<%= a.created_at.strftime("%H:%M %p %d/%m/%Y") %>" style="background-color: #F6F6F6;border-color: #F6F6F6;width: 504px; height:28px; margin-left: 30px;margin-top: -8px;direction: rtl; text-align: left;" />
                  </div>
                  <div style="height:5px"></div>
                  <div class="form-group">
                    <p style="margin-left:30px; font-size: 14px"><strong>
                      ADDENDUM TYPE
                    </strong></p>
                    <input type="text" class="form-control subject" value="<%= addenda_type a.id %>"  name="subject" style="background-color: #F6F6F6;border-color: #F6F6F6;width: 504px; height:28px; margin-left: 30px;margin-top: -8px;"/>
                  </div>
                  <div style="height:5px"></div>
                  <div class="form-group">
                    <p style="margin-left:30px; font-size: 14px"><strong>
                      ISSUED TO
                    </strong></p>
                    <input type="text" class="form-control subject" value="ALL Quoting Subcontractors"  name="subject" style="background-color: #F6F6F6;border-color: #F6F6F6;width: 504px; height:28px; margin-left: 30px;margin-top: -8px;"/>
                  </div>
                  <div style="height:5px"></div>
                  <div class="form-group">
                    <p style="margin-left:30px; font-size: 14px"><strong>
                      SUBJECT
                    </strong></p>
                    <input type="text" class="form-control subject" value="<%=  a.subject %>"  name="subject" style="background-color: #F6F6F6;border-color: #F6F6F6;width: 504px; height:28px; margin-left: 30px;margin-top: -8px;"/>
                  </div>
                  <div style="height:5px"></div>
                  <div class="form-group">
                    <h4 style="margin-left:30px">NOTES TO SCs</h4>
                    <textarea class="form-control notes" name="notes" rows="8" cols="109" style="background-color: #F6F6F6;border-color: #F6F6F6;width: 504px;  margin-left: 30px;margin-top: -8px;">
                      <%=  a.details %>
                    </textarea>
                    <%#= text_area_tag('notes',:cols => '109',:rows => '8',:class => 'form-control wysihtml5', :style => "background-color: #F6F6F6;border-color: #F6F6F6") %> 
                  </div>

                  <div class="form-group">
                    <p style="margin-left:30px; font-size: 14px"><strong>
                      UPDATE
                    </strong></p>

                  </div>

                  <div class="form-actions text-center pull-right">
                    <button type="button" class="btn addenda_submit" style="color:#FFFFFF; background-color:#72bb53 ;border-radius: 2px !important;height: 36px !important;margin-right: 34px;" >
                      <p style="margin-top: 1px; font-size: 14px">
                        ZIP AND DOWNLOAD DOCUMENTS
                      </p>
                    </button>
                  </div>
                </form>
                <div style="height:40px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>

<%= render  'addendas/modal/step1' %>
<%= render  'addendas/modal/step2' %>
<%= render  'addendas/modal/review' %>

<input type="hidden" class="addenda_type">
<input type="hidden" class="addenda_subject">
<input type="hidden" class="addenda_details">
<input type="hidden" class="tender_id" value="<%= tender.id %>">
<script>
  $(document).ready(function(){

    $('#addenda_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "bFilter": 'false',
      searching: false,
    });

    $('.view_addenda').click(function(){
      var id = $(this).attr('id');

      $('#view_Addenda_modal_'+id).modal('show');
    });

    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    });

    $('.download').click(function(){
      var addenda_id = $(this).attr('id');
      var tender_id  = $('.tender_id').val();

      console.log("addenda_id:"+addenda_id)
      console.log("tender_id:"+tender_id)

      $.ajax({
        method: "POST",
        data: {addenda_id:addenda_id,tender_id:tender_id},
        url: "/addendas/download"
      }).done(function (data) {
        $(".d_load").prop("href", data.link)
        $(".d_load").click();

        var href = $('.d_load').attr('href');
        window.location.href = href;
      });
    });

    $(".fab,.backdrop").click(function(){
      if($(".backdrop").is(":visible")){
        $(".backdrop").fadeOut(125);
        $(".fab.child")
            .stop()
            .animate({
              bottom	: $("#masterfab").css("bottom"),
              opacity	: 0
            },125,function(){
              //$(this).hide();
            });
      }else{
        $(".backdrop").fadeIn(125);
        $(".fab.child").each(function(){
          $(this)
              .stop()
              .show()
              .animate({
                bottom	: (parseInt($("#masterfab").css("bottom")) + parseInt($("#masterfab").outerHeight()) * $(this).data("subitem") - $(".fab.child").outerHeight() - 60) + "px",
                opacity	: 1
              },125);
        });
      }
    });


    $('.addenda_type').change(function(){
      var id = $(this).val();

      if(id == 1){
        $('#step2').modal('show');
      }else{
        $('#step1').modal('show');
      }
    });

    $('.new_documents').click(function(){

    });

    $('.new_tender_details').click(function(){
      $('#step1').modal('show');
    });

  });
</script>


<style>


  .fab {
    background: #FF7042;
    width: 56px;
    height: 56px;
    text-align: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #FFF;
    /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);*/
    position: fixed;
    bottom: 349px;
    right: 48px;
    font-size: 2.233em;
    display: inline-block;
    cursor: default;
    z-index: 1;
  }
  .fab span {
    vertical-align: middle;
  }
  .fab.child {
    background-color: transparent !important;
    right: 180.66666667px;
    height: 10px;
    /* width: 42.66666667px;
     height: 42.66666667px;*/
    width: 200px;
    display: none;
    text-align: center;
    opacity: 0;
    font-size: 5px;

  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ECECEC;
    opacity: 0.9;
    display: none;
    margin-top: -100px;
  }


</style>



