
<div class="row" style="margin-top: -270px">
  <div class="text-center">
    <h2 style="font-size: 30px; font-family: Gotham"><strong>ISSUE TRADE DOCUMENTS</strong></h2>
    <h5 style="font-size: 20px;font-family: Gotham"><strong>Review and issue addendum to all quoting subcontractors</strong></h5>
  </div>

  <div style="height: 30px"></div>

  <div class="text-center">
    <h3 style="font-size: 24px;font-family: Gotham"><strong><%= @edited_addenda.ref_no  %></strong></h3>
    <div style="height: 10px"></div>
  </div>
</div>


<%= form_tag(issue_addenda_addendas_path)  do %>
  <div class="email_div" >
    <div class="portlet">
      <div class="portlet-body form">
        <div class="form-body">
          <div class="form-group" >
            <h4 style="font-family: Gotham; font-size: 16px"><strong>ISSUE @</strong></h4>
            <input maxlength="200" type="text" required="required" class="form-control tendercon_id" readonly="readonly"   value="<%= @edited_addenda.created_at.strftime("%H:%M %d/%m/%Y ") %>" style="background-color: #F6F6F6;border-color: #F6F6F6"/> 

          </div>
          <div class="form-group" style="margin-top: -15px">
              <h4 style="font-family: Gotham; font-size: 16px"><strong>ADDENDA TYPE</strong></h4>
              <input maxlength="200" type="text" required="required" class="form-control" readonly="readonly"   value="Documents" style="background-color: #F6F6F6;border-color: #F6F6F6"/> 
          </div> 
          <div class="form-group" style="margin-top: -15px">
              <h4 style="font-family: Gotham; font-size: 16px"><strong>ISSUE TO</strong></h4>
              <input maxlength="200" type="text" required="required" class="form-control" readonly="readonly"   value="ALL Quoting subcontractors" style="background-color: #F6F6F6;border-color: #F6F6F6"/> 
          </div>  
          <div class="form-group" style="margin-top: -15px">
              <h4 style="font-family: Gotham; font-size: 16px"><strong>SUBJECT</strong></h4>
              <input maxlength="200" type="text" required="required" class="form-control" readonly="readonly"   value="<%= @edited_addenda.subject %>" style="background-color: #F6F6F6;border-color: #F6F6F6"/> 
          </div>  
          <div class="form-group" style="margin-top: -15px">
            <h4 style="font-family: Gotham; font-size: 16px"><strong>NOTES TO SCs</strong></h4>
            <%= text_area_tag('details',@edited_addenda.details .present? ? @edited_addenda.details .html_safe : nil,:cols => '109',:rows => '8',:class => 'form-control wysihtml5', :style => "background-color: #F6F6F6;border-color: #F6F6F6") %> 
          </div>

          <% if @documents.present? %>
            <div class="portlet-body form">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-12" style="margin-top: -50px;margin-left:-20px">
                    <h3 style="font-family: Gotham"><strong>TRADE DOCUMENTS</strong></h3>
                    <h2 style="font-size: 16px;font-family: Gotham;style="margin-top: -3px"">This addendum issued the following trade documents</h2>
                  </div>
                  
                  <div class="col-md-12" style="margin-top: -10px;margin-left:-20px">

                    <table  class="table" id="document_table">
                      <thead>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <% if @documents.present? %>
                          <% @documents.each_with_index do |t,index| %>
                              <% if session[:role] == 'Head Contractor' %>
                                  <tr>
                                    <td>
                                     <%= "#{t.document_file_name}" %>
                                      <!--<a href="<%#= "/assets/tender/document/#{t.id}/original/#{t.document_file_name}" %>" target="_blank">
                                        <%#= t.document_file_name %><label style="display: none"><%#= "#{t.directory} #{t.document_file_name}" %></label>
                                      </a>-->
                                    </td>

                                    <td > <%= convert_kb_to_mb t.document_file_size %> MB</td>
                                    <td ><%= t.directory %></td>
                                  </tr>

                              <% end %>

                          <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
          
            <input type="hidden" name="id" value="<%= tender.id %>">
            <input type="hidden" name="addenda" value="<%= @edited_addenda.id %>">
            

        </div>
      </div>
    </div>

  </div>
  <% if params[:addenda_type] == 'documents' %>
    
    <div class="form-actions text-center ">
      

      <a href="<%= new_addenda_path(:id => @tender.id,:addenda => params[:addenda],:addenda_type => "documents",:review => true) %>">
        <button type="submit" class="btn addenda_submit" style="color:#FFFFFF; background-color:#72bb53 ;border-radius: 2px !important;height: 36px !important;margin-right: 0px; ">
        <p style="margin-top: 1px; font-size: 14px">
          ISSUE ADDENDUM
        </p>
      </button>
      </a>
    </div>
  <% end %>
<% end %>

<script>
  $(document).ready(function(){
    /*$('.sent_mail').click(function(){
      $('.email_div').show();
    });*/
    $('#document_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "bFilter": 'false',
      searching: false,
      "columnDefs": [
        { "visible": false, "targets": 2 }
      ],
      "order": [[ 2, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(2, {page:'current'} ).data().each( function ( group, i ) {
          console.log("group:"+group);
          console.log("I -------> :"+i);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="3" class="editable" id="'+ i + '" title="'+ group+ '"><strong>'+ group+ '</strong></td>' +
                '</tr>'
            );

            last = group;
          }
        } );
      }
    } );

    $('.sent_mail').mouseenter(function() {
      $(this).attr("disabled", true);
      $(this).text('This feature is coming soon.');
    });

    $('.sent_mail').mouseleave(function() {
      $(this).attr("disabled", true);
      $(this).text('Sent Email');
    });
  });
</script>



