<div class="col-md-12 ">
  <%= form_for(@user,:url => update_invited_user_invites_path) do |f| %>
      <div class="text-center">
        <img src="/img/logos/TENDERCONABOVELOGO.png" width="350px">
      </div>
      <h4 class="text-center login-title">Hi <%= "#{@user.first_name}" %>, Welcome to Tendercon! </h4>
      <div class="form-group has-feedback">
        <%- if  @user.present?  %>
            <% if @user.errors.present? %>
                <div class="alert alert-danger open-sans-regular" id="users_error">
                  <button type="button" class="close" data-dismiss="alert"></button>
                  <h2>Errors</h2>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-danger open-sans-regular" id="users_error">
              <button type="button" class="close" data-dismiss="alert"></button>
              <%= @error_alert %>
              <div class="notice" style="font-size: 14px;"><%= flash[:error] %></div>
              <% flash[:error]=nil   %>
            </div>
        <% end %>
        <%- if !flash[:notice].nil? %>
            <div class="alert alert-success open-sans-regular" id="users_error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
              <% flash[:notice]=nil %>
            </div>
        <%- end %>
      </div>

      <div class="form-group">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <label>YOUR NAME</label>
        <div class="form-group required">
          <input type="text" name="name" value="<%= "#{@user.first_name} #{@user.last_name}" %>" class="form-control">
        </div>

        <!--<label>YOUR EMAIL</label>-->
        <div class="form-group required">
          <%= f.hidden_field :email,:class=>'form-control' %>
          <div class="email_error_message"></div>
        </div>

        <!--<label>YOU ARE JOINING COMPANY</label>-->
        <div class="form-group required">
          <input type="hidden" class="form-control" name="company" value="<%= @parent.company %>">
        </div>

        <label>CREATE PASSWORD</label>
        <div class="form-group required">
          <%= f.password_field :password,:class=>'form-control input-md'%>
          <div class="password_error" style="display: none;">
            <div class="password_length"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Minimum of 6 characters</p></div>
            <div class="password_number"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Should include at least 1 number.</p></div>
            <div class="password_letter"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Should include at least 1 Capital letter.</p></div>
          </div>

        </div>
        <label>CONFIRM PASSWORD</label>
        <div class="form-group required">
          <%= f.password_field :confirmed_password,:class=>'form-control input-md' %>
          <div class="con_password_error" style="display: none;">
            <div class="password_match"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Does not match to password.</p></div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit 'JOIN MY TEAM', :class => 'btn btn-primary', :style => 'border-radius: 10px'%>
      </div>
  <% end %>
  <br><br>
</div>


<script>

  $('#user_password').focusin(function(){
    $('.password_error').show();

    $(this).keyup(function(){
      var password = $(this).val();

      if(password.length >= 6){
        //$('.password_length').html('');
        $('.password_length').html('<p style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"> Minimum of 6 characters</i></p>');
      }else{
        $('.password_length').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Minimum of 6 characters</p>');
      }

      if(hasNumber(password)){
        //$('.password_number').html('');
        $('.password_number').html('<p style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"> Should include at least 1 number.</i></p>');
      }else{
        $('.password_number').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Should include at least 1 number.</p>');
      }

      if(validateCapitalLetters(password)){
        //$('.password_letter').html('');
        $('.password_letter').html('<p style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"> Should include at least 1 Capital letter.</i></p>');
      }else{
        $('.password_letter').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Should include at least 1 Capital letter.</p>');
      }
    });
  });

  $('#user_password').focusout(function(){
    $('.password_error').hide();
  });

  $('#user_confirmed_password').focusin(function(){
    var password = $('#user_password').val();
    //
    $(this).keyup(function(){
      if($(this).val().length > 2){
        //$('.con_password_error').show();
        if(password != $(this).val()){

          //$('.password_match').show();
          //$('.password_match').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Does not match.</p>')
        }else{
          $('.password_match').html('');
          //$('.password_match').html('<p style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"> Match</i></p>');
        }
      }

    })
  });

  $('#user_confirmed_password').focusout(function(){
    $('.con_password_error').hide();
  });

  function hasNumber(str){
    var regex = /\d/g;
    return regex.test(str);
  }


  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function validateCapitalLetters(str){
    var regex = /[A-Z]/
    return regex.test(str);
  }


</script>



