
<% if session[:role] == 'Head Contractor' %>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= @tenders.present? ? @tenders.size : 0  %>"><%= @tenders.present? ? @tenders.size : 0  %></span>
        </div>
        <div class="desc"> Total Posted Tenders </div>
      </div>
      <a class="more" href="/tenders/new_tender?info=true"> POST MORE TENDER
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= @tenders.present? ? @tenders.size : 0  %>"><%= @tenders.present? ? @tenders.size : 0  %></span></div>
        <div class="desc"> Total Live Tenders </div>
      </div>
      <a class="more" href="/tenders/my_tender"> VIEW MY TENDER
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green">
      <div class="visual">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= @hc_invite_subs.present? ? @hc_invite_subs.size : 0  %>"><%= @hc_invites.present? ? @hc_invite_subs.size : 0  %></span>
        </div>
        <div class="desc">  My Network </div>
      </div>
      <a class="more" href="<%= hc_invites_path %>"> VIEW MY NETWORK
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple">
      <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= User.company_completeness(@user.id) %>"></span>%  </div>
        <div class="desc"> Profile Completeness </div>
      </div>
      <a class="more" href="<%= company_profile_users_path(:id => session[:user_logged_id]) %>"> Complete My Profile
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>

  <div class="col-md-12" style="background-color: #fafafa">
    <div style="height: 150px"></div>
    <div class="text-center">
      <h3 style="color: #525e64">
        New Tracking features coming soon..
      </h3>
    </div>
    <div style="height: 150px"></div>
  </div>

<% else %>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number">
            <span data-counter="counterup" data-value="<%= @tender_invites_cnt.present? ? @tender_invites_cnt.uniq.size : 0 %>"><%= @tender_invites_cnt.present? ? @tender_invites_cnt.uniq.size : 0 %></span>
          </div>
          <div class="desc"> Total Invited Tenders </div>
        </div>
        <a class="more" href="/tenders/invited_tender"> VIEW MY INVITED TENDERS
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat red">
        <div class="visual">
          <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
          <div class="number">
            <span data-counter="counterup" data-value="<%= @open_tender_size %>"><%= @open_tender_size %></span></div>
          <div class="desc"> Total Open Tenders </div>
        </div>
        <a class="more" href="/tenders/open_tender"> VIEW OPEN TENDERS
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green">
        <div class="visual">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="details">
          <div class="number">
            <span data-counter="counterup" data-value="<%= @my_tenders %>"><%= @my_tenders %></span>
          </div>
          <div class="desc"> My Total Active Tenders </div>
        </div>
        <a class="more" href="/tenders/my_tender"> MANAGE MY TENDERS
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple">
        <div class="visual">
          <i class="fa fa-globe"></i>
        </div>
        <div class="details">
          <div class="number">
            <span data-counter="counterup" data-value="<%= User.company_completeness(@user.id) %>"></span>%  </div>
          <div class="desc"> Profile Completeness </div>
        </div>
        <a class="more" href="<%= company_profile_users_path(:id => session[:user_logged_id]) %>"> Complete My Profile
          <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-md-12" style="background-color: #fafafa">
      <div style="height: 150px"></div>
      <div class="text-center">
        <h3 style="color: #525e64">
          New Tracking features coming soon..
        </h3>
      </div>
      <div style="height: 150px"></div>
    </div>
  </div>
<% end %>







<script>
  $(document).ready(function(){
    $('.invited').click(function(){
      document.getElementById("sub_tender_link").style.color = "red"
      document.getElementById("sub_tender_link").style.background = "black"

      setTimeout(function() {

        document.getElementById("sub_tender_link").style.color = ""
        document.getElementById("sub_tender_link").style.background = ""
      }, 5000);

    })

    $('.post_tender').click(function(){
      document.getElementById("post_tender_link").style.color = "red"
      document.getElementById("post_tender_link").style.background = "black"

      setTimeout(function() {

        document.getElementById("post_tender_link").style.color = ""
        document.getElementById("post_tender_link").style.background = ""
      }, 5000);

    })

    $('.manage_tender').click(function(){
      document.getElementById("my_tender_link").style.color = "red"
      document.getElementById("my_tender_link").style.background = "black"

      setTimeout(function() {

        document.getElementById("my_tender_link").style.color = ""
        document.getElementById("my_tender_link").style.background = ""
      }, 5000);

    })

    $('.remove').click(function(){

      $.ajax({
        method: "POST",
        data: {div:'dashboard'},
        url: "/users/dashboard_user_div"
      }).done(function (data) {
        $('.guidelines').hide();
        $('.four_divs').show();
      });
    })

    <% if @user.div_status == true %>
      $('.guidelines').hide();
      $('.four_divs').show();
    <% else %>
      $('.guidelines').show();
      $('.four_divs').hide();
    <% end %>
  });

</script>