<% if session[:role] == 'Head Contractor' %>
    <div class="row guidelines" style="height: 1600px">
      <div class="col-md-12" style="background-color: #2C3E50;color: white; height: 400px">
        <div class="text-center">
          <div class="pull-right">
            <div class="top-menu">
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                    <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                      <i class="fa fa-angle-down"></i>
                    </button>
                  </a>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                      <a href="#!" class="remove">Remove</a>
                    </li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
          <h3>Hello <%= @user.first_name %>!</h3>
          <label>Inviting Substractors to your Network will help you receive more quotes and</label>
          <div style="height: 5px"></div>
          <label>make Tender Management much easier</label>
        </div>
        <div class="row" style="margin-top: 30px">
          <div class="col-md-12">
            <div class="col-md-4" style="background-color: #ffffff; height: 450px; z-index: 1000; border-style: groove;">
              <div style="height: 30px"></div>
              <div class="text-center">
                <strong style="color: #525e64">NETWORK</strong>
                <div style="height: 30px"></div>
                <div class="profile-userpic">
                  <img src="/img/logos/IMAGE_1_256P.png" class="img-responsive" alt="" style="width: 150px !important; height: 140px !important;">
                </div>
                <div style="height: 30px"></div>
                <strong style="color: #525e64">INVITES SUBCONTRACTORS</strong>
                <p style="color: #95a5a6">Inviting Subcontractors to your Network will help you
                  receive more quotes and make Tender Management much easier
                </p>
                <div style="height: 30px"></div>
                <button class="btn btn-info invited" type="button" style="width: 150px">
                  INVITE
                </button>
              </div>
            </div>
            <div class="col-md-4" style="background-color: #ffffff; height: 450px; z-index: 1000;border-style: groove;">
              <div style="height: 30px"></div>
              <div class="text-center">
                <strong style="color: #525e64">POST</strong>
                <div style="height: 30px"></div>
                <div class="profile-userpic">
                  <img src="/img/logos/IMAGE_2_256P.png" class="img-responsive" alt="" style="width: 150px !important; height: 140px !important;">
                </div>
                <div style="height: 30px"></div>
                <strong style="color: #525e64">POST YOUR TENDER</strong>
                <p style="color: #95a5a6">Inviting Subcontractors to your Network will help you
                  receive more quotes and make Tender Management much easier
                </p>
                <div style="height: 30px"></div>
                <button class="btn btn-info post_tender" type="button" style="width: 150px">
                  POST TENDER
                </button>
              </div>
            </div>

            <div class="col-md-4" style="background-color: #ffffff; height: 450px; z-index: 1000;border-style: groove;">
              <div style="height: 30px"></div>
              <div class="text-center">
                <strong style="color: #525e64">MANAGE</strong>
                <div style="height: 30px"></div>
                <div class="profile-userpic">
                  <img src="/img/logos/IMAGE_3_256P.png" class="img-responsive" alt="" style="width: 150px !important; height: 140px !important;">
                </div>
                <div style="height: 30px"></div>
                <strong style="color: #525e64">POST YOUR TENDER</strong>
                <p style="color: #95a5a6">Inviting Subcontractors to your Network will help you
                  receive more quotes and make Tender Management much easier
                </p>
                <div style="height: 30px"></div>
                <button class="btn btn-info manage_tender" type="button" style="width: 150px">
                  MANAGE
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row four_divs" style="display: none">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
          <div class="visual">
            <i class="fa fa-comments"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="1349">0</span>
            </div>
            <div class="desc"> New Feedbacks </div>
          </div>
          <a class="more" href="javascript:;"> View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
          <div class="visual">
            <i class="fa fa-bar-chart-o"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="12,5">0</span>M$ </div>
            <div class="desc"> Total Profit </div>
          </div>
          <a class="more" href="javascript:;"> View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
          <div class="visual">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="549">0</span>
            </div>
            <div class="desc"> New Orders </div>
          </div>
          <a class="more" href="javascript:;"> View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
          <div class="visual">
            <i class="fa fa-globe"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="<%= User.company_completeness(@user.id) %>"></span>%  </div>
            <div class="desc"> Profile Completeness </div>
          </div>
          <a class="more" href="<%= company_profile_users_path(:id => session[:user_logged_id]) %>"> Complete My Profile
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
          <div class="visual">
            <i class="fa fa-comments"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="1349">0</span>
            </div>
            <div class="desc"> New Feedbacks </div>
          </div>
          <a class="more" href="javascript:;"> View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
          <div class="visual">
            <i class="fa fa-bar-chart-o"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="12,5">0</span>M$ </div>
            <div class="desc"> Total Profit </div>
          </div>
          <a class="more" href="javascript:;"> View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
          <div class="visual">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="549">0</span>
            </div>
            <div class="desc"> New Orders </div>
          </div>
          <a class="more" href="javascript:;"> View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
          <div class="visual">
            <i class="fa fa-globe"></i>
          </div>
          <div class="details">
            <div class="number">
              <span data-counter="counterup" data-value="<%= User.company_completeness(@user.id) %>"></span>%  </div>
            <div class="desc"> Profile Completeness </div>
          </div>
          <a class="more" href="<%= company_profile_users_path(:id => session[:user_logged_id]) %>"> Complete My Profile
            <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
    </div>

<% end %>



<script>
  $(document).ready(function(){
    $('.invited').click(function(){
      document.getElementById("sub_tender_link").style.color = "red"
      document.getElementById("sub_tender_link").style.background = "black"

      setTimeout(function() {

        document.getElementById("sub_tender_link").style.color = ""
        document.getElementById("sub_tender_link").style.background = ""
      }, 5000);

    })

    $('.post_tender').click(function(){
      document.getElementById("post_tender_link").style.color = "red"
      document.getElementById("post_tender_link").style.background = "black"

      setTimeout(function() {

        document.getElementById("post_tender_link").style.color = ""
        document.getElementById("post_tender_link").style.background = ""
      }, 5000);

    })

    $('.manage_tender').click(function(){
      document.getElementById("my_tender_link").style.color = "red"
      document.getElementById("my_tender_link").style.background = "black"

      setTimeout(function() {

        document.getElementById("my_tender_link").style.color = ""
        document.getElementById("my_tender_link").style.background = ""
      }, 5000);

    })

    $('.remove').click(function(){
      $('.guidelines').hide();
      $('.four_divs').show();
    })
  });

</script>