<div class="quote_list_table">

  <div class="admin-form">
    <div class="row">
      <div class="col-md-6">

        <% if quotes.present? %>
            <button class="button btn-default quote_download" disabled>
              <i class="fa fa-download " aria-hidden="true"></i> Download
            </button>
            <% if session[:role] == 'Sub Contractor' %>
                <button class="button btn-danger remove_quote" disabled> Delete
                  <i class="fa fa-trash remove_quote" aria-hidden="true"></i>
                </button>

            <% end %>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if quotes.present? %>
          <div class="section">
            <label class="field select">
              <select class="trades">
                <% if @trades.present? %>
                    <option value="0">Default</option>
                    <% @trades.each do |t| %>
                        <option value="<%= t.id %>"><%= get_trade_name t %></option>
                    <% end %>
                <% end %>
              </select>
              <i class="arrow"></i>
            </label>
          </div>
        <% end %>
      </div>

      <div class="col-md-3 pull-right">
        <div class="section">
          <div class="smart-widget sm-left sml-50">
            <label class="field">
              <input type="text" name="sm3" id="filter" class="gui-input" placeholder="Search Here">
            </label>
            <label for="sm3" class="button">
              <i class="fa fa-search"></i>
            </label>
          </div>
          <!-- end .smart-widget section -->
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered" id="new_quote_table">

    <thead>
      <tr style="background-color: #2C3E50;color: white;">
        <th class="text-center"><input type="checkbox" class="quote_list_master"></th>

        <th class="text-center">Quote#</th>
        <th class="text-center">Title</th>
        <% if session[:role] == 'Head Contractor' %>
            <th class="text-center">Received</th>
        <% end %>
        <% if session[:role] == 'Sub Contractor' %>
            <th class="text-center">Sent</th>
            <th class="text-center">Seen</th>
        <% end %>
        <th class="text-center">Trades</th>

        <th class="text-center">Price</th>
        <%# if session[:role] == 'Sub Contractor' %>
            <!--<th class="text-center" style="color: #484D61">Viewed By HC</th>-->
        <%# end %>
        <th class="text-center">Status</th>
        <th class="text-center">Action</th>
        <% if session[:role] == 'Head Contractor' %>
            <th class="text-center" style="display: none">Company</th>
            <!--<th class="text-center" style="display: none">Notification</th>-->
            <th class="text-center">Company Row</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="searchable">
    <% if quotes.present? %>
        <% quotes.uniq.each do |d| %>
            <tr>
              <td class="text-center"><input type="checkbox" class="quote_list" name="documents[]" value="<%=  d.id %>"></td>
              <td class="text-center"><%= d.ref_no %></td>
              <% if ( d.status) == "Active" %>
                  <td class="text-center">
                    <%=  d.title %>
                  </td>
              <% else %>
                  <td class="text-center">
                    <strike><%=  d.title %></strike>
                  </td>
              <% end %>
              <% if session[:role] == 'Head Contractor' %>
                  <td class="text-center"><%= get_received d.ref_no %></td>
              <% end %>
              <% if session[:role] == 'Sub Contractor' %>
                  <td class="text-center">
                    <%= get_created d.ref_no %>
                  </td>
                  <td class="text-center">

                    <% if (get_seen_status d.ref_no) == 1 %>
                        <i class="fa fa-eye" aria-hidden="true" style="color: green"></i>
                    <% else %>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    <% end %>
                  </td>
              <% end %>

              <td class="text-center">
                <a href="#!" title="Trades" class="popoverData" data-toggle="popover" data-trigger="focus" data-content="<%= get_quote_trades d.ref_no,d.tender_id %>">
                  <span class="badge progress-bar-success"><%= get_trade_counts d.ref_no,d.tender_id  %></span>
                </a>
              </td>

              <td class="text-center"><%= "$ #{( d.price)}" %></td>
              <%# if session[:role] == 'Sub Contractor' %>
                <!--<td class="text-center"><%#= Time.now.strftime("%d.%m.%Y") %></td>-->
              <%# end %>
              <% if (d.status) == "Active" %>
                  <td class="text-center">
                    <button class="btn btn-success" disabled>
                      <%= d.status %>
                    </button>
                  </td>
              <% else %>
                  <td class="text-center">
                    <button class="btn btn-danger" disabled>
                      <%=  d.status %>
                    </button>
                  </td>
              <% end %>
              <td class="text-center">
                <a href="#!<%#= view_quotes_path(:ref_no => d,:tender_id => tender_id) %>" data-toggle="modal" data-target="#quote<%=  d.id %>">
                  <button class="btn btn-default view">
                    View
                  </button>
                </a>
                <%# if session[:role] == 'Sub Contractor' %>
                    <!--<a href="<%#= delete_quote_quotes_path(:id => (get_id d)) %>">
                      <button class="btn btn-danger edit">
                        Delete
                      </button>
                    </a>-->
                <%# end %>
              </td>
              <% if session[:role] == 'Head Contractor' %>
                  <td class="text-center" style="display: none"><%= get_quote_user_company d.ref_no %></td>
                  <!--<td class="text-center" style="display: none"></td>-->
                  <td class="text-center" style="display: none"><%= get_quote_user_company d.ref_no %></td>
              <% end %>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<%= render 'quotes/view_dialog' %>

<div style="display: none;">
  <a href="" class="zip_link" target="_blank"></a>
</div>

<div style="display: none;">
  <a href="" class="download_link" target="_blank"></a>
</div>

<script>
  $(document).ready(function(){

    <% if @quote_id.present? %>
       var quote_id = '<%= @quote_id %>';
       $('#quote'+quote_id).modal('show');
    <% end %>

    <% if session[:role] == 'Sub Contractor' %>
      $('#new_quote_table').DataTable({
        "bSort" : false,
        "bPaginate": false,
        "bInfo" : false,
        "dom":'fltip',
        "bFilter": 'false',
        searching: false,
      });
    <% else %>
      $('#new_quote_table').DataTable({
        "bSort" : false,
        "bPaginate": false,
        "bInfo" : false,
        "dom":'fltip',
        "bFilter": 'false',
        searching: false,
        "columnDefs": [
          { "visible": false, "targets": 9 }
        ],
        "order": [[ 9, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
          var api = this.api();
          var rows = api.rows( {page:'current'} ).nodes();
          var last=null;

          api.column(8, {page:'current'} ).data().each( function ( group, i ) {

            if ( last !== group ) {
              $(rows).eq( i ).before(
                  '<tr class="group"><td colspan="7" class="editable" id="'+ i + '" title="'+ group+ '"> '+ group+ '</td>' +
                  '</td></tr>'
              );

              last = group;
            }
          } );
        }
      });
    <% end %>

    var ids = [];
    $('.quote_download').click(function(){

      var tender_id = $('.tender_id').val();

      $("input:checkbox:checked").map(function()
      {
        if(parseInt($(this).val()) > 0){
          ids.push($(this).val());
        }

      })
      console.log("ids:"+ids);
      if(ids.length > 0){
        $.ajax({
          method: "POST",
          data: {ids:ids,tender_id:tender_id},
          url: "/quotes/download_quotes"
        }).done(function (data) {
          $('.download_link').attr('href', data.link)
          var link = $(".download_link");
          link.click();
          window.location.href = link.attr("href");
          ids = [];
        });
      }else{
        alert("Please select quote first.")
      }


    });

    $('.remove_quote').click(function(){
      var tender_id = $('.tender_id').val();
      $("input:checkbox:checked").map(function()
      {
        if(parseInt($(this).val()) > 0){
          ids.push($(this).val());
        }

      })
      console.log("ids:"+ids);
      if(ids.length > 0){
        $.ajax({
          method: "POST",
          data: {ids:ids,tender_id:tender_id},
          url: "/quotes/delete_quotes"
        }).done(function (data) {
          ids = [];
          $('.quote_all_lists').html(data);
        });
      }else{
        alert("Please select quote first.")
      }


    });

    $('.all_sub').click(function(){

      console.log("all_sub:"+ids);
      $.ajax({
        method: "POST",
        data: {ids:ids},
        url: "/shared_rfis/shared_by_trade"
      }).done(function (data) {
        ids = [];
        $('#shared_modal').modal('hide');
        $('#option3_modal').modal('hide');
        $('#option1_modal').modal('hide');
        $('#option2_modal').modal('hide');
        $('.all_sub_body').html(data);
        $('#success_all_sub_modal').modal('show');
        $("input:checkbox:checked").map(function()
        {
          $(this).prop('checked',false);
        })

        $('.shared_option').prop('checked',false);

      });
    });

    $('.quote_list').click(function(){

      //$('.quote_list').each(function() {
        if($(this).prop('checked')){
          console.log("TEST"+$(this).prop('checked'));
          //$('.quote_download').removeAttr("disabled");
          //$('.remove_quote').removeAttr("disabled");
          $('.quote_download').prop('disabled', false);
          $('.remove_quote').prop('disabled', false);
        }else{
          $('.quote_download').prop('disabled', true);
          $('.remove_quote').prop('disabled', true);
        }
      //})
    });

    $('.quote_list_master').click(function(){

      if($('.quote_list').prop('checked')){
        $('.quote_list').prop('checked',false);
        $('.quote_download').prop('disabled', true);
        $('.remove_quote').prop('disabled', true);
      }else{

        $('.quote_list').prop('checked',true);
        $('.quote_download').prop('disabled', false);
        $('.remove_quote').prop('disabled', false);
      }
    });

    $('.trades').change(function(){
      var tender_id = $('.tender_id').val();
      var trade_id = $(this).val();
      console.log("tender_id:"+tender_id);
      console.log("trade_id:"+trade_id);

      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,trade_id:trade_id},
        url: "/quotes/search_by_trade"
      }).done(function (data) {
        $('.quote_list_table').html('');
        $('.quote_list_table').html(data);
      });
    });

    $('.popoverData').popover({ trigger: "hover" });


    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })
  })


</script>