
<div class="clearfix"> </div>

<div class="page-container">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <% if session[:role] == 'Sub Contractor' || session[:role] == 'Team Member'  %>
            <a href="<%= sc_tender_tenders_path(:id => @tender.id,:quote => 'true') %>">
              <button class="btn btn-default"><i class="fa fa-hand-o-left"></i> Return to Quote Register</button>
            </a>
        <% else %>
            <a href="<%= hc_tender_tenders_path(:id => @tender.id,:quote => 'true') %>">
              <button class="btn btn-default"><i class="fa fa-hand-o-left"></i> Return to Quote Register</button>
            </a>
        <% end %>

      </li>


    </ul>
    <div class="page-toolbar">
      <div class="btn-group pull-right">
        <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li>
            <a href="<%= @pdf_link %>" class="download" download><i class="fa fa-cloud-download"></i> Download</a>

          </li>
          <li>
            <a href="<%= @pdf_link %>" class="download" target="_blank"><i class="fa fa-file-pdf-o"></i> View as PDF</a>
          </li>
          <% if session[:role] == 'Sub Contractor' %>
              <li>
                <a href="<%= update_quote_quotes_path(:quote_id => @quote.id) %>"><i class="fa fa-trash-o"></i> Delete</a>
              </li>
          <% end %>
          <li>
            <a class="" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!-- END PAGE BAR -->
  <!-- BEGIN PAGE TITLE-->
  <!--<h3 class="page-title"> Invoice 2
    <small>invoice sample</small>
  </h3>-->
  <!-- END PAGE TITLE-->
  <!-- END PAGE HEADER-->
  <div class="invoice-content-2 bordered">
    <div class="row invoice-head">
      <div class="col-md-7 col-xs-6">
        <div class="invoice-logo">
          <% if @sc_user.company_avatar.present? %>
            <% if File.exist?(@sc_user.company_avatar.image.path(:original)) %>
                <img src="<%= @sc_user.company_avatar.image.url(:original) %>" class="img-responsive" alt="" class="img-responsive" width="200px" height="100px">
            <% else %>
                <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""  width="200px" height="100px">
            <% end %>
          <% else %>
            <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""  width="200px" height="100px">
          <% end %>
        </div>
      </div>
      <div class="col-md-5 col-xs-6">
        <div class="company-address">
          <span class="bold uppercase"><%= @sc_user.company %></span>
          <br/> <%= "#{@sc_user.first_name} #{@sc_user.last_name}" %>
          <% if @sc_user.address.present? %>
              <br/> <%= @sc_user.address.location %>
          <% end %>
          <br/>

          <span class="bold">E</span> <%= @sc_user.email %>
          <br/>
          <span class="bold"></span>
        </div>
      </div>
    </div>
    <div class="row invoice-cust-add">
      <div class="col-xs-3">
        <h2 class="invoice-title uppercase">Ref#</h2>
        <p class="invoice-desc"><%= @quote.ref_no %></p>
      </div>
      <div class="col-xs-3">
        <h2 class="invoice-title uppercase">Date</h2>
        <p class="invoice-desc"><%= @quote.quote_date.present? ? @quote.quote_date.strftime('%Y.%m.%d') : nil %></p>
      </div>
      <div class="col-xs-2">
        <h2 class="invoice-title uppercase">To</h2>
        <p class="invoice-desc">
          <%= @quote.to %>
        </p>
      </div>
      <div class="col-xs-2">
        <h2 class="invoice-title uppercase">Attention</h2>
        <p class="invoice-desc"><%= @quote.attention %></p>
      </div>


    </div>
    <div class="row invoice-body">
      <div class="col-xs-4 table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="invoice-title uppercase">Title</th>
            <th class="sbold"><%= @quote.title %></th>
          </tr>
          </thead>

        </table>
      </div>
    </div>
    <div class="row invoice-body">
      <div class="col-xs-4 table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="invoice-title uppercase">Trade</th>
            <th class="invoice-desc">
              <% if (get_trades @quote.ref_no).present? %>
                  <% (get_trades @quote.ref_no).each do |t| %>
                      <label class="invoice-desc"><%= get_trade_name t.trade_id %></label>
                      <br/>
                  <% end %>
              <% end %>
            </th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="row invoice-body">
      <div class="col-xs-12 table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="invoice-title uppercase">Description</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <h3><%= @quote.description %></h3>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row invoice-subtotal">
      <div class="col-xs-3">
        <h2 class="invoice-title uppercase">Subtotal</h2>
        <p class="invoice-desc">$<%= @quote.price %></p>
      </div>
      <div class="col-xs-3">
        <h2 class="invoice-title uppercase">Tax (0%)</h2>
        <p class="invoice-desc">10</p>
      </div>
      <div class="col-xs-6">
        <h2 class="invoice-title uppercase">Total</h2>
        <p class="invoice-desc grand-total">$<%= get_tax_computation @quote.price %></p>
      </div>
    </div>

    <div class="row invoice-subtotal">
      <div style="height: 30px"></div>
      <div class="col-md-12">
        <div class="document_attached_files" > 

        </div>  
      </div>
    </div>

  </div>

</div>

<input type="hidden" class="tender_id" value="<%= @tender.id %>">
<input type="hidden" class="quote_id" value="<%= @quote.id %>">

<div style="display: none;">
  <a href="" class="download_link" target="_blank" download></a>
</div>

<script>
  var tender_id = $('.tender_id').val();
  var quote_id = $('.quote_id').val();
  $.ajax({
    method: "POST",
    data: {tender_id:tender_id,view:'true',quote_id:quote_id},
    url: "/quote_documents/get_documents"
  }).done(function (data) {
    $('.document_attached_files').html(data);
  });

  /*$('.download').click(function(){
   var tender_id = $('.tender_id').val();
   console.log("djsdjshadhajdha")
   $.ajax({
   method: "POST",
   data: {tender_id:tender_id,quote_id:quote_id},
   url: "/quotes/download_quotes"
   }).done(function (data) {
   console.log(data.link);
   $('.download_link').attr('href', data.link)
   var link = $(".download_link");
   link.click();
   window.location.href = link.attr("href");
   });
   });*/
</script>


