<div class="page-sidebar-wrapper" style="width: 250px !important;">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler"> </div>
      </li>
      <li class="sidebar-search-wrapper">

      </li>

      <% if session[:role] == 'Admin' %>
          <li class="heading">
            <h3 class="uppercase" style="color: #aaaaaa">CMS</h3>
          </li>
          <% if params[:controller] == 'sites' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= sites_path %>"  class="nav-link" id="post_tender_link">
            <i class="fa fa-plus-square"></i>
            <span class="title" style="color: #f1f1f1">Home</span>
            <span class="selected"></span>
          </a>
          </li>

          <% if params[:controller] == 'feature_pages' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= feature_pages_path %>"  class="nav-link" >
            <i class="fa fa-plus-square"></i>
            <span class="title" style="color: #f1f1f1">Features</span>
            <span class="selected"></span>
          </a>
          </li>

          <% if params[:controller] == 'company_pages' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= company_pages_path %>"  class="nav-link" >
            <i class="fa fa-plus-square"></i>
            <span class="title" style="color: #f1f1f1">Company</span>
            <span class="selected"></span>
          </a>
          </li>

          <% if params[:controller] == 'contact_pages' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= contact_pages_path %>"  class="nav-link" >
            <i class="fa fa-plus-square"></i>
            <span class="title" style="color: #f1f1f1">Contact Us</span>
            <span class="selected"></span>
          </a>
          </li>

          <% if params[:controller] == 'header_navs' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= header_navs_path %>"  class="nav-link" >
            <i class="fa fa-plus-square"></i>
            <span class="title" style="color: #f1f1f1">Header Nav</span>
            <span class="selected"></span>
          </a>
          </li>


          <% if params[:controller] == 'pricing_pages' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= pricing_pages_path %>"  class="nav-link" >
            <i class="fa fa-plus-square"></i>
            <span class="title" style="color: #f1f1f1">Price</span>
            <span class="selected"></span>
          </a>
          </li>

          <% if params[:controller] == 'users' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= users_path %>"  class="nav-link" >
            <i class="fa fa-plus-square"></i>
            <span class="title" style="color: #f1f1f1">Users</span>
            <span class="selected"></span>
          </a>
          </li>


    <% end %>
      <li class="heading">
        <h3 class="uppercase" style="color: #aaaaaa">HOME</h3>
      </li>


      <% if params[:controller] == 'dashboard' %>
          <li class="nav-item start active open">
      <% else %>
          <li class="nav-item start">
      <% end %>

      <% if @user.role == 'Head Contractor' %>
          <a href="/dashboard?builder=true" class="nav-link ">
            <i class="icon-bar-chart"></i>
            <span class="title" style="color: #f1f1f1">Dashboard</span>
            <span class="selected"></span>
          </a>
      <% elsif @user.role == 'Sub Contractor' %>
          <a href="/dashboard?subcontractor=true" class="nav-link ">
            <i class="icon-bar-chart"></i>
            <span class="title" style="color: #f1f1f1">Dashboard</span>
            <span class="selected"></span>
          </a>
      <% else %>
          <a href="<%= dashboard_index_path %>" class="nav-link ">
            <i class="icon-bar-chart"></i>
            <span class="title" style="color: #f1f1f1">Dashboard</span>
            <span class="selected"></span>
          </a>
      <% end %>


      </li>
      <!--<li class="heading">
        <h3 class="uppercase">Features</h3>
      </li>

      <%# if params[:controller] == 'calendars' %>
          <li class="nav-item start active open">
      <%# else %>
          <li class="nav-item  start">
      <%# end %>
        <a href="<%#= calendars_path %>" class="nav-link ">
          <i class="fa fa-calendar-check-o"></i>
          <span class="title" style="color: #f1f1f1">Calendar</span>
          <span class="selected"></span>
        </a>
      </li>-->

      <li class="heading">
        <h3 class="uppercase" style="color: #aaaaaa">Tender Management</h3>
      </li>

      <% if session[:role] == 'Head Contractor' %>
          <% if params[:action] == 'new_tender' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= '/tenders/new_tender?info=true&builder=true' %>"  class="nav-link" id="post_tender_link">
            <i class="icon-plus"></i>
            <span class="title" style="color: #f1f1f1">Post Tender</span>
            <% if params[:action] == 'new_tender' %>
                <span class="selected"></span>
            <% end %>
          </a>
          </li>
      <% end %>

      <% if session[:role] == 'Sub Contractor' %>
        <% if params[:action] == 'invited_tender' %>
            <li class="nav-item start active open">
              <span class="selected"></span>
        <% else %>
            <li class="nav-item">
        <% end %>
        <a href="<%= '/tenders/invited_tender' %>">
          <i class="fa fa-envelope"></i>
          <span class="title" style="color: #f1f1f1">Invited Tenders</span>
          <% if params[:action] == 'invited_tender' %>
              <span class="selected"></span>
          <% end %>
          <span class="badge badge-danger" style="background-color: #f5494d;font-size: 14px; height: 20px;width: 20px"><%= @tender_invites_cnt.present? ? @tender_invites_cnt.uniq.size : nil %></span>
        </a>
        </li>

        <% if params[:action] == 'open_tender' %>
            <li class="nav-item start active open">
              <span class="selected"></span>
        <% else %>
            <li class="nav-item">
        <% end %>
        <a href="<%= '/tenders/open_tender' %>" class="nav-link ">
          <i class="fa fa-opencart" aria-hidden="true"></i>
          <span class="title" style="color: #f1f1f1">Open Tenders</span>
          <% if params[:action] == 'open_tender' %>
              <span class="selected"></span>
          <% end %>
          <% if params[:action] == 'invited_tender' %>
              <span class="selected"></span>
          <% end %>
          <span class="badge badge-danger" style="background-color: #f5494d;font-size: 14px; height: 20px;width: 20px"><%= @open_tender_size %></span>
        </a>
        </li>
      <% end %>


      <% if params[:action] == 'my_tender' || params[:action] == 'hc_tender' || params[:action] == 'sc_tender' || params[:controller] == 'quotes' || params[:controller] == 'rfis' %>
          <li class="nav-item start active open">
            <span class="selected"></span>
      <% else %>
          <li class="nav-item">
      <% end %>
      <% if @user.role == 'Head Contractor' %>
          <a href="<%= '/tenders/my_tender?builders=true' %>" class="nav-link " id="my_tender_link">
            <i class="icon-docs"></i>
            <span class="title" style="color: #f1f1f1">My Tenders</span>
            <% if params[:action] == 'my_tender' || params[:action] == 'hc_tender' || params[:action] == 'sc_tender' || params[:controller] == 'quotes'  || params[:controller] == 'rfis' %>
                <span class="selected"></span>
            <% end %>
            <% if session[:role] == 'Head Contractor' %>
                <span class="badge badge-danger" style="background-color: #f5494d;font-size: 14px; height: 20px;width: 20px"><%= @tenders.present? ? @tenders.size : 0 %></span>
            <% end %>
          </a>
      <% elsif @user.role == 'Sub Contractor' %>
          <a href="<%= '/tenders/my_tender?subcontractor=true' %>" class="nav-link " id="my_tender_link">
            <i class="icon-docs"></i>
            <span class="title" style="color: #f1f1f1">My Tenders</span>
            <% if params[:action] == 'my_tender' || params[:action] == 'hc_tender' || params[:action] == 'sc_tender' || params[:controller] == 'quotes'  || params[:controller] == 'rfis' %>
                <span class="selected"></span>
            <% end %>
            <% if session[:role] == 'Head Contractor' %>
                <span class="badge badge-danger" style="background-color: #f5494d;font-size: 14px; height: 20px;width: 20px"><%= @tenders.present? ? @tenders.size : 0 %></span>
            <% end %>
          </a>
      <% else %>

      <% end %>

      </li>

      <% if session[:role] == 'Head Contractor' %>
          <li class="heading">
            <h3 class="uppercase" style="color: #aaaaaa">MY NETWORK</h3>
          </li>
          <% if params[:controller] == 'hc_invites' %>
              <li class="nav-item start active open">
                <span class="selected"></span>
          <% else %>
              <li class="nav-item">
          <% end %>
          <a href="<%= '/hc_invites?builder=true' %>" class="nav-link " id="sub_tender_link">
            <i class="icon-users"></i>
            <span class="title" style="color: #f1f1f1">Subcontractors</span>
            <% if params[:action] == 'index' %>
                <span class="selected"></span>
            <% end %>
          </a>
          </li>
      <% end %>

    </ul>
  </div>
</div>




