<div class="top-menu">
  <% if @user.free_plan? && session[:role] == 'Sub Contractor'  %>

    <a href="/users/profile?id=97&subscription=true" class="btn green btn-outline sbold" style="margin-top: 5px">
      UPGRADE NOW
    </a>
  <% end %>
  <ul class="nav navbar-nav pull-right">
    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <% if Notification.notification_count(session[:user_logged_id]) > 0 %>
          <span class="badge badge-default" style="background-color: red"> <%= Notification.notification_count(session[:user_logged_id]) %> </span>
        <% end %>
      </a>
      <ul class="dropdown-menu">
        <li class="external">
          <h3>
            <span class="bold"><%= Notification.notification_count(session[:user_logged_id]) %> pending</span> notifications</h3>
          <a href="#!"></a>
        </li>
        <li>
          <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
            <% if @quote_notifs.present? %>
              <% @quote_notifs.each do |q| %>
                <li>
                  <a href="<%= q.message.include?("deleted") ? "/tenders/hc_tender?id=#{q.tender_id}&quote=true&notification=#{q.quote_id}" : "/tenders/hc_tender?id=#{q.tender_id}&quote=true&notification=#{q.quote_id}" %>">
                    <span class="time"><%= (time_ago_in_words(q.created_at)).gsub("about", "") + " ago" %></span>
                    <span class="details">
                      <% if q.message.include?("deleted") %>
                        <span class="label label-sm label-icon label-danger" style="background-color: #FF0000 ">
                          <i class="icon-doc"></i>
                        </span> <%= q.message %> </span>
                      <% else %>
                          <span class="label label-sm label-icon label-success" style="background-color: #32C5D2">
                            <i class="icon-doc"></i>
                        </span> <%= q.message %> </span>
                      <% end %>

                  </a>
                </li>
              <% end %>
            <% end %>

            <% if @rfi_notifs.present? %>
              <% @rfi_notifs.each do |r| %>
                <li>
                  <a href="<%= r.message.include?("left") ? "/rfis/comments?id=#{r.rfi_id}&tender_id=#{r.tender_id}&notification=#{r.id}"  : session[:role].include?("Head") ?  "/tenders/hc_tender?id=#{r.tender_id}&rfi=true&notification=#{r.id}" : "/tenders/sc_tender?id=#{r.tender_id}&rfi=true&notification=#{r.id}"  %>">
                    <span class="time"><%= (time_ago_in_words(r.created_at)).gsub("about", "") + " ago" %></span>
                      <span class="details">
                      <% if r.message.include?("deleted") %>
                              <span class="label label-sm label-icon label-danger" style="background-color: #FF0000 ">
                                <i class="fa fa-file"></i>
                          </span> <%= r.message %>
                        </span>
                      <% else %>
                          <span class="label label-sm label-icon label-success" style="background-color: #32C5D2">
                            <i class="fa fa-file"></i>
                        </span> <%= r.message %> </span>
                      <% end %>

                  </a>
                </li>
              <% end %>
            <% end %>


            <% if @addenda_notifs.present? %>
              <% @addenda_notifs.each do |r| %>
                <li>
                  <a href="<%= "/tenders/sc_tender?id=#{r.tender_id}&addenda=true"   %>">
                    <span class="time"><%= (time_ago_in_words(r.created_at)).gsub("about", "") + " ago" %></span>
                      <span class="details">
                        <span class="label label-sm label-icon label-danger" style="background-color: #796799 ">
                          <i class="icon-doc"></i>
                        </span> <%= r.message %>
                      </span>

                    </a>
                </li>
              <% end %>
            <% end %>
            <% if @tender_request_quote_notifs.present? %>
                <% @tender_request_quote_notifs.each do |r| %>
                    <li>
                      <a href="<%= "/tenders/sc_tender?id=#{r.tender_id}"   %>">
                        <span class="time"><%= (time_ago_in_words(r.created_at)).gsub("about", "") + " ago" %></span>
                      <span class="details">
                        <% if r.message.include?("declined") %>
                             <span class="label label-sm label-icon label-danger" style="background-color: red ">
                          <i class="icon-close"></i>
                        </span> <%= r.message %>
                        <% else %>
                           <span class="label label-sm label-icon label-danger" style="background-color: #26C281 ">
                          <i class="icon-check"></i>
                        </span> <%= r.message %>
                        <% end %>
                      </span>

                      </a>
                    </li>
                <% end %>
            <% end %>

            <% if @invited_notifications.present? %>
                <% @invited_notifications.each do |r| %>
                    <li>

                      <a href="<%= r.message.include?("invited") ? "/tenders/invited_tender": "/tenders/hc_tender?id=#{r.tender_id}&subcontractors=true"   %>">
                        <span class="time"><%= (time_ago_in_words(r.created_at)).gsub("about", "") + " ago" %></span>
                      <span class="details">
                        <% if r.message.include?("declined") %>
                             <span class="label label-sm label-icon label-danger" style="background-color: red ">
                          <i class="icon-user-unfollow"></i>
                        </span> <%= r.message %>
                        <% elsif r.message.include?("invited") %>
                           <span class="label label-sm label-icon label-danger" style="background-color: #F4D03F ">
                            <i class="icon-envelope"></i>
                          </span> <%= r.message %>
                        <% else %>
                           <span class="label label-sm label-icon label-danger" style="background-color: #26C281 ">
                          <i class="icon-user-following"></i>
                        </span> <%= r.message %>
                        <% end %>
                      </span>

                      </a>
                    </li>
                <% end %>
            <% end %>

            <% if @requested_tender_notifications.present? %>
                <% @requested_tender_notifications.each do |r| %>
                    <li>
                      <a href="<%= "/tenders/hc_tender?id=#{r.tender_id}&subcontractors=true&open=1"   %>">
                        <span class="time"><%= (time_ago_in_words(r.created_at)).gsub("about", "") + " ago" %></span>
                      <span class="details">
                         <span class="label label-sm label-icon label-danger" style="background-color: #F4D03F ">
                          <i class="icon-user"></i>
                        </span> <%= r.message %>

                      </span>

                      </a>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    </li>

    <li class="dropdown dropdown-user">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <% if @user.avatar.present? %>
            <% if File.exist?(@user.avatar.image.path(:original)) %>
                <img src="<%= @user.avatar.image.url(:original) %>" class="img-circle" alt="" style="width: 35px !important; height: 30px !important;">
            <% else %>
                <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle" alt="">
            <% end %>
        <% else %>
            <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle" alt="">
        <% end %>
        <span class="username username-hide-on-mobile"> <%= @user.first_name %> </span>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-default">
        <li>
          <a href="<%= profile_users_path(:id => session[:user_logged_id]) %>">
            <i class="icon-user"></i> My Profile </a>
        </li>
        <li>
          <a href="<%= company_profile_users_path(:id => session[:user_logged_id]) %>">
            <i class="icon-briefcase"></i> Company Profile </a>
        </li>
        <li>
          <a href="<%#= company_profile_users_path(:id => session[:user_logged_id]) %>">
            <i class="icon-support"></i> Help </a>
        </li>
        <li>
          <a href="<%= company_profile_users_path(:id => session[:user_logged_id]) %>">
            <i class="icon-emoticon-smile"></i> Feedback </a>
        </li>
        <li class="divider"> </li>
        <li>
          <a href="page_user_lock_1.html">
            <i class="icon-lock"></i> Lock Screen </a>
        </li>
        <li>
          <a href="<%= logout_users_path(:status => 'normal') %>">
            <i class="icon-power"></i> Log Out </a>
        </li>
      </ul>
    </li>
    <!-- END USER LOGIN DROPDOWN -->
    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
    <!--<li class="dropdown dropdown-quick-sidebar-toggler">
      <a href="javascript:;" class="dropdown-toggle">
        <i class="icon-logout"></i>
      </a>
    </li>-->
    <!-- END QUICK SIDEBAR TOGGLER -->
  </ul>

</div>