<div class="portlet light bordered">
  <div class="portlet-body form">
    <div class="form-body">
      <input type="hidden" name="addenda_type" value="documents">
      <div  style="height: 20px"></div>
      <div class="col-md-12 document_div"> 
        <div class="row">
          <div style="height: 40px;"></div>
        </div>

        <div class="document_upload">
          <div class="col-md-12" type="file" id="dir-select" webkitdirectory name="document"> 

            <div class="col-md-6  col-md-offset-3 addenda_dropzone">
              <div style="height: 60px;"></div>
              <p class="text-center">
                <i class="fa fa-cloud-upload fa-5x upload " aria-hidden="true"></i>
              </p>
              <h1 class="text-center">DRAG AND DROP</h1>
              <p class="text-center">your files anywhere</p> 

            </div>
          </div>  
        </div>

        <div class="table-responsive addenda_table_list" >
          <% if documents.present? %>
            <div class="row">
              <div style="height: 40px;"></div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <a href="#!" class="remove_document" id="<%= tender.id %>">
                  <button class="btn btn-danger" type="button">
                    <i class="fa fa-trash" aria-hidden="true"></i> Remove Document
                  </button>
                </a>
                <a href="#!" class="move_document" id="<%= @tender.id %>">
                  <button class="btn btn-warning" type="button">
                    <i class="fa fa-arrows" aria-hidden="true"></i> Move Files
                  </button>
                </a>
              </div>
            </div>

            <table class="table table-bordered responsive" id="document_table" cellspacing="0" width="100%">
              <thead>
              <th class="text-center"><input type="checkbox" class="document_list_master" name="document_list_master"></th>
              <th class="text-center">Filename</th>
              <th class="text-center">Size</th>
              <th class="text-center">Directory</th>
              <th></th>
              </thead>
              <tbody>
              <% documents.each_with_index do |t,index| %>
                <tr>
                  <td class="text-center"><input type="checkbox" class="document_list" name="document_list" value="<%= t.id %>"></td>
                  <td class="text-center"><%= t.document_file_name  %></td>
                  <td class="text-center"><%= convert_kb_to_mb t.document_file_size %> MB</td>
                  <td class="text-center"><%=  t.directory %></td>
                  <td></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>

        </div>
      </div>  
      <div class="col-md-12">

          <a href="/addendas/new?id=<%= tender.id %>&addenda=<%= addenda.id %>&type=documents&details=true">
            <button type="button" class="btn btn-danger">Back</button>
          </a>


        <a href="<%= new_addenda_path(:id => tender.id,:addenda => addenda.id,:addenda_type => "documents",:notify => true) %>">

          <button type="button" class="btn btn-default">Next</button>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#document_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "columnDefs": [
        { "visible": false, "targets": 3 }
      ],
      "order": [[ 3, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(3, {page:'current'} ).data().each( function ( group, i ) {
          console.log("group:"+group);
          console.log("I -------> :"+i);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="3" class="editable" id="'+ i + '" title="'+ group+ '"> '+ group+ '</td>' +
                '<td class="text-center"> <i class="fa fa-file-text add_files" aria-hidden="true"  id="'+ group+ '"></i>'+
                '</td></tr>'
            );

            last = group;
          }
        } );
      }
    });

    $('.editable').click(function(e){
      var i=0;
      var id= $(this).attr('id');
      var title= $(this).attr('title');
      var tender_id= $('.tender_id').val();
      e.stopPropagation();      //<-------stop the bubbling of the event here
      var value = $('#'+id).html();

      console.log(id+i);

      updateVal('#'+id, value,title,tender_id);
    });

    function updateVal(currentEle, value,title,tender_id) {
      console.log("Current Element is"+currentEle);
      console.log("Current TITLE is"+title);
      $(currentEle).html('<input type="checkbox" class="document_list" name="documents[]" id="'+ title+ '"><input class="thVal" maxlength="100" type="text" width="2" value="'+title+'" />');
      $(".thVal").focus();
      $(".thVal").keyup(function (event) {
        if (event.keyCode == 13) {
          $(currentEle).html($(".thVal").val().trim());
          $.ajax({
            method: "POST",
            data: {tender_id:tender_id,new_value:$(this).val(),old_value:title},
            url: "/tenders/rename_file"
          }).done(function (data) {
            //$('.uploaded_docs').html(data);
            //$('.add_folder').hide();
            $('.folder').show();
            $('.document_div_table').html('');
            $('.document_div_table').html(data);
          });
        }
      });

      $(".thVal").focusout(function () { // you can use $('html')
        $(currentEle).html('<input type="checkbox" class="document_list" name="documents[]" id="'+ title+ '">' +$(".thVal").val().trim());
        console.log("tender_id"+tender_id);
        console.log("NEW VALUE:"+$(this).val());
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id,new_value:$(this).val(),old_value:title},
          url: "/tenders/rename_file"
        }).done(function (data) {
          //$('.uploaded_docs').html(data);
          //$('.add_folder').hide();
          $('.folder').show();
          $('.document_div_table').html('');
          $('.document_div_table').html(data);
        });

      });
    }

    $('.document_list_master').change(function(){
      console.log("ddjhasj");
      $('.document_list').click();
      $('.document_list').prop('checked',$(this).prop("checked"));
    });
  });
</script>