<div style="height: 50px"></div>
<div class="portlet light bordered">
  <div class="portlet-body form">
    <div class="form-body">
      <div class="row">
        <div class="col-md-6 pull-right">
          <label>Filter by Trade</label>
          <div class="form-group">
            <select class="form-control trades">
              <% if @trades.present? %>
                  <option value="0">All</option>
                  <% @trades.each do |t| %>
                      <option value="<%= t %>"><%= get_trade_name t %></option>
                  <% end %>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="documents">
        <table  class="table table-bordered" id="document_table">
          <thead>
          <tr>
            <th class="text-center">Document</th>
            <th class="text-center">Directory</th>
            <th class="text-center">Size</th>
            <th class="text-center">Updated</th>
            <th class="text-center">Added from Addendas</th>
            <th class="text-center">Packages</th>
          </tr>
          </thead>
          <tbody>
          <% if @documents.present? %>
              <% @documents.each do |t| %>
                  <tr>
                    <td class="text-center"><%= t.document_file_name %></td>
                    <td class="text-center"><%= t.directory %></td>
                    <td class="text-center"> <%= convert_kb_to_mb t.document_file_size %> MB</td>
                    <td class="text-center"><%= (t.updated_at).strftime("%d.%m.%Y") %></td>
                    <td>
                      <% if t.action_type == 'addenda' %>
                        "Addenda"
                      <% else %>
                        <%= nil %>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if (get_document_package t.id,@tender.id).to_i > 0 %>
                          <a href="/tenders/new_tender?package=true&info_id=<%= @tender.id %>&cmd=edit&id=<%= t.id %>">
                            <span class="badge progress-bar-success"><%= get_document_package t.id,@tender.id  %></span>
                          </a>
                      <% else %>
                          <a href="/tenders/new_tender?package=true&info_id=<%= @tender.id %>&cmd=edit&id=<%= t.id %>">
                            <span class="badge progress-bar-warning"><%= get_document_package t.id,@tender.id  %></span>
                          </a>
                      <% end %>
                    </td>

                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<input type="hidden" class="tender_id" name="<%= @tender.id %>">
<script>
  $(document).ready(function(){

    $('#document_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "columnDefs": [
        { "visible": false, "targets": 1 }
      ],
      "order": [[ 1, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(1, {page:'current'} ).data().each( function ( group, i ) {
          console.log("group:"+group);
          console.log("I -------> :"+i);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="5" class="editable" id="'+ i + '" title="'+ group+ '">'+ group+ '</td>' +
                '</tr>'
            );

            last = group;
          }
        } );
      }
    } );

    $('.directory').click(function () {
      var dir = $(this).attr('id');
      $('.'+dir).each(function(){
        $(this).toggle();
      })
    });

    $('#search').click(function(){
      var tender_id = $('.tender_id').val();
      var search = $('.search_text').val();
      var document_control = 'true'

      $.ajax({
        method: "POST",
        data: {search:search,tender_id:tender_id,document_control:document_control},
        url: "/tenders/search_by_documents"
      }).done(function (data) {
        $('.documents').html(data);
      });
    });

    $('.trades').change(function(){
      var trade_id = $(this).val();
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,trade_id:trade_id},
        url: "/tenders/search_by_trades"
      }).done(function (data) {
        $('.documents').html(data);
      });
    });
  });
</script>

<style>
  .dataTables_wrapper .dataTables_filter {
    float: left;
  }
</style>