<div style="height: 50px"></div>
<div class="admin-form">
  <div class="row">
    <div class="col-md-6">
      <button class="button btn-default document_download">
        <i class="fa fa-download " aria-hidden="true"></i> Download
      </button>
    </div>
    <div class="col-md-3">
      <div class="section">
        <label class="field select">
          <select class="form-control trades">
            <% if @trades.present? %>
                <option value="0">All</option>
                <% @trades.each do |t| %>
                    <% if session[:role] == 'Sub Contractor' %>
                        <% if @trades_approved.include? t %>
                            <option value="<%= t %>"><%= get_trade_name t %></option>
                        <% end %>
                    <% else %>
                        <option value="<%= t %>"><%= get_trade_name t %></option>
                    <% end %>
                <% end %>
            <% end %>
          </select>
          <i class="arrow"></i>
        </label>
      </div>
    </div>

    <div class="col-md-3 pull right">
      <div class="section">
        <div class="smart-widget sm-left sml-50">
          <label class="field">
            <input type="text" name="sm3" id="filter" class="gui-input" placeholder="Search Here">
          </label>
          <label for="sm3" class="button">
            <i class="fa fa-search"></i>
          </label>
        </div>
        <!-- end .smart-widget section -->
      </div>
    </div>
  </div>
</div>
<!--<div class="portlet light bordered">
  <div class="portlet-body form">-->
    <div class="form-body">
      <!--<div class="row">
        <div class="col-md-6 pull-right">
          <label>Filter by Trade</label>
          <div class="form-group">
            <select class="form-control trades">
              <%# if @trades.present? %>
                <option value="0">All</option>
                <%# @trades.each do |t| %>
                  <%# if session[:role] == 'Sub Contractor' %>
                    <%# if @trades_approved.include? t %>
                      <option value="<%#= t %>"><%#= get_trade_name t %></option>
                    <%# end %>
                  <%# else %>
                    <option value="<%#= t %>"><%#= get_trade_name t %></option>
                  <%# end %>
                <%# end %>
              <%# end %>
            </select>
          </div>
        </div>
      </div>-->

      <div class="documents">
        <table  class="table table-bordered" id="document_table">
          <thead>
          <tr style="background-color: #2C3E50;color: white;">
            <th class="text-center"><input type="checkbox" class="document_list_master"></th>
            <th class="text-center">Document</th>
            <th class="text-center">Directory</th>
            <th class="text-center">Size</th>
            <th class="text-center">Updated</th>
            <th class="text-center">Added from Addendas</th>
            <% if User.hc_role(session[:user_logged_id]) %>
              <th class="text-center">Packages</th>
            <% else %>
              <th class="text-center" style="display: none">Packages</th>
            <% end %>
          </tr>
          </thead>
          <tbody class="searchable">
          <% if @documents.present? %>
              <% @documents.each_with_index do |t,index| %>
                <% if session[:role] == 'Head Contractor' %>
                  <tr>
                    <td class="text-center"><input type="checkbox" class="document_list" name="documents[]" value="<%=  t.id %>"></td>
                    <td class="text-center"><%= t.document_file_name %></td>
                    <td class="text-center"><%= t.directory %></td>
                    <td class="text-center"> <%= convert_kb_to_mb t.document_file_size %> MB</td>
                    <td class="text-center"><%= (t.updated_at).strftime("%d.%m.%Y") %></td>
                    <td class="text-center">
                      <% if t.action_type == 'addenda' %>
                          "Addenda"
                      <% else %>
                          <%= nil %>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if (get_document_package t.id,@tender.id).to_i > 0 %>
                          <a href="/tenders/new_tender?package=true&info_id=<%= @tender.id %>&cmd=edit&id=<%= t.id %>&control=true">
                            <span class="badge progress-bar-success"><%= get_document_package t.id,@tender.id  %></span>
                          </a>
                      <% else %>
                          <a href="/tenders/new_tender?package=true&info_id=<%= @tender.id %>&cmd=edit&id=<%= t.id %>&control=true">
                            <span class="badge progress-bar-warning"><%= get_document_package t.id,@tender.id  %></span>
                          </a>
                      <% end %>
                    </td>
                  </tr>
                <% else %>
                  <% if @trades_approved.present? %>
                    <%# @trades_approved.each do |d| %>
                      <% if check_if_sc_trade_approved @tender.id,@trades_approved,t.id %>
                        <tr>
                          <td class="text-center"><input type="checkbox" class="document_list" name="documents[]" value="<%=  t.id %>"></td>
                          <td class="text-center"><%= t.document_file_name %></td>
                          <td class="text-center"><%= t.directory %></td>
                          <td class="text-center"> <%= convert_kb_to_mb t.document_file_size %> MB</td>
                          <td class="text-center"><%= (t.updated_at).strftime("%d.%m.%Y") %></td>
                          <td class="text-center">
                            <% if t.action_type == 'addenda' %>
                                "Addenda"
                            <% else %>
                                <%= nil %>
                            <% end %>
                          </td>
                          <td class="text-center" style="display: none">
                            <% if (get_document_package t.id,@tender.id).to_i > 0 %>
                                <a href="#!">
                                  <span class="badge progress-bar-success"><%= get_document_package t.id,@tender.id  %></span>
                                </a>
                            <% else %>
                                <a href="#!">
                                  <span class="badge progress-bar-warning"><%= get_document_package t.id,@tender.id  %></span>
                                </a>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    <%# end %>
                  <% end %>
                <% end %>

              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<!--  </div>
</div>-->

<input type="hidden" class="tender_id" name="<%= @tender.id %>">
<script>
  $(document).ready(function(){

    $('#document_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "bFilter": 'false',
      searching: false,
      "columnDefs": [
        { "visible": false, "targets": 4 }
      ],
      "order": [[ 4, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(2, {page:'current'} ).data().each( function ( group, i ) {
          console.log("group:"+group);
          console.log("I -------> :"+i);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="5" class="editable" id="'+ i + '" title="'+ group+ '">'+ group+ '</td>' +
                '</tr>'
            );

            last = group;
          }
        } );
      }
    } );

    $('.directory').click(function () {
      var dir = $(this).attr('id');
      $('.'+dir).each(function(){
        $(this).toggle();
      })
    });

    $('#search').click(function(){
      var tender_id = $('.tender_id').val();
      var search = $('.search_text').val();
      var document_control = 'true'

      $.ajax({
        method: "POST",
        data: {search:search,tender_id:tender_id,document_control:document_control},
        url: "/tenders/search_by_documents"
      }).done(function (data) {
        $('.documents').html(data);
      });
    });

    $('.trades').change(function(){
      var trade_id = $(this).val();
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,trade_id:trade_id},
        url: "/tenders/search_by_trades"
      }).done(function (data) {
        $('.documents').html(data);
      });
    });

    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })

    $('.document_list_master').click(function(){

      if($('.document_list').prop('checked')){
        $('.document_list').prop('checked',false);
      }else{
        $('.document_list').prop('checked',true);
      }
    });
  });
</script>

<style>
  .dataTables_wrapper .dataTables_filter {
    float: left;
  }
</style>