<div class="document_lists">
  <div class="form-group has-feedback">
    <% if flash[:error] %>
        <div class="alert alert-danger open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= @error_alert %>
          <div class="notice" style="font-size: 14px;"><%= flash[:error] %></div>
          <% flash[:error]=nil   %>
        </div>
    <% end %>
    <%- if !flash[:notice].nil? %>
        <div class="alert alert-success open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
          <% flash[:notice]=nil %>
        </div>
    <%- end %>
  </div>

  <br>

  <div class="row">

    <div class="col-md-12">
      <div class="admin-form">
        <div class="row">
          <div class="col-md-9">
            <!--<i class="fa fa-folder folder" aria-hidden="true"></i>
            <i class="fa fa-arrows selected" aria-hidden="true"></i>-->
            <button type="button" class="button btn-success add_folder" >
              <i class="fa fa-arrows" aria-hidden="true"></i> ADD FOLDER
            </button>
            <button type="button" class="button btn-warning selected_btn" disabled>
              <i class="fa fa-arrows" aria-hidden="true"></i> MOVE SELECTED DOCUMENTS
            </button>
            <!--<i class="fa fa-trash remove" aria-hidden="true" onclick="return confirm('Are you sure you want to delete this item?');"></i>-->
            <button type="button" class="button btn-danger remove_btn" disabled  onclick="return confirm('Are you sure you want to delete this item?');">
              <i class="fa fa-trash" aria-hidden="true" ></i> DELETE SELECTED DOCUMENTS
            </button>
          </div>

          <div class="col-md-3 pull-right">
            <div class="section">
              <div class="smart-widget sm-left sml-50">
                <label class="field">
                  <input type="text" name="sm3" id="filter" class="gui-input" placeholder="Search Here">
                </label>
                <label for="sm3" class="button">
                  <i class="fa fa-search"></i>
                </label>
              </div>
              <!-- end .smart-widget section -->
            </div>
          </div>
        </div>
      </div>

      <!--Back Here-->
      <div class="document_div_table">
        <table  class="table table-bordered responsive" id="document_table"  cellspacing="0" width="100%">
          <thead>
          <tr style="background-color: #2C3E50;color: white;">
            <th><input type="checkbox" class="document_list_master" name="document_list_master"></th>
            <th class="text-center">Document</th>
            <th class="text-center">Size</th>
            <th class="text-center">Directory</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="searchable">
          <% if @documents.present? %>
              <% @documents.each do |t| %>
                  <tr>
                    <td><input type="checkbox" class="document_list" name="documents[]" value="<%= t.id %>"></td>
                    <td class="text-center"><%= t.document_file_name %></td>
                    <td class="text-center"> <%= convert_kb_to_mb t.document_file_size %> MB</td>
                    <td class="text-center"><%= t.directory %></td>
                    <td class="text-center">
                      <i class="fa fa-che ck" aria-hidden="true" style="color: green"></i>
                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>


      <!--<div class="col-md-12">
        <div class="checkbox"> 
          <label>
            <%# if @tender.present? %>
                <%# if @tender.hide_document == '1' %>
                    <input type="checkbox"  class="hide_documents" checked> 
                <%# else %>
                    <input type="checkbox"  class="hide_documents"> 
                <%# end %>
            <%# else %>
                <input type="checkbox"  class="hide_documents"> 
            <%# end %>

            Hide my documents from SC's before they get approved
          </label>  
        </div> 
      </div>-->
    </div>
  </div>
</div>


<div class="move_file">
  <div id="remove_file_Modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top: 100px;" data-backdrop="false">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close rejected_close" data-dismiss="modal">&times;</button>
          <div class="col-md-12">
            <h1 class="text-center">Move Files</h1>
          </div>
          <div class="row">
            <div class="form-group" >

            </div>
          </div>
        </div>
        <br>
        <div class="modal-body">
          <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible1="1">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center" style="font-size: 14px;font-weight: bold" >Move to existing folder</p>
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group"> 
                      <%= select_tag "directory",content_tag(:option,'None',:value=>'')+options_for_select(@new_direcotires.uniq),{:class=> 'form-control categories',:required => true} %> 
                    </div> 
                  <p class="text-center" style="font-size: 18px;">OR</p>
                  <input type="hidden" class="document_ids">
                </div>
              </div>

              <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                  <p class="text-center" style="font-size: 14px;font-weight: bold" >Move to new folder</p>
                  <input type="text" class="form-control newly_folder" >
                </div>
              </div>


              <div class="col-md-12 col-md-offset-4">
                <a href="#!">
                  <button class="btn btn-info move_documents" data-dismiss="modal" type="button">MOVE DOCUMENTS</button>
                </a>
              </div>
            </div>

            <div class="row">

            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<input type="hidden" class="tender_id" value="<%= @tender.id %>">
<script>
  $('.unzip').prop('checked', true);
  if($('.unzip').is(":checked")){
    $('.unzip_file').val(true);
  }else{
    $('.unzip_file').val(null);
  }
  $(document).ready(function(){
    $('#document_table').DataTable({
      /*"bSort" : false,
      "bPaginate": false,*/
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "bFilter": 'false',
      searching: false,
      "columnDefs": [
        { "visible": false, "targets": 3 }
      ],
      "order": [[ 3, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(3, {page:'current'} ).data().each( function ( group, i ) {
          console.log("group:"+group);
          console.log("I -------> :"+i);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="3" class="editable" id="'+ i + '" title="'+ group+ '"> '+ group+ '</td>' +
                '<td> <i class="fa fa-file-text add_files" aria-hidden="true"  id="'+ group+ '"></i>'+
                '</td></tr>'
            );

            last = group;
          }
        } );
      }
    } );


    $('.editable').click(function(e){
      var i=0;
      var id= $(this).attr('id');
      var title= $(this).attr('title');
      var tender_id= $('.tender_id').val();
      e.stopPropagation();      //<-------stop the bubbling of the event here
      var value = $('#'+id).html();

      console.log(id+i);

      updateVal('#'+id, value,title,tender_id);
    });

    function updateVal(currentEle, value,title,tender_id) {
      console.log("Current Element is"+currentEle);
      console.log("Current TITLE is"+title);
      $(currentEle).html('<input type="checkbox" class="document_list" name="documents[]" id="'+ title+ '"><input class="thVal" maxlength="100" type="text" width="2" value="'+title+'" />');
      $(".thVal").focus();
      $(".thVal").keyup(function (event) {
        if (event.keyCode == 13) {
          $(currentEle).html($(".thVal").val().trim());
        }
      });

      $(".thVal").focusout(function () { // you can use $('html')
        $(currentEle).html('<input type="checkbox" class="document_list" name="documents[]" id="'+ title+ '">' +$(".thVal").val().trim());
        console.log("tender_id"+tender_id);
        console.log("NEW VALUE:"+$(this).val());
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id,new_value:$(this).val(),old_value:title},
          url: "/tenders/rename_file"
        }).done(function (data) {
          //$('.uploaded_docs').html(data);
          $('.add_folder').hide();
          $('.folder').show();
          $('.document_div_table').html('');
          $('.document_div_table').html(data);
        });

      });
    }


    update_link();
    update_folder_lists();
    function update_link(){
      var tender_id = $('.tender_id').val();

      $.ajax({
        method: "POST",
        data : {tender_id:tender_id},
        url: "/tenders/check_document_cnt"
      }).done(function (data) {
        if(data.state == 'valid'){
          if(data.directories.length > 0){
            $(".link").attr("href", "/tenders/new_tender?package=true&info_id="+tender_id);
          }else{
            $(".link").attr("href", "/tenders/new_tender?invites=true&info_id="+tender_id);
          }
        }
      });
    }

    function update_folder_lists(){
      var tender_id = $('.tender_id').val();

      $.ajax({
        method: "POST",
        data : {tender_id:tender_id},
        url: "/tenders/update_folder_list"
      }).done(function (data) {
        if(data.state == 'valid'){
          console.log(data.directories);
          $('.categories').html('');
          $('.categories').append($('<option/>', {
            value: '',
            text : 'None'
          }));
          $.each(data.directories, function (index, value) {

            $('.categories').append($('<option/>', {
              value: value,
              text : value
            }));

          });
        }
      });

    }



    $('.document_list_master').change(function(){
      $('.document_list').click();
      //$('.document_list').prop('checked',$(this).prop("checked"));
    });

    $('.hide_documents').change(function(){
      var tender_id = $('.tender_id').val();
      var val;


      if($(this).is(':checked')){
        val = 1;
      }else{
        val = 0;
      }

      $.ajax({
        method: "POST",
        data: {val:val,tender_id:tender_id},
        url: "/tenders/update_document_status"
      }).done(function (data) {

      });

    });

    $('.move_documents').click(function(){
      var ids = $('.document_ids').val();
      var new_folder_name = $('.newly_folder').val();
      var directory = $('#directory').val();
      var tender_id = $('.tender_id').val();
      console.log("IDS:"+ids);
      $.ajax({
        method: "POST",
        data: {ids:ids,new_folder_name:new_folder_name,directory:directory,tender_id:tender_id},
        url: "/tenders/move_files"
      }).done(function (data) {
        //jQuery('.modal-backdrop').hide();
        $('body').removeClass('modal-open');
        $('#remove_file_Modal').modal('hide');
        //$('.uploaded_docs').html(data);
        $('.document_div_table').html(data);
      });


    });

    $('.add_files').click(function(){
      var directory = $(this).attr('id')

      $('.new_dir').val(directory);

      $('#add_file_Modal').modal('show');
    });

    $('.directory').focusout(function(){
      var id = $(this).attr('id');
      var new_value = $(this).val();

      console.log("id"+id);
      console.log("new_value"+new_value);
      $.ajax({
        method: "POST",
        data: {id:id,new_value:new_value},
        url: "/tenders/rename_file"
      }).done(function (data) {
        //$('.uploaded_docs').html(data);
        $('.document_div_table').html(data);
      });

    });

    $('.revision').focus(function(){
      var al = $(this).attr('alt');
      console.log(al);
      $('.revision_icon[title="'+al+'"]').show()
      $('.revision_btn[title="'+al+'"]').hide();
    });

    $('.revision').focusout(function(){
      var tender_id = $('.tender_id').val();
      var id = $(this).attr('id');
      var val = $(this).val();
      var al = $(this).attr('alt');
      if(val.length > 0){
        $('.revision_icon').hide();
        $('.revision_btn').show();


        $.ajax({
          method: "POST",
          data: {id:id,val:val,tender_id:tender_id},
          url: "/tenders/add_revision"
        }).done(function (data) {
          $('.uploaded_docs').html(data);
          $('.revision_btn[title="'+al+'"]').val(val);
          $('.revision_btn[title="'+al+'"]').show();
        });
      }
    });

    $('.revision_btn').click(function(){
      var category = $(this).attr('id');
      var val = $(this).val();
      var tender_id = $('.tender_id').val();

      $.ajax({
        method: "POST",
        data: {category:category,val:val,tender_id:tender_id},
        url: "/tenders/update_revision"
      }).done(function (data) {
        $('.uploaded_docs').html(data);

        $('.revision_btn[title="'+category+'"]').show();
      });
    });

    $('.document_list').click(function()
    {
      var checked_array = [];
      if($(this).is(':checked')){
        $('.selected').hide();
        $('.remove').hide();
        $('.folder').hide();
        $('.selected_btn').prop('disabled', false);
        $('.remove_btn').prop('disabled', false);
        $('.add_folder').show();
      }else{
        $('.selected').show();
        $('.remove').show();
        $('.folder').show();

        $('.document_list').each(function(){
          if($(this).is(':checked')){
            checked_array.push($(this).attr('id'));
          }

          if(checked_array.length > 0){
            $('.selected_btn').prop('disabled', false);
            $('.remove_btn').prop('disabled', false);
          }else{
            $('.selected_btn').prop('disabled', true);
            $('.remove_btn').prop('disabled', true);
          }
        });
        /*$('.selected_btn').hide();
        $('.remove_btn').hide();
        $('.add_folder').hide();*/
      }


    })

    $('.selected_btn').click(function()
    {
      var ids = []
      $('.document_list').each(function()
      {
        if($(this).is(':checked')){
          ids.push($(this).val());
          $('#remove_file_Modal').modal('show');

        }

        $('.document_ids').val(ids);
      })
    });

    $('.move_documents').click(function(){
      var ids = $('.document_ids').val();
      var new_folder_name = $('.newly_folder').val();
      var directory = $('#directory').val();
      var tender_id = $('.tender_id').val();
      console.log("IDS:"+ids);
      $.ajax({
        method: "POST",
        data: {ids:ids,new_folder_name:new_folder_name,directory:directory,tender_id:tender_id},
        url: "/tenders/move_files"
      }).done(function (data) {
        $('.selected').show();
        $('.remove').show();
        $('.selected_btn').hide();
        $('.remove_btn').hide();
        $('.add_folder').hide();
        $('.folder').show();
        $('#remove_file_Modal').modal('hide');
        $('.document_div_table').html(data);

      });


    })

    $('.remove_btn').click(function(){
      var ids = [];
      var tender_id = $('.tender_id').val();
      $("input:checkbox:checked").map(function()
      {
        ids.push($(this).val());
      })

      $.ajax({
        method: "POST",
        data: {ids:ids,tender_id:tender_id},
        url: "/tenders/delete_documents"
      }).done(function (data) {
        $('.add_folder').hide();
        $('.folder').show();
        $('.document_div_table').html(data);
        //$('.uploaded_docs').html(data);
      });
    });

    $('.remove').click(function(){
      var ids = [];
      var tender_id = $('.tender_id').val();
      $("input:checkbox:checked").map(function()
      {
        ids.push($(this).val());
      })

      $.ajax({
        method: "POST",
        data: {ids:ids,tender_id:tender_id},
        url: "/tenders/delete_documents"
      }).done(function (data) {
        $('.document_div_table').html(data);
        //$('.uploaded_docs').html(data);
      });
    })

    $('.name').focusout(function(){
      var id = $(this).attr('id');
      var name = $(this).val();
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {id:id,name:name,tender_id:tender_id},
        url: "/tenders/rename_file"
      }).done(function (data) {
        $('.uploaded_docs').html(data);
      });
    });

    $('.folder').click(function(){
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id},
        url: "/tenders/add_directory"
      }).done(function (data) {
        //$('.uploaded_docs').html(data);
        $('.document_div_table').html(data);
      });
    });

    $('.add_folder').click(function(){
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id},
        url: "/tenders/add_directory"
      }).done(function (data) {
        //$('.uploaded_docs').html(data);
        $('.document_div_table').html(data);
      });
    });

    function create_new_folder(e) {
      var new_folder = e.val();
      var tender_id = $('.tender_id').val();
      if(new_folder.length > 0){
        $.ajax({
          method: "POST",
          data: {new_folder:new_folder,tender_id:tender_id},
          url: "/tenders/new_folder"
        }).done(function (data) {
          $('.uploaded_docs').html(data);
        });
      }
    }

    $('#filter').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();

    })
  })
</script>
