<style>
  .table-header-rotated td{
    width: 40px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    vertical-align: middle;
    text-align: center;
  }

  .table-header-rotated th.rotate-45{
    height: 80px;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    font-size: 12px;
    line-height: 0.8;
  }

  .table-header-rotated th.rotate-45 > div{
    position: relative;
    top: 0px;
    left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
    height: 100%;
    -ms-transform:skew(-45deg,0deg);
    -moz-transform:skew(-45deg,0deg);
    -webkit-transform:skew(-45deg,0deg);
    -o-transform:skew(-45deg,0deg);
    transform:skew(-45deg,0deg);
    overflow: hidden;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
  }

  .table-header-rotated th.rotate-45 span {
    -ms-transform:skew(45deg,0deg) rotate(315deg);
    -moz-transform:skew(45deg,0deg) rotate(315deg);
    -webkit-transform:skew(45deg,0deg) rotate(315deg);
    -o-transform:skew(45deg,0deg) rotate(315deg);
    transform:skew(45deg,0deg) rotate(315deg);
    position: absolute;
    bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
    left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
    display: inline-block;
  // width: 100%;
    width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
    text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
  }

  table td.highlighted {
    background-color:#999;
  }

  table td.ui-selected {
    background-color: lightgrey;
  }
</style>
<% if !params[:control].present? %>
    <button class="btn btn-warning undo" type="button">
      Undo
    </button>

    <button class="btn btn-success update_package" type="button">
      Update
    </button>
<% end %>



<%= form_tag(create_partitions_tenders_path, :html => { :multipart => true }) do |f| %> 
    <div class="row"> 
      <% if params[:id].present? %>
          <input type="hidden" name="file_id" class="tender_id" value="<%= params[:id] %>">
      <% end %>
      <input type="hidden" name="tender_id" class="tender_id" value="<%= params[:info_id] %>">
      <% if params[:control].present? %>
        <input type="hidden" name="control"  value="true">
      <% end %>
      <div class="col-md-12 matrix">  

            <div class="scrollable-table">
              <table class="table table-header-rotated" id="our_table">
                <thead>
                <tr>
                  <!-- First column header is not rotated -->
                  <th></th>
                  <!-- Following headers are rotated -->
                  <th class="rotate-45"><div><span>Filter By</span></div></th>
                  <th class="rotate-45"><div><span>FullSet</span></div></th>
                  <% if @package_array.present? %>
                      <% @tender_packages.each do |p| %>
                          <% if !@tender_package_array.include? p.category_id %>
                              <% @tender_package_array << p.category_id %>
                              <th class="rotate-45" style="font-weight: bolder;font-size: 16px">
                                <div>
                                  <span><%= get_trade_category_name p.category_id %></span>
                                </div>
                              </th>
                              <% if (get_trade_list_from_package p.category_id,params[:info_id]).present? %>

                                  <% (get_trade_list_from_package p.category_id,params[:info_id]).each do |t| %>
                                      <th class="rotate-45">
                                        <div id="<%= t.trade_id %>">
                                          <span><%= get_trade_name t.trade_id  %></span>
                                        </div>
                                      </th>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                </tr>
                <tr style="background-color: lightgrey">
                  <th></th>
                  <th>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <% if @category_array.present? %>
                            <li><a href="#!" class="category" id="0">All</a> </li>
                            <% @category_array.uniq.each_with_index do |a,index| %>
                                <li><a href="#!" class="category" id="<%= a %>"> <%= get_trade_category_name  a %></a> </li>
                            <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </th>
                  <th><div><span></span></div></th>
                  <% if @tender_packages.present? %>
                      <% @tender_packages.each do |p| %>
                          <% if !@tender_package_header.include? p.category_id %>
                              <% @tender_package_header << p.category_id %>
                              <th><div><span></span></div></th>
                              <% if (get_trade_list_from_package p.category_id,params[:info_id]).present? %>
                                  <% (get_trade_list_from_package p.category_id,params[:info_id]).each do |t| %>
                                      <th><div><span>
                            <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#!" id="<%= t.trade_id %>" class="copy">Copy</a></li>
                              <li><a href="#!" id="<%= t.trade_id %>" class="paste">Paste</a></li>
                            </ul>
                             </div>
                           </span></div></th>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                </tr>
                <tr class="document_matrix_search">
                  <% if !params[:control].present? %>
                    <th>
                      <div class="input-group">
                        <input type="Search" placeholder="Search..." class="form-control search" />
                        <div class="input-group-btn">
                          <button class="btn btn-default search_btn" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      </th>
                  <% else %>
                      <th></th>

                  <% end %>

                  <!-- Following headers are rotated -->
                  <th><div></div></th>
                  <th><div><span></span></div></th>
                  <% if @tender_packages.present? %>
                      <% @tender_packages.each do |p| %>
                          <% if !@tender_package_array_1.include? p.category_id %>
                              <% @tender_package_array_1 << p.category_id %>
                              <th><div><span></span></div></th>
                              <% if (get_trade_list_from_package p.category_id,params[:info_id]).present? %>
                                  <% (get_trade_list_from_package p.category_id,params[:info_id]).each do |t| %>
                                      <th><div><span><input type="checkbox" class="package_trade" id="<%= t.trade_id %>"></span></div></th>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                </tr>
                </thead>
                <tbody id="selectable">
                <% if @documents.present? %>
                    <% @documents.each do |t| %>
                        <% if !@directory_array.include? t.directory %>
                            <% @directory_array << t.directory %>
                            <% if params[:id].present? %>
                                <% if (get_file_directory params[:id]) == t.directory %>
                                    <tr>
                                      <th class="row-header">
                                        <!--<a href="#!"  class="directory" id="<%#= replace_char_to_string t.directory %>" title="<%= t.directory %>"> <i class="fa fa-chevron-circle-up" aria-hidden="true"> </i> <%#= t.directory %></a>-->
                                        <a href="#!"  class="directory" id="<%= replace_char_to_string t.directory %>" title="<%= t.directory %>" alt="<%= replace_char_to_string t.directory %>_<%= t.id %>">
                                          <i class="fa fa-chevron-circle-up" aria-hidden="true" id="<%= replace_char_to_string t.directory %>_<%= t.id %>_up" > </i>
                                          <i class="fa fa-chevron-circle-down" aria-hidden="true" id="<%= replace_char_to_string t.directory %>_<%= t.id %>_down"  style="display: none"> </i>

                                          <%= t.directory %>

                                        </a>
                                      </th>
                                      <th class="row-header"><div><span></span></div></th>
                                      <th class="row-header"><div><span></span></div></th>

                                      <% if @tender_package_count.present? %>
                                          <% for i in 0..((@tender_package_count + @directory_array_1.uniq.size) - 1) %>
                                              <th class="row-header"></th>
                                          <% end %>
                                      <% end %>
                                    </tr>
                                <% end %>
                            <% else %>
                                <tr>
                                  <th class="row-header">
                                    <!--<a href="#!"  class="directory" id="<%#= replace_char_to_string t.directory %>" title="<%#= t.directory %>"> <i class="fa fa-chevron-circle-up" aria-hidden="true"> </i> <%#= t.directory %></a>-->
                                    <a href="#!"  class="directory" id="<%= replace_char_to_string t.directory %>" title="<%= t.directory %>" alt="<%= replace_char_to_string t.directory %>_<%= t.id %>">
                                      <i class="fa fa-chevron-circle-up" aria-hidden="true" id="<%= replace_char_to_string t.directory %>_<%= t.id %>_up" > </i>
                                      <i class="fa fa-chevron-circle-down" aria-hidden="true" id="<%= replace_char_to_string t.directory %>_<%= t.id %>_down"  style="display: none"> </i>

                                      <%= t.directory %>

                                    </a>
                                  </th>
                                  <th class="row-header"><div><span></span></div></th>
                                  <th class="row-header"><div><span></span></div></th>

                                  <% if @tender_package_count.present? %>
                                      <% for i in 0..((@tender_package_count + @directory_array_1.uniq.size) - 1) %>
                                          <th class="row-header"></th>
                                      <% end %>
                                  <% end %>
                                </tr>
                            <% end %>
                        <% end %>

                        <% if @directory_array.present? %>
                            <% @directory_array.uniq.each_with_index do |f,index| %>
                                <% if (document_list f,params[:info_id]).present? %>
                                    <% (document_list f,params[:info_id]).each_with_index do |a,i| %>
                                        <% if a.document_file_name.present? %>
                                            <% if params[:id].present? %>


                                                <% if ((get_file_directory params[:id]).to_s == f.to_s) && (!@document_array.include? index) %>
                                                    <% @document_array << index %>
                                                    <tr id="demo" class="<%= replace_char_to_string a.directory %>">
                                                      <td id="doc_<%= a.id %>"><%= a.document_file_name %></td>
                                                      <td><input type="checkbox" id="per_field" class="per_field" title="<%= a.id %>"></td>
                                                      <td><input type="checkbox" checked></td>
                                                      <% @package_array.each do |d| %>
                                                          <% if d.to_i > 0 %>
                                                              <% if params[:cmd].present? %>
                                                                  <% if @package_lists.include? "#{a.id}_#{d}" %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>" checked></td>
                                                                  <% else %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>"></td>
                                                                  <% end %>
                                                              <% else %>
                                                                  <% if @package_lists.include? "#{a.id}_#{d}" %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>" checked></td>
                                                                  <% else %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>"></td>
                                                                  <% end %>
                                                              <% end %>
                                                          <% else %>
                                                              <td></td>
                                                          <% end %>
                                                      <% end %>
                                                    </tr>
                                                <% end %>
                                            <% else %>
                                                <% if !@document_array.include? "#{a.document_file_name}_#{f}" %>

                                                    <% @document_array << "#{a.document_file_name}_#{f}"  %>

                                                    <%= puts "@document_array------------> #{@document_array.inspect}" %>
                                                    <tr id="demo" class="<%= replace_char_to_string a.directory %>">
                                                      <td id="doc_<%= a.id %>"><%= a.document_file_name %></td>
                                                      <td><input type="checkbox" id="per_field" class="per_field" title="<%= a.id %>"></td>
                                                      <td><input type="checkbox" checked></td>
                                                      <% @package_array.each do |d| %>
                                                          <% if d.to_i > 0 %>
                                                              <% if params[:cmd].present? %>
                                                                  <% if @package_lists.include? "#{a.id}_#{d}" %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>" checked></td>
                                                                  <% else %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>"></td>
                                                                  <% end %>
                                                              <% else %>
                                                                  <% if @package_lists.include? "#{a.id}_#{d}" %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>" checked></td>
                                                                  <% else %>
                                                                      <td data-row="<%= a.id %>" data-col="<%= d %>"  id="<%= a.id %>" alt="<%= "#{a.id}_#{d}" %>"><input type="checkbox" title="<%= a.document_file_name %>"  value="<%= "#{a.id}_#{d}" %>" class="<%= d %>"  id="<%= a.id %>" name="package[]" alt="<%= "#{a.id}_#{d}" %>"></td>
                                                                  <% end %>
                                                              <% end %>
                                                          <% else %>
                                                              <td></td>
                                                          <% end %>
                                                      <% end %>
                                                    </tr>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>

                </tbody>
              </table>
            </div>

          <% if @documents.present? %>
              <% @documents.each do |t| %>
                  <div class="col-md-22">
                    <% if !@directory_array.include? t.directory %>
                        <% @directory_array << t.directory %>
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse<%= t.id %>"><%= t.directory %></a>

                                <% if t.document_file_name.present? %>
                                    <div id="collapse<%= t.id %>" class="panel-collapse collapse">
                                      <% if (document_list t.directory,params[:info_id]).present?   %>
                                          <% (document_list t.directory,params[:info_id]).each do |a| %>
                                              <% if a.document_file_name != ".DS_Store" %>
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      <div class="col-md-8">
                                                        <div class="panel-body"><%= a.document_file_name %></div>
                                                      </div>
                                                      <div class="col-md-4">
                                                        <input type="text" style="width: 20px" class="form-group">
                                                      </div>
                                                    </div>
                                                  </div>
                                              <% end %>
                                          <% end %>
                                      <% end %>
                                    </div>
                                <% end %>
                              </h4>
                            </div>
                          </div>
                        </div>
                    <% end %>
                  </div>
              <% end %>
          <% end %>

            <!--<a href="/tenders/new_tender?invites=true&info_id=<%#= @tender.id %>"> 
            <button class="btn btn-primary  trade_btn btn-lg pull-right" type="button">SAVE AND CONTINUE</button>
          </a>   -->
            <!--<a href="#!"> 
              <button class="btn btn-primary  trade_btn btn-lg pull-right" type="submit">SAVE AND CONTINUE</button>
            </a>   
            <a href="/tenders/new_tender?document=true&info_id=<%#= @tender.id %>"> 
              <button class="btn btn-default  next_info btn-lg pull-right"  type="button">BACK</button>
            </a>   -->


        <div class="form-actions">
          <% if params[:control].present? %>
              <a href="/tenders/hc_tender?id=<%= @tender.id %>&control=true"> 
                <button class="btn btn-default  next_info"  type="button">BACK</button>
              </a>   
        <% else %>
              <a href="/tenders/new_tender?document=true&info_id=<%= @tender.id %>"> 
                <button class="btn btn-default  next_info"  type="button">BACK</button>
              </a>   
          <% end %>

          <a href="#!"> 
            <button class="btn btn-primary" type="submit">SAVE AND CONTINUE</button>
          </a>   


        </div>

      </div> 
    </div>  
<% end %>


<script>
  $(document).ready(function(){
    var last_array = [];
    var session_array = [];
    var uniqueNames = [];

    $('.per_field').change(function(){
      var id = $(this).attr('title');
      console.log("id-------->"+id)
      if($(this).is(':checked')){
        $('input:checkbox[id="'+id+'"]').click();
        $('input:checkbox[id="'+id+'"]').prop("checked",true);
      }else{
        $('input:checkbox[id="'+id+'"]').click();
        $('input:checkbox[id="'+id+'"]').prop("checked",false);
      }


    });


    $('.undo').click(function(){


      $.each(session_array, function(i, el){
        if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
      });
      if(uniqueNames.length > 5){
        last_array = uniqueNames.slice(Math.max(uniqueNames.length - 5, 1))

        for(var a = 0; a < last_array.length; a++){
          if($("input[alt='"+last_array[a]+"']").is(':checked')){
            $("input[alt='"+last_array[a]+"']").prop('checked',false);
          }else{
            $("input[alt='"+last_array[a]+"']").prop('checked',true);
          }
        }
        last_array = [];
      }else{

        for(var a = 0; a < uniqueNames.length; a++){
          if($("input[alt='"+uniqueNames[a]+"']").is(':checked')){
            console.log("uniqueNames[a]:"+uniqueNames[a]);
            $("input[alt='"+uniqueNames[a]+"']").prop('checked',false);
          }else{
            $("input[alt='"+uniqueNames[a]+"']").prop('checked',true);
          }
        }
        uniqueNames = [];
      }
    });

    $('input[name *="package"]').change(function(){
      session_array.push($(this).attr('alt'));
    });

    $('.trade_doc').focusin(function(){
      $(this).prop('checked',true);

    });

    $('.directory').click(function () {
      var dir = $(this).attr('id');
      var alt = $(this).attr('alt');
      console.log("alt:"+alt);
      if($('#'+alt+"_up").is(":visible")){
        $('#'+alt+"_up").hide();
        $('#'+alt+"_down").show();
      }else{
        $('#'+alt+"_up").show();
        $('#'+alt+"_down").hide();
      }
      $('.'+dir).each(function () {
        $(this).toggle();
      })
    });

    $('.package_trade').change(function(){
      var id = $(this).attr('id');
      var check = $(this).is(':checked');

      if(check){
        $('.'+id).each(function () {
          $(this).click();
          $(this).prop('checked', true);
          session_array.push($(this).attr('alt'));
        })
      }else{
        $('.'+id).each(function () {
          $(this).click();
          $(this).prop('checked', false);
          session_array.push($(this).attr('alt'));
        })
      }
    });

    $('.category').click(function(){
      var id = $(this).attr('id');
      var tender_id = $('.tender_id').val();
      var vals = []
      $('input[type="checkbox"]').each(function() {
        if($(this).is(':checked')){
          if($(this).val() != 'on'){
            vals.push($(this).val());
          }
        }
      });

      $.ajax({
        method: "POST",
        data : {id:id,tender_id:tender_id,vals:vals},
        url: "/tenders/filter_by_categories"
      }).done(function (data) {
        //$('#selectable').html('');
        $('.matrix').html(data);
      });

    });

    $('.search').keyup(function(){
      var search = $('.search').val();
      var tender_id = $('.tender_id').val();
      var vals = []
      $('input[type="checkbox"]').each(function() {
        if($(this).is(':checked')){
          if($(this).val() != 'on'){
            vals.push($(this).val());
          }
        }
      });
      console.log("vals:------------>"+vals);
      if(search.length > 1){
        $.ajax({
          method: "POST",
          data : {search:search,tender_id:tender_id,vals:vals},
          url: "/tenders/search_by_documents"
        }).done(function (data) {
          $('#selectable').html('');
          $('#selectable').html(data);
          //$('.matrix').html(data);
        });
      }else{
        $.ajax({
          method: "POST",
          data : {search:search,tender_id:tender_id,vals:vals},
          url: "/tenders/search_by_documents"
        }).done(function (data) {
          $('#selectable').html('');
          $('#selectable').html(data);
          //$('.matrix').html(data);
        });
      }



    });
    var selected = [];
    $('#selectable').selectable({
      //cancel: 'a',
      delay: 150,
      start: function(event, ui) {
        $currentlySelected = $('#selectable');

      },
      stop: function(event, ui) {
        var titles = [];
        var ids = [];

        //if($(this).attr('class') == 'ui-selectable ui-selected'){

        $('.ui-selected').each(function () {
          if($(this).attr('alt') != undefined){
            titles.push($(this).attr('alt'));
            session_array.push($(this).attr('alt'));
          }
        });

        $(document).keypress(function(e) {

          if(e.which == 13) {
            for (var i = 0; i < titles.length; i++) {
              $("input[alt='"+titles[i]+"']").prop('checked',false);
              $("input[alt='"+titles[i]+"']").click();
              //click_checkbox("input[alt='"+titles[i]+"']");
              $("input[alt='"+titles[i]+"']").css({'background-color': ''});

            }

            titles = [];

          }
        });
      },
      selecting: function(event, ui) {
        $currentlySelected.addClass('ui-selected');


      },
      selected: function(event, ui) {
        selected.push(ui.selected);

        var selected_ids = [];
        for (var i = 0; i < selected.length; i++) {
          selected_ids.push(selected[i].id);
          $('#'+selected[i].id).toggleClass("ui-selectee");

        }
      }
    });

    function click_checkbox(el){
      $(el).click();

    }

    $('#our_table td').hover(function() {

      var row =  $(this).attr('id');
      var col =  $(this).attr('data-col');
      $(this).css('background-color','grey');
      if(parseInt(row) > 0 && parseInt(col) > 0){
        $('#doc_'+row).css('background-color','grey');
        $('#'+col).css('background-color','grey');
      }

    });

    $('#our_table td').on('mouseleave',function(){


      var row =  $(this).attr('id');
      var col =  $(this).attr('data-col');
      $(this).css('background-color','');
      if(parseInt(row) > 0 && parseInt(col) > 0){
        $('#doc_'+row).css('background-color','');
        $('#'+col).css('background-color','');
      }
    });
    var vals = [];
    $('.copy').click(function(){
      var id = $(this).attr('id');

      $('.'+id).each(function(){
        if($(this).is(':checked')){
          vals.push($(this).attr('id'));
        }
      });

      console.log("copy:"+vals)
    });

    $('.paste').click(function(){
      var id = $(this).attr('id');

      for(var a=0;a < vals.length; a++){
        session_array.push(vals[a]+"_"+id);
        $("input[alt='"+vals[a]+'_'+id+"']").click();
        $("input[alt='"+vals[a]+'_'+id+"']").prop('checked',true);
      }
    });

    $('.update_package').click(function(){
      $('#edit_tender_trade_Modal').modal('show');
    });

  })


</script>

