<%= form_tag(publish_tenders_path, :html => { :multipart => true }) do |f| %>
    <input type="hidden" name="tender_id" value="<%= params[:info_id] %>">
    <div class="row">

      <div class="col-md-12">
        <div class="text-center" style="margin-top:-20px">
          <h1><%= "#{@tender.title} (#{@tender.tendercon_id})" %></h1>

        </div>



      </div>


      <div class="col-md-12">
        <div class="portlet-body form">
          <div class="form-body">
            <div class="row">
              <div class="col-md-10">
                <h3 style="font-family: Gotham"><strong>TENDER DETAILS</strong></h3>
              </div>
              <div class="col-md-2 pull-right">
                <a href="/tenders/new_tender?info=true&info_id=<%= @tender.id %>">
                  <p style="font-family: Gotham;font-size: 14px"><strong>Edit</strong></p>
                </a>
              </div>
              <div class="col-md-12">

                <div class="col-md-4">
                  <h4 style="font-family: Gotham; color: #b70f0a;margin-left:-15px"><strong>TENDER CLOSING DATE</strong></h4>
                </div>
                <div class="col-md-8" style="margin-top: -10px">
                  <p style="font-size: 14px;color: #333333;margin-left:-15px" ><strong><%= (get_tender_due @tender.id).to_datetime.strftime("%H:%M %d/%m/%Y ") %></strong></p>
                </div>
                <div class="col-md-4">
                  <h4 style="font-family: Gotham;margin-left:-15px;margin-top:-10px"><strong>SECTOR</strong></h4>
                </div>
                <div class="col-md-8" style="margin-top: -30px">
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= get_categoty_name @tender.category_id %></p>
                </div>
                <div class="col-md-4">
                  <h4 style="font-family: Gotham;margin-left:-15px;margin-top:-10px"><strong>TENDER VALUE</strong></h4>
                </div>
                <div class="col-md-8" style="margin-top: -30px">
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= get_value_name @tender.tender_value_id %></p>
                </div>
                <div class="col-md-4">
                  <h4 style="font-family: Gotham;margin-left:-15px;margin-top:-10px"><strong>CLIENT</strong></h4>
                </div>
                <div class="col-md-8" style="margin-top: -30px">
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= @tender.client.present? ? @tender.client: '--' %></p>
                </div>
                <div class="col-md-4">
                  <h4 style="font-family: Gotham;margin-left:-15px;margin-top:-10px"><strong>ARCHITECT</strong></h4>
                </div>
                <div class="col-md-8" style="margin-top: -30px">
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= @tender.architect.present? ? @tender.architect: '--' %></p>
                </div>
                <div class="col-md-12">
                  <h4 style="font-family: Gotham;margin-left:-15px;margin-top:-10px"><strong>TENDER DESCRIPTION</strong></h4>
                </div>
                <div class="col-md-12" style="margin-top: -30px">
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= @tender.description.present? ? @tender.description.html_safe: '--' %></p>
                </div>


              </div>
              <div class="col-md-12">
                <h3 style="font-family: Gotham"><strong>TENDER LOCATION</strong></h3>
                <p style="font-size: 14px;color: #333333;"><%= "#{@tender.address}" %></p>
                <div id="map_<%= @tender.id %>" style="height:300px;width:100%;"></div>
              </div>
              <div class="col-md-12">
                <div class="col-md-10">
                  <h3 style="font-family: Gotham;margin-left: -20px;"><strong>TRADES REQUIRED</strong></h3>
                </div>
                <div class="col-md-2 pull-right">
                  <a href="/tenders/new_tender?trades=true&info_id=<%= @tender.id %>">
                    <p style="font-family: Gotham;font-size: 14px"><strong>Edit</strong></p>
                  </a>
                </div>

                <div class="col-md-3">
                  <h4 style="font-family: Gotham;margin-left:-15px"><strong>PRELIMINIARIES</strong></h4>
                  <% if (get_tender_trades @tender.id).present? %>
                      <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
                          <% if get_category_id(a.trade_id).to_i == 1 %>
                              <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>

                <div class="col-md-3">
                  <h4 style="font-family: Gotham;margin-left:-15px"><strong>STRUCTURAL</strong></h4>
                  <% if (get_tender_trades @tender.id).present? %>
                      <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
                          <% puts  get_category_id(a.trade_id) %>
                          <% if get_category_id(a.trade_id).to_i == 2 %>
                              <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>

                <div class="col-md-3">
                  <h4 style="font-family: Gotham;margin-left:-15px"><strong>ARCHITECTURAL</strong></h4>
                  <% if (get_tender_trades @tender.id).present? %>
                      <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
                          <% if get_category_id(a.trade_id).to_i == 3 %>
                              <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>

                <div class="col-md-3">
                  <h4 style="font-family: Gotham;margin-left:-15px"><strong>SERVICES</strong></h4>
                  <% if (get_tender_trades @tender.id).present? %>
                      <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
                          <% if get_category_id(a.trade_id).to_i == 4 %>
                              <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">

        <% if @tender_documents.present? %>
            <div class="portlet-body form">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-10">
                    <h3 style="font-family: Gotham"><strong>TRADE DOCUMENTS</strong></h3>
                  </div>
                  <div class="col-md-2 pull-right">
                    <a href="/tenders/new_tender?document=true&info_id=<%= @tender.id %>">
                      <p style="font-family: Gotham;font-size: 14px"><strong>Edit</strong></p>
                    </a>
                  </div>
                  <div class="col-md-12">

                    <table  class="table" id="document_table">
                      <thead>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>


                      </tr>
                      </thead>
                      <tbody>
                      <% if @tender_documents.present? %>
                          <% @tender_documents.each_with_index do |t,index| %>
                              <% if session[:role] == 'Head Contractor' %>
                                  <tr>
                                    <td>
                                     <%= "#{t.document_file_name}" %>
                                      <!--<a href="<%#= "/assets/tender/document/#{t.id}/original/#{t.document_file_name}" %>" target="_blank">
                                        <%#= t.document_file_name %><label style="display: none"><%#= "#{t.directory} #{t.document_file_name}" %></label>
                                      </a>-->
                                    </td>

                                    <td > <%= convert_kb_to_mb t.document_file_size %> MB</td>
                                    <td ><%= t.directory %></td>
                                  </tr>

                              <% end %>

                          <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>

      <div class="col-md-12">

        <% if @tender_documents.present? %>
            <div class="portlet-body form">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-10">
                    <h3 style="font-family: Gotham;"><strong>INVITED SUBCONTRACTORS</strong></h3>
                  </div>
                  <div class="col-md-2 pull-right">
                    <a href="/tenders/new_tender?invites=true&info_id=<%= @tender.id %>">
                      <p style="font-family: Gotham;font-size: 14px"><strong>Edit</strong></p>
                    </a>
                  </div>
                  <div class="col-md-12">

                    <table  class="table borderless">
                      <thead>
                      <tr>
                        <th>COMPANY</th>
                        <th>NAME</th>
                        <th>QUOTING ON</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% if @tender_invites.present? %>
                        <% @tender_invites.each_with_index do |t,index| %>
                          <tr>
                            <td>
                              <%= "#{t.company}" %>

                            </td>

                            <td > <%=  t.name %></td>
                            <td ><%= get_trade_name t.trade_id %></td>
                          </tr>

                        <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>







    <div class="col-md-12">
      <div class="row">
        <div class="form-group"></div>
      </div>

      <p class="text-center">
        <input type="checkbox"  name="publish_terms" class="publish_terms"> I agree to Tendercon's Terms of Use
      </p>  

      <p class="text-center">
        <button type="submit" class="btn btn-lg publish_btn btn-success" disabled>PUBLISH MY TENDER</button>
      </p>

    </div>
<% end %>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyA7B-_hoQVA07h-qSd3E-HXxyXnM9W4zC8&libraries=places&sensor=false"></script> 

<script>
  $(document).ready(function(){
    $('#document_table').DataTable({
      "bSort" : false,
      "bPaginate": false,
      "bInfo" : false,
      "dom":'fltip',
      "bFilter": 'false',
      searching: false,
      "columnDefs": [
        { "visible": false, "targets": 2 }
      ],
      "order": [[ 2, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last=null;

        api.column(2, {page:'current'} ).data().each( function ( group, i ) {
          console.log("group:"+group);
          console.log("I -------> :"+i);
          if ( last !== group ) {
            $(rows).eq( i ).before(
                '<tr class="group"><td colspan="3" class="editable" id="'+ i + '" title="'+ group+ '"><strong>'+ group+ '</strong></td>' +
                '</tr>'
            );

            last = group;
          }
        } );
      }
    } );

    load_map();
    function load_map() {
      var id = "<%= @tender.id %>";
      var add = $('.add'+id).val();

      $.ajax({
        method: "POST",
        data: {add:add},
        url: "/tenders/get_latling"
      }).done(function (data) {

        myLatLng = {lat:data.latitude, lng: data.longitude};

        map = new google.maps.Map(document.getElementById('map_'+id), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });

        google.maps.event.addListenerOnce(map, 'idle', function() {
          google.maps.event.trigger(map, 'resize');
          map.setCenter(myLatLng);
        });
      });

    }
  });
</script>

<style>
  .borderless td, .borderless th {
    border: none;
  }
</style>
