<div class="row">
  <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
    <div class="portlet-body">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">

          <li role="presentation" class="active">
            <a href="#invited_tender" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
              <span class="text">Invites</span>
            </a>
          </li>
          <li role="presentation" class="next">
            <a href="#request_tender" role="tab" id="request-tab" data-toggle="tab" aria-controls="request">
              <span class="text">Requests</span>
            </a>
          </li>
          <li role="presentation" class="next">
            <a href="#tendering" role="tab" id="tendering-tab" data-toggle="tab" aria-controls="tendering">
              <span class="text">Tendering</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div style="height: 80px;"></div>

    <div class="col-md-12">
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="invited_tender" aria-labelledby="home-tab">
          <div class="col-md-12">
            <div class="row widget-row">
              <div class="col-md-4">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                  <h4 class="widget-thumb-heading">INVITATIONS SENT</h4>
                  <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon icon-envelope" style="background-color: #32C5D2"></i>
                    <div class="widget-thumb-body">
                      <span class="widget-thumb-subtitle">TOTAL</span>
                      <span class="widget-thumb-body-stat invite_count" data-counter="counterup" data-value="<%= TenderInvite.tender_invites(@tender.id) %>"><%= TenderInvite.tender_invites(@tender.id) %></span>
                    </div>
                  </div>
                </div>
                <!-- END WIDGET THUMB -->
              </div>
              <div class="col-md-4">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                  <h4 class="widget-thumb-heading">INVITATIONS OPENED</h4>
                  <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon icon-envelope-open" style="background-color: #f4d03f"></i>
                    <div class="widget-thumb-body">
                      <span class="widget-thumb-subtitle">TOTAL</span>
                      <span class="widget-thumb-body-stat invite_opened" data-counter="counterup" data-value="1,293"><%= TenderInvite.tender_opened(@tender.id) %></span>
                    </div>
                  </div>
                </div>
                <!-- END WIDGET THUMB -->
              </div>
              <div class="col-md-4">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                  <h4 class="widget-thumb-heading">INVITATIONS ACCEPTED</h4>
                  <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon icon-user-following" style="background-color: #26c281"></i>
                    <div class="widget-thumb-body">
                      <span class="widget-thumb-subtitle">TOTAL</span>
                      <span class="widget-thumb-body-stat invite_accepted" data-counter="counterup" data-value="815"><%= TenderInvite.tender_accepted(@tender.id) %></span>
                    </div>
                  </div>
                </div>
                <!-- END WIDGET THUMB -->
              </div>
            </div>

          </div>


          <div  style="height: 30px"></div>
          <div class="col-md-12">
            <!--<div  style="height: 10px"></div>
            <a href="#!" class="invite_more_sub" id="<%#= @tender.id %>">
              <button class="btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i>Invite more Subconstractors</button>
            </a>

            Filter by Trades:
            <select id="trade1" multiple="multiple" class="trade_filter" title="invites">
              <%# if @trades_ids.present? %>
                  <%# @trades_ids.uniq.each do |t| %>
                      <option value="<%#= t %>"><%#= get_trade_name t %></option>
                  <%# end %>
              <%# end %>
            </select>-->


            <div style="height: 10px"></div>
              <div class="invited_div">
                <%= render :partial => 'tenders/sub_contractors_tab/invited_user_tender',:locals => {:tender => @tender, :trades_ids => @trades_ids } %>
              </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="request_tender" aria-labelledby="request-tab">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row widget-row">
                  <div class="col-md-4">
                    <!-- BEGIN WIDGET THUMB -->
                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                      <h4 class="widget-thumb-heading">REQUESTING TO TENDER</h4>
                      <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon icon-user-follow" style="background-color: #32c5d2"></i>
                        <div class="widget-thumb-body">
                          <span class="widget-thumb-subtitle">TOTAL</span>
                          <span class="widget-thumb-body-stat request_count" data-counter="counterup" data-value="<%= get_request_count @tender.id %>"><%= get_request_count @tender.id %></span>
                        </div>
                      </div>
                    </div>
                    <!-- END WIDGET THUMB -->
                  </div>
                  <div class="col-md-4">
                    <!-- BEGIN WIDGET THUMB -->
                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                      <h4 class="widget-thumb-heading">REQUESTS APPROVED</h4>
                      <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon icon-user-following" style="background-color: #26c281"></i>
                        <div class="widget-thumb-body">
                          <span class="widget-thumb-subtitle">TOTAL</span>
                          <span class="widget-thumb-body-stat request_approved" data-counter="counterup" data-value="1,293"><%= get_request_approved @tender.id %></span>
                        </div>
                      </div>
                    </div>
                    <!-- END WIDGET THUMB -->
                  </div>
                  <div class="col-md-4">
                    <!-- BEGIN WIDGET THUMB -->
                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                      <h4 class="widget-thumb-heading">REQUESTS  DECLINED</h4>
                      <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon icon-user-unfollow" style="background-color: #e43a45"></i>
                        <div class="widget-thumb-body">
                          <span class="widget-thumb-subtitle">TOTAL</span>
                          <span class="widget-thumb-body-stat request_declined" data-counter="counterup" data-value="815"><%= get_request_declined @tender.id %></span>
                        </div>
                      </div>
                    </div>
                    <!-- END WIDGET THUMB -->
                  </div>
                </div>
              </div>


              <!--<div class="col-md-3" style="border: solid">
                <div  style="height: 30px"></div>
                <p class="text-center" style="font-size: 24px">
                  <%#= get_quote_submitted_count @tender.id %>
                </p>
                <div  style="height: 10px"></div>
                <p class="text-center">Quotes Submitted</p>
              </div>-->
            </div>
          </div>


          <div class="row">

            <div class="col-md-12">



            </div>
          </div>
          <div style="height: 10px"></div>
          <div class="requested_div">
            <%#= render 'tenders/sub_contractors_tab/requesting_tender' %>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="tendering" aria-labelledby="tendering-tab">
          <div class="col-md-12">
            <div class="row widget-row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                  <h4 class="widget-thumb-heading">SUBCONTRACTORS TENDERING</h4>
                  <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon icon-users" style="background-color: #26c281"></i>
                    <div class="widget-thumb-body">
                      <span class="widget-thumb-subtitle">TOTAL</span>
                      <span class="widget-thumb-body-stat tendering_count" data-counter="counterup" data-value="<%= get_subcontractors_count @tender.id %>"><%= get_subcontractors_count @tender.id %></span>
                    </div>
                  </div>
                </div>
                <!-- END WIDGET THUMB -->
              </div>
              <div class="col-md-4">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                  <h4 class="widget-thumb-heading">TRADES</h4>
                  <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon icon-wrench" style="background-color: #3598dc"></i>
                    <div class="widget-thumb-body">
                      <span class="widget-thumb-subtitle">TOTAL</span>
                      <span class="widget-thumb-body-stat tendering_trades" data-counter="counterup" data-value="1,293"><%= get_trade_count @tender.id %></span>
                    </div>
                  </div>
                </div>
                <!-- END WIDGET THUMB -->
              </div>
              <div class="col-md-2"></div>
              <!--<div class="col-md-4">
                &lt;!&ndash; BEGIN WIDGET THUMB &ndash;&gt;
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                  <h4 class="widget-thumb-heading">PACKAGES</h4>
                  <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-purple icon-screen-desktop"></i>
                    <div class="widget-thumb-body">
                      <span class="widget-thumb-subtitle">TOTAL</span>
                      <span class="widget-thumb-body-stat tendering_packages" data-counter="counterup" data-value="815"><%= get_packages_count @tender.id %></span>
                    </div>
                  </div>
                </div>
                &lt;!&ndash; END WIDGET THUMB &ndash;&gt;
              </div>-->
            </div>

          </div>
          <div class="col-md-12">
            <div class="row">
              <!--<div class="col-md-3" style="border: solid">
                <div  style="height: 30px"></div>
                <p class="text-center" style="font-size: 24px">
                  <%#= get_quote_submitted_count @tender.id %>
                </p>
                <div  style="height: 10px"></div>
                <p class="text-center">Quotes Submitted</p>
              </div>-->
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
            </div>
            <div style="height: 10px"></div>
            <div class="tendering_div">
              <%#= render 'tenders/sub_contractors_tab/tendering' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="col-md-24 pending">

  </div>


<input type="hidden" class="tender_id" name="<%= @tender.id %>">
<input type="hidden" class="trade_list" value="<%= @trades_ids %>">
<script>

  $(document).ready(function(){
    $('.download').hover(
      function(){
        var id = $(this).attr('id');
        var trade_id = $(this).attr('alt');
        $('#trade_'+id+"_"+trade_id).show();
      },function(){
        var id = $(this).attr('id');
        var trade_id = $(this).attr('alt');
        $('#trade_'+id+"_"+trade_id).hide();
      }
    );

    var trades = "<%= @trades_ids %>";
    var new_trade_array = trades.replace(/[\])}[{(]/g, '').split(',');

    for(var a=0;a < new_trade_array.length;a++){
      var cnt = $('.child_trade_'+new_trade_array[a].trim()).length;
      $('.count_trade_'+new_trade_array[a].trim()).text('('+cnt+')');
    }

    $('.invite_more_sub').click(function(){
      $('#invite_more_modal').modal('show');
    });

    //$('#trade1').multiselect();
    $('#trade2').multiselect();
    $('#trade3').multiselect();
    $('.tender_status').multiselect();

    <% if @request.present? %>
      $('#request-tab').click();
    <% end %>



    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var tender_id = $('.tender_id').val();
      var target = $(e.target).attr("href");
      var tab;
      if(target == '#invited_tender'){
        tab = 'invites';
      }else if(target == '#request_tender'){
        tab = 'request';
      }else if(target == '#tendering'){
        tab = 'tendering';
      }

       if(target == '#invited_tender' || target == '#request_tender' || target == '#tendering'){
         $.ajax({
           method: "POST",
           data: {tender_id:tender_id,tab:tab},
           url: "/tenders/sub_contractor_tabs"
         }).done(function (data) {
           if(tab == 'invites'){
             $('.invited_div').html('');
             $('.invited_div').html(data);
           }else if(tab == 'request'){
             $('.requested_div').html('');
             $('.requested_div').html(data);
           }else if(tab == 'tendering'){
             $('.tendering_div').html('');
             $('.tendering_div').html(data);
           }

         });
       }
    });



  });
</script>