<div class="error">

</div>

<p class="text-center" style="font-size: 16px">
  YOUR COMPANY WAS INVITED TO TENDER FOR THE FOLLOWING TRADES
</p>
<% if(get_invited_trade @tender.id,session[:email]).present? %>
    <% (get_invited_trade @tender.id,session[:email]).uniq.each do |a| %>
        <table>
          <tbody>
          <tr>
            <td class="col-md-6"><%= get_trade_name a %></td>

            <td class="col-md-6">
              <select class="btn btn-info trade_status_button" id="<%= session[:user_logged_id] %>" alt="<%= a %>" title="<%= @tender.id %>">
                <option class="white" value="None">None</option>
                <option class="red" value="Accept">Accept</option>
                <option class="yellow" value="Decline">Decline</option>
              </select>

            </td>
          </tr>
          <tr></tr>
          </tbody>
        </table>

    <% end %>
<% end %>

<div class="row">
    <div  style="height: 20px"></div>
    <div id="content">
      <!--<div class="tab-pane" id="orange">
        <div class="text-center">
          <p class="text-center" style="font-size: 16px">
            I want to request for the following trades:
          </p>
        </div>
        <div class="col-md-12">

        </div>
      </div>-->
    </div>

</div>
<div class="row">
  <div class="text-center">
    <!--<p class="text-center">
      <a href="#!">
        <button class="btn btn-default other_trades">
          Apply For more trades
        </button>
      </a>
    </p>-->

    <div class="trade_invite" style="display: none;">
      <% @trade_cats = [] %>
      <% @trade_categories.each do |tc|  %>
        <% if (get_tender_trades @tender.id).present? %>
          <% (get_tender_trades @tender.id).each_with_index do |t,index| %>
            <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
              <div class="col-md-12"> 
                <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                  <% if !@trade_cats.include? tc.title %>
                    <% @trade_cats << tc.title %>
                    <h1> <%= tc.title %></h1> 
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-12">
                <div class="text-center">
                  <% if @invite_count > 0 %>
                      <label id="trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  value="<%= t.trade_id %>" class="trade_class" id="trade_<%= t.trade_id %>" disabled> <%= get_trade_name t.trade_id %></label> 
                  <% else %>
                      <label id="trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  value="<%= t.trade_id %>" class="trade_class" id="trade_<%= t.trade_id %>"> <%= get_trade_name t.trade_id %></label> 
                  <% end %>

                </div>
              </div>
            <% end %>
          <% end %>
        <% end %> 
      <% end %> 
    </div>

  </div>

</div>
<div class="row">
  <div class="form-group">

  </div>
  <div class="text-center">

    <a href="#!">
      <button class=" btn btn-info quotes" type="button" disabled>Save and Notify Head Contractor</button>
    </a>
  </div>
</div>

<script>

  $('.trade_status_button').change(function(){
    var txt = $(this).val();
    var trade_id = $(this).attr('alt');
    var tender_id = $(this).attr('title');
    var ids = $(this).attr('id');
    $('.other_trades').attr('id', 'it_click');
    $.ajax({
      method: "POST",
      data: {tender_id:tender_id,trade_id:trade_id,sc_id:ids,txt:txt.trim()},
      url: "/invites/update_tender_invite"
    }).done(function (data){
      $('.quotes').prop('disabled',false);
      $('#trade_invited_body').html(data);
    });
  });

  $('.other_trades').click(function(){
    if($(this).attr('id') == 'it_click'){
      $('.trade_invite').show();
    }else{
      $('.error').html('<div class="alert alert-danger open-sans-regular" id="users_error">'+
      '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
      '<div class="notice" style="font-size: 14px;">Please click accept/decline to the trades first.</div>'+
      '</div>')
    }
  });
</script>