
<div style="height: 30px"></div>

  <div class="col-md-12">
    <h3 style="font-family: Gotham"><strong>TENDER DETAILS</strong></h3>
    <div class="col-md-4">
      <h4 style="font-family: 'Montserrat', sans-serif; color: #b70f0a;margin-left:-15px"><strong>TENDER CLOSING DATE</strong></h4>
    </div>
    <div class="col-md-8" style="margin-top: -10px">
      <p style="font-size: 14px;color: #333333;margin-left:-15px" ><strong><%= (get_tender_due @tender.id).to_datetime.strftime("%H:%M %d/%m/%Y ") %></strong></p>
    </div>
    <div class="col-md-4">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>SECTOR</strong></h4>
    </div>
    <div class="col-md-8" style="margin-top: -10px">
      <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= get_categoty_name @tender.category_id %></p>
    </div>
    <div class="col-md-4">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>TENDER VALUE</strong></h4>
    </div>
    <div class="col-md-8" style="margin-top: -10px">
      <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= get_value_name @tender.tender_value_id %></p>
    </div>
    <div class="col-md-4">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>CLIENT</strong></h4>
    </div>
    <div class="col-md-8" style="margin-top: -10px">
      <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= @tender.client.present? ? @tender.client: '--' %></p>
    </div>
    <div class="col-md-4">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>ARCHITECT</strong></h4>
    </div>
    <div class="col-md-8" style="margin-top: -10px">
      <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= @tender.architect.present? ? @tender.architect: '--' %></p>
    </div>
    <div class="col-md-12">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>TENDER DESCRIPTION</strong></h4>
    </div>
    <div class="col-md-12" >
      <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= @tender.description.present? ? @tender.description.html_safe: '--' %></p>
    </div>
  </div>

  <div class="col-md-12">
    <h3 style="font-family: Gotham"><strong>TRADES REQUIRED</strong></h3>
    <div class="col-md-3">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>PRELIMINIARIES</strong></h4>
      <% if (get_tender_trades @tender.id).present? %>
          <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
              <% if get_category_id(a.trade_id).to_i == 1 %>
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
              <% end %>
          <% end %>
      <% end %>
    </div>

    <div class="col-md-3">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>STRUCTURAL</strong></h4>
      <% if (get_tender_trades @tender.id).present? %>
          <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
              <% puts  get_category_id(a.trade_id) %>
              <% if get_category_id(a.trade_id).to_i == 2 %>
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
              <% end %>
          <% end %>
      <% end %>
    </div>

    <div class="col-md-3">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>ARCHITECTURAL</strong></h4>
      <% if (get_tender_trades @tender.id).present? %>
        <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
            <% if get_category_id(a.trade_id).to_i == 3 %>
                <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
            <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-3">
      <h4 style="font-family: 'Montserrat', sans-serif;margin-left:-15px"><strong>SERVICES</strong></h4>
      <% if (get_tender_trades @tender.id).present? %>
          <% (get_tender_trades @tender.id).each_with_index do |a,index| %>
              <% if get_category_id(a.trade_id).to_i == 4 %>
                  <p style="font-size: 14px;color: #333333;margin-left:-15px"><%= "#{get_trade_name a.trade_id}" %></p>
              <% end %>
          <% end %>
      <% end %>
    </div>

  </div>
 <% if params[:invited].present? %>

  <% if  is_accepted?(@tender.id,session[:user_logged_id], params[:trade]) %>
    <div class="col-md-12">
       <h3 style="font-family: Gotham"><strong>TRADE DOCUMENTS</strong></h3>
       <table class="table table-bordered responsive"   cellspacing="0" width="100%">
          <thead>
            <tr style="background-color: #000;color: white;">
              <th>FIELNAME</th>
              <th width="30px">DOWNLOAD</th>
            </tr>
          </thead>
          <tbody class="searchable">
            <% if @tender.tender_documents.present? %>
              <% @tender.tender_documents.each do |t| %>
                <tr>
                  <td>
                     <h4 style="font-family: 'Montserrat', sans-serif; font-size: 16px">
                       <%= t.document_file_name %>
                     </h4>
                  </td>
                  <td>
                    <a href="<%= t.document.url(:original)  %>" download>
                      <button class="btn btn-success" style="border-radius: 2px !important;background-color: #72BB53;height: 36px !important;width: 106px !important;" >
                        DOWNLOAD
                      </button>
                    </a>
                    <h4 style="font-family: 'Montserrat', sans-serif; font-size: 16px">
                       

                     </h4>
                  </td>
                  
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
     </div>  

  <% end %>
 <% end %>
 <div class="col-md-12">
   <h3 style="font-family: Gotham"><strong>TENDER LOCATION</strong></h3>
   <p style="font-size: 14px;color: #333333;"><%= "#{@tender.address}" %></p>

   <div id="map_<%= @tender.id %>" style="height:300px;width:100%;"></div>
 </div>




<div class="row">
  <div class="col-md-12">
    <!--<div class="portlet light bordered">-->
      <div class="portlet-body form">
        <div class="form-body">
          <div class="row">
            <div class="col-md-12">
              <!--<div class="portlet box green">-->
                <!--<div class="portlet-title">
                  <div class="caption">
                    <label><i class="fa fa-question-circle"></i> Trades</label>
                  </div>
                  <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                  </div>
                </div>-->
              <% if session[:role] == 'Sub Contractor' %>
                <!--<div class="portlet-body">-->
                  <!--<div class="table-scrollable">-->


                        <!--<p>Status of the trades you have applied to tender for</p>-->

                    <div class="trade_div">
                      
                    </div>
                    

                  <!--</div>-->
                <!--</div>-->
              <% end %>
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
      <%#= render 'tenders/invited_tenders/header_footer_div' %>
    <!--</div>-->
  </div>
</div>





<!--
<div class="row">
  <div class="col-md-12">
    &lt;!&ndash;<div class="portlet light bordered">&ndash;&gt;
    <div class="portlet-body form">
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            &lt;!&ndash;<div class="portlet box green">&ndash;&gt;
            &lt;!&ndash;<div class="portlet-title">
              <div class="caption">
                <i class="fa fa-info-circle"></i>Details</div>
              <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
              </div>
            </div>&ndash;&gt;
            <div class="portlet-body">
              <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                  <tr style="background-color: #2C3E50;color: white;">
                    <th><div class="caption">
                      <i class="fa fa-map-marker"></i> Map</div></th>
                  </tr>
                </table>
                <div id="map_<%#= @tender.id %>" style="height:300px;width:100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<input type="hidden"  class="tenders" value="<%= @tender.id %>">
<input type="hidden"  class="add<%= @tender.id %>" value="<%= @tender.address %>">
<input type="hidden"  class="tender_id" value="<%= @tender.id %>">
<input type="hidden"  class="sc_id" value="<%= session[:user_logged_id] %>">

<div class="success">
  <div id="apply_more_trade" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top: 100px"   >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #184a5f">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="text-center">
            <p class="text-center" style="font-size: 20px;color: white">Apply more Trade</p>
          </div>
          <div class="row">
            <div class="form-group"></div>
          </div>
        </div>
        <br>
        <div class="modal-body">
          <div class="row">
              <div id="content">
                <div class="tab-pane" id="orange">
                  <% if (get_open_tender_trades @tender.id,session[:user_logged_id]).present? %>
                      <div class="col-md-12">
                        <p class="text-center" style="font-size: 16px">
                          Note: All selected checkbox are being requested on Invited Tender
                        </p>
                      </div>
                  <% end %>
                  <div class="col-md-12">
                    <% @trade_cats = [] %>
                    <% @trade_categories.each do |tc|  %> 
                      <% if (get_tender_trades @tender.id).present? %>
                        <% (get_tender_trades @tender.id).each_with_index do |t,index| %>
                          <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                            <div class="text-center"> 
                              <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                                <% if !@trade_cats.include? tc.title %>
                                  <% @trade_cats << tc.title %>
                                  <h1> <%= tc.title %></h1> 
                                <% end %>
                              <% end %>
                            </div>
                              <% if (check_request_trade_quotes  @tender.id,session[:user_logged_id],t.trade_id)  %>
                                <label id = "trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  class="trade_class" checked disabled readonly> <%= get_trade_name t.trade_id %></label> 
                              <% else %>
                                <label id = "trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  value="<%= t.trade_id %>" class="trade_class"> <%= get_trade_name t.trade_id %></label> 
                              <% end %>
                          <% end %>
                        <% end %>
                      <% end %> 
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="form-group"></div>

          </div>
        </div>
        <div class="modal-footer" style="background-color: #184a5f">
          <div class="text-center">
            <a href="#!">
              <button class=" btn btn-info quotes" type="button">I AM INTERESTED</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<script>
  $(document).ready(function(){
    $('.apply_more_trade').click(function(){
      $('#apply_more_trade').modal('show');
    });

    $('.quotes').click(function(){
      var tender_id = $('.tender_id').val();
      var sc_id = $('.sc_id').val();

      var ids = []
      $('.trade_class').each(function(){
        if($(this).is(':checked')){
          ids.push($(this).val());
        }
      });
      console.log(ids)
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,sc_id:sc_id,ids:ids,tender_detail:true},
        url: "/tenders/request_to_quote"
      }).done(function (data) {
        $('#apply_more_trade').modal('hide');
        $('.trade_div').html(data);
      });
    });

    $('.close_tender').mouseenter(function() {
      $(this).attr("disabled", true);
      $(this).text('Feature is coming soon.');
    });

    $('.close_tender').mouseleave(function() {
      $(this).attr("disabled", true);
      $(this).text('Close Tender');
    });

  });
</script>