<div class="col-md-12">
  <!--<div class="portlet light bordered">-->
    <div class="portlet-body form">
      <div class="form-body">
        <%= form_tag(create_tender_trades_tenders_path, :html => { :multipart => true }) do |f| %>
            <input type="hidden" name="save_trade" value="<%= @tender_trades.present? ? true : nil %>">   
            <div class="col-md-12"> 
              <input type="hidden" name="tender_id" value="<%= params[:info_id] %>">
              <% @trade_included_array = [] %>
              <% @trade_categories.each do |tc|  %> 
                  <% if !@trade_category_array.include? "#{tc.title}" %>
                    <% @trade_category_array << "#{tc.title}" %>
                    <div class="<%= tc.title %>" id="<%= tc.title %>"> 
                      <h1> <%= tc.title %></h1> 
                    </div> 


                  <% end %>
                  <% @all_trades.each do |a| %> 
                    <% if tc.id.to_i == a.trade_category_id.to_i %> 
                      <div class="col-md-3 trade_div"> 
                        <% if @trade_array.present? %>
                          <% if @trade_array.include? a.id %>
                            <label id="trade_id_<%= a.id %>" class="all"><input type="checkbox" name="trade_lists[]"  value="<%= a.id %>" class="trade_class" checked> <%= a.name %></label> 
                          <% else %>
                            <label id="trade_id_<%= a.id %>" class="all"><input type="checkbox" name="trade_lists[]"  value="<%= a.id %>" class="trade_class"> <%= a.name %></label> 
                          <% end %>
                        <% else %>
                            <label id="trade_id_<%= a.id %>" class="all"><input type="checkbox" name="trade_lists[]"  value="<%= a.id %>" class="trade_class"> <%= a.name %></label> 
                        <% end %>
                      </div> 
                     <% end %> 
                  <% end %> 
              <% end %> 
              <!--<div class="row">
                <div class="form-group">
                  <label>Can't find your trades above? Use the below section to create your own trade titles</label>
                </div>

                <div class="form-group">
                  <div class="new_trade1" id="1"> 
                    <input type="text" class="form-control trade trade1" name="trade[]" id="1" placeholder="Trade Name"> 
                    <div class="error1">  </div> 
                    <a href="#!">
                      <button class="btn btn-success add_trade" type="button">
                        Add Trade
                      </button>
                    </a>
                    <div class="trade_icons"> 

                      <div class="form-group">
                        <button class="btn btn-primary search_trade" style="display: none;" type="button">Search</button>
                        &lt;!&ndash;<i class="fa fa-plus-circle fa-2x add_trade" aria-hidden="true" style="color: green;display: none" id="1"></i> &ndash;&gt;
                        &lt;!&ndash;<i class="fa fa-minus-circle fa-2x remove_trade" aria-hidden="true" style="color: red;display: none" id="1"></i> &ndash;&gt;
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
              <div class="new_trade_added">  

              </div> 

              <input type="hidden" class="present_trade"> -->
            </div> 
 
            <div>

              <a href="/tenders/new_tender?info=true&info_id=<%= @tender.id %>"> 
                <button class="btn btn-default next_info " type="button" >BACK</button>
              </a>   

              <a href="#!">
                <% if @trade_array.present? %>
                  <button class="btn btn-primary  trade_btn ">SAVE AND CONTINUE</button>
                <% else %>
                  <button class="btn btn-primary  trade_btn " disabled>SAVE AND CONTINUE</button>
                <% end %>
              </a>   
            </div>
        <% end %>
      </div>
    </div>
  <!--</div>-->
</div>



<script>
  // Trades  
  $(document).ready(function () {
    $('.trade1').keyup(function(){
      var new_trade = $(this).val();
      if(new_trade.length > 0){
        //$('.add_trade').show();
      }else{
        //$('.add_trade').hide();
      }

      $('.search_trade').hide();
    });



    $(".trade" ).autocomplete({
      source: get_trades(),
      autoFill: true,
      select: function (event, ui) {
        console.log("ID:"+JSON.stringify(ui.item.label));
        $.ajax({
          method: "POST",
          data: {trade:ui.item.label},
          url: "/trades/search"
        }).done(function (data) {
          if(data.state == 'invalid'){
            $('.search_trade').show();
            $('.error1').html('<p style="color: red;"><i>Opps: This trade already exists in the lists of trade above.</i></p>')
            var id = data.id
            $('.all').css('background-color','');
            if((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) != -1 ) {
              $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
            } else if(navigator.userAgent.indexOf("Chrome") != -1 ) {
              //document.getElementById("trade_id_"+id).scrollIntoView(true);
              $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top - 200 }, 'slow');
            } else if(navigator.userAgent.indexOf("Safari") != -1) {
              $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
            } else if(navigator.userAgent.indexOf("Firefox") != -1 ) {
              $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
            } else if((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )){
              $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
            }
            $('#trade_id_'+id).css('background-color','yellow');
          }else{
            trade = $('.trade1').val('');
            $('.error'+id).html('');
            $('.remove_trade').show();
            $('.search_trade').hide();
            $('.new_trade_added').html(data);
          }
        });

      }
    });

    $('.trade').keyup(function(){
      var val = $(this).val()

      //if(val.length > 0){
      check_trades(val);
      //}
    });

    $('.trade').focusout(function(){
      var val = $(this).val()

      //if(val.length > 0){
      check_trades(val);
      //}
    });

    $('.add_trade').click(function () {
      var id  = $(this).attr('id');
      var trade = $('.trade1').val();

      if(trade.length > 0){
        $.ajax({
          method: "POST",
          data: {id:id,trade:trade},
          url: "/trades/new_trade"
        }).done(function (data) {
          if(data.state == 'invalid'){
            //$(this).show();
            //$('.trade_btn').prop('disabled',true);
            //$('.remove_trade').hide();
            $('.search_trade').show();
            $('.present_trade').val(data.id);
            $('.error1').html('<p style="color: red;"><i>Opps: This trade already exists in the lists of trade above.</i></p>')
          }else{
            trade = $('.trade1').val('');
            $('.error'+id).html('');
            $('.remove_trade').show();
            $('.search_trade').hide();
            $('.new_trade_added').html(data);
          }
        });
      }else{
        alert("Please insert new trade on text field");
      }

      //$(this).hide();



    });

    $('.trade_class').change(function(){
      check_trades();
    });

    function check_trades(a) {
      var ids = [];
      var value_array = [];
      $('.trade_class').each(function()
      {
        if($(this).is(':checked')){
          ids.push($(this).val());
        }
      });

      $('.trade').each(function()
      {
        value_array.push($(this).val());
      });

      console.log("IDS:"+ids);
      console.log("value_array:"+value_array);

      if(ids.length > 0 || a.length > 0){
        $('.trade_btn').prop('disabled',false);
      }else{
        $('.trade_btn').prop('disabled',true);
      }
    }


    $('.remove_trade').click(function(){
      var id  = $(this).attr('id');
      $('.new_trade'+id).remove();
    });

    $('.search_trade').click(function(){

      var id = $('.present_trade').val();
      $('.all').css('background-color','');
      if((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) != -1 ) {
        $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
      } else if(navigator.userAgent.indexOf("Chrome") != -1 ) {
        //document.getElementById("trade_id_"+id).scrollIntoView(true);
        $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top - 200 }, 'slow');
      } else if(navigator.userAgent.indexOf("Safari") != -1) {
        $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
      } else if(navigator.userAgent.indexOf("Firefox") != -1 ) {
        $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
      } else if((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )){
        $('html, body').animate({scrollTop: $('#trade_id_'+id).offset().top + 100 }, 'slow');
      }
      $('#trade_id_'+id).css('background-color','yellow');
    });
  })

  function get_trades(){
    var trades = '<%= @trade_names %>';
    var new_trades = JSON.parse(trades.replace(/&quot;/g,'"'));
    console.log("new_trades:"+new_trades);
    return new_trades;
  }

</script>