<div class="document_lists">
  <div class="form-group has-feedback">
    <% if flash[:error] %>
        <div class="alert alert-danger open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= @error_alert %>
          <div class="notice" style="font-size: 14px;"><%= flash[:error] %></div>
          <% flash[:error]=nil   %>
        </div>
    <% end %>
    <%- if !flash[:notice].nil? %>
        <div class="alert alert-success open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
          <% flash[:notice]=nil %>
        </div>
    <%- end %>
  </div>

  <br>

  <div class="row">

    <div class="col-md-22">
      <table  class="table table-bordered document_table col-md-12">
        <thead>
        <% if @documents.present? %>
          <tr>
            <th>Document</th>
            <th>Revision</th>
            <th>Size</th>

          </tr>
        <% end %>
        </thead>
        <tbody>
        <% if @documents.present? %>
            <% if @directories.present? %>
                <% @directories.uniq.each do |c| %>
                    <% if c.present? %>
                        <tr>
                          <td><input type="text" class="directory" value="<%=  c  %>"  id="<%=  c  %>"> </td>
                          <td style="text-align: center">

                          </td>
                          <td></td>
                        </tr>
                        <% @documents.each_with_index do |u,index| %>
                            <% if u.directory == c && u.document_file_name.present? %>
                                <tr>
                                  <td><%= u.document_file_name %></td>
                                  <td></td>
                                  <td><%= u.document_file_size %> kbs</td>

                                </tr>
                            <% end %>
                        <% end %>
                    <% else %>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>


                        </tr>

                        <% @documents.each_with_index do |u,index| %>
                            <tr>
                              <% if u.document_file_name.present? %>
                                  <% if !u.directory.present? && File.exist?(u.document.path) %>
                                      <td><%= u.document_file_name %></td>
                                      <td></td>
                                      <td><%= u.document_file_size %> kbs</td>

                                  <% end %>
                              <% end %>
                            </tr>
                        <% end %>
                    <% end %>
                <% end %>
            <% else %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <% @documents.each_with_index do |u,index| %>
                    <tr>
                      <% if u.document_file_name.present? %>
                          <% if !u.directory.present? && File.exist?(u.document.path) %>
                              <td><%= u.document_file_name %></td>
                              <td></td>
                              <td><%= u.document_file_size %> kbs</td>

                          <% end %>
                      <% end %>
                    </tr>
                <% end %>
            <% end %>

            <% if @unzips.present? %>
                <% @unzips.each_with_index do |u,index| %>
                    <%= puts "NICE:#{u.filename}" %>

                    <% if  u.directory.present? && u.filename.present?  %>
                        <tr>
                          <td><input type="text" class="directory" value="<%=  u.directory  %>" id="<%= u.directory %>"></td>
                          <td style="text-align: center">
                            <i class="fa fa-angle-double-down revision_icon" aria-hidden="true" style="display: none" title="<%= u.directory %>"></i>
                            <% if check_if_have_revision u.directory,session[:user_logged_id] %>
                                <button type="button" class="btn btn-primary revision_btn"  id="<%= u.directory %>" title="<%= u.directory %>" value="">
                                  <i class="fa fa-angle-double-down" aria-hidden="true"></i> APPLY TO ALL
                                </button>
                            <% else %>
                                <button type="button" class="btn btn-primary revision_btn" style="display: none" id="<%= u.directory %>" title="<%= u.directory %>">
                                  <i class="fa fa-angle-double-down" aria-hidden="true"></i> APPLY TO ALL
                                </button>
                            <% end %>
                          </td>
                          <td></td>

                        </tr>
                        <tr>


                          <td><%= u.filename %></td>
                          <td></td>
                          <td><%= u.file_size %> kbs</td>

                        </tr>
                    <% else %>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>

                          <td><%= u.filename %></td>
                          <td></td>
                          <td><%= u.file_size %> kbs</td>

                        </tr>
                    <% end %>

                <% end %>
            <% end %>
        <% else %>
            <tr>
              <td style="color: grey;">No tender available.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


