<div class="col-md-22">
  <div class="col-md-22  " type="file" id="dir-select" webkitdirectory name="document"> 
    <!--<div class="col-md-10  col-md-offset-8">
      <input type="text" class="form-control" id="inputSuccess2" style="border-radius: 5px"/>
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>-->

    <br><br>
    <div class="col-md-24  col-md-offset-2">
      <table  class="table table-bordered responsive" id="my_tender_table"  cellspacing="0" width="100%">
        <thead>
          <tr>
            <% if session[:role] == 'Sub Contractor' %>
               <th>Status</th>
            <% end %>
            <th>Tender ID</th>
            <th>Project Name</th>
            <th>Location</th>
            <th>Quote Due</th>
            <% if session[:role] == 'Head Contractor' %>
                <th>Notifications</th>
            <% end %>
          </tr>
        </thead>
        <tbody class="searchable">
          <% if @tenders.present? %>
            <% @tenders.each do |t| %>
              <tr>
                <% if session[:role] == 'Sub Contractor' %>
                  <td class="text-center">
                    <a href="#!" >
                      <% if get_tender_approved t.id,session[:user_logged_id] %>
                        <button class="btn btn-success" type="button">
                          Quoting
                        </button>
                      <% else %>
                        <button class="btn btn-warning" type="button">
                          Pending
                        </button>
                      <% end %>
                    </a>
                  </td>
                <% end %>
                <% if session[:role] == 'Head Contractor' %>
                  <td class="text-center">
                    <a href="<%= hc_tender_tenders_path(:id => t.id) %>">
                      <%= t.tendercon_id %>
                    </a>
                  </td>
                <% else %>
                  <td class="text-center">
                    <a href="<%= sc_tender_tenders_path(:id => t.id) %>" >
                      <%= t.tendercon_id %>
                    </a>
                  </td>
                <% end %>
                <td class="text-center"><%= t.title %></td>
                <td class="text-center"><%= t.address %></td>
                <td class="text-center"><%= get_tender_due t.id %></td>
                <% if session[:role] == 'Head Contractor' %>
                  <td class="text-center">
                    <% if (get_count_tender_request session[:user_logged_id],t.id ) > 0 %>
                        <span class="badge" style="background-color: red"><%= get_count_tender_request session[:user_logged_id],t.id %></span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
    <div id="map_18" style="height:180px;width:450px;"></div> 
  </div>
</div>


<div class="upgrade_request ">
  <% if @tenders.present? %>
      <%  @tenders.each do |u| %>
          <div id="tender_Modal_<%= u.id %>" class="modal fade col-md-24" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top: 100px;" >
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="col-sm-24 col-md-14 col-md-offset-6">
                    <p class="text-center" style="font-size: 20px"><%= u.title %></p>
                  </div>
                  <div class="row">
                    <div class="form-group"></div>
                  </div>
                </div>
                <br>
                <div class="modal-body">
                  <div class="row">
                    <div class="container">
                      <div id="content">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                          <li ><a href="#red" data-toggle="tab" id="<%= u.id %>">Details</a></li>
                          <li><a href="#orange" data-toggle="tab" id="<%= u.id %>">Trades</a></li>
                          <li><a href="#yellow" data-toggle="tab" id="<%= u.id %>">Documents</a></li>
                          <li class="active"><a href="#green" data-toggle="tab" id="<%= u.id %>">Map</a></li>
                        </ul>
                        <div id="my-tab-content" class="tab-content">
                          <div class="row">
                            <div class="form-group"></div>
                          </div>
                          <div class="tab-pane " id="red">
                            <div class="col-md-22">
                              <div class="col-md-4">
                                <label>Tender ID</label>
                              </div>

                              <div class="col-md-18">
                                <label><%= u.tendercon_id %></label>
                              </div>

                              <div class="col-md-4">
                                <label>Status</label>
                              </div>

                              <div class="col-md-18">
                                <% if u.status == '1' %>
                                    <label>Tendering - Your organization is still tendering for this project.</label>
                                <% else %>
                                    <label>Awarded - This tender has been awarded to the Head Contractor </label>
                                <% end %>
                              </div>

                              <div class="col-md-4">
                                <label>Client</label>
                              </div>

                              <div class="col-md-18">
                                <label><%= u.client %></label>
                              </div>

                              <div class="col-md-4">
                                <label>Architect</label>
                              </div>

                              <div class="col-md-18">
                                <label><%= u.architect %></label>
                              </div>

                              <div class="col-md-4">
                                <label>Sector</label>
                              </div>

                              <div class="col-md-18">
                                <label><%= get_categoty_name u.category_id %></label>
                              </div>

                              <div class="col-md-4">
                                <label>Value</label>
                              </div>

                              <div class="col-md-18">
                                <label><%= get_value_name u.tender_value_id %></label>
                              </div>

                              <div class="col-md-4">
                                <label>Description</label>
                              </div>

                              <div class="col-md-18">
                                <label><%=  u.description %></label>
                              </div>


                              <div class="col-md-4">
                                <label>Address</label>
                              </div>

                              <div class="col-md-18">
                                <label><%=  u.address %></label>
                              </div>

                              <% if (get_tender_sites u.id).present? %>
                                  <% (get_tender_sites u.id).each do |a| %>
                                      <div class="col-md-4">
                                        <label>Site Inspection</label>
                                      </div>
                                      <div class="col-md-18">
                                        <label><%= a.site_description %></label>|
                                        <label><%= a.site_date %></label>
                                      </div>
                                      <br>
                                  <% end %>
                              <% end %>
                              <div class="col-md-4">
                                <label>Quote</label>
                              </div>

                              <div class="col-md-18">
                                <label><%=  u.tender_quote.quote_date %></label>|
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane" id="orange">
                            <div class="col-md-18">
                              <% @trade_categories.each do |tc|  %> 
                                <div class="<%= tc.title %>" id="<%= tc.title %>"> 
                                  <% if(check_if_categories_has_trade u.id,tc.id) %>
                                      <h1> <%= tc.title %></h1> 
                                  <% end %>
                                  <% if (get_tender_trades u.id).present? %>
                                    <% (get_tender_trades u.id).each_with_index do |t,index| %>
                                        <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                                            <p style="font-size: 12px;font-weight: bold"><%= get_trade_name t.trade_id %></p>
                                        <% end %>
                                    <% end %>
                                  <% else %>

                                  <% end %>
                                </div> 
                              <% end %> 
                            </div>
                          </div>
                          <div class="tab-pane" id="yellow">
                            <div class="col-md-22">
                              <div class="col-md-24 col-md-13 col-md-offset-0">
                                <p class="text-center">
                                  <i class="fa fa-file fa-4x" aria-hidden="true"></i>
                                </p>
                              </div>
                              <br>

                              <% if !u.hide_document.present? || u.hide_document == '0'  %>
                                  <div class="col-md-24 col-md-13 col-md-offset-0">
                                    <p class="text-center" style="font-size: 18px">
                                      <b>Head Contractor has uploaded documents</b>
                                    </p>
                                    <p class="text-center" style="font-size: 16px">
                                      <a href="<%= "http://"+request.host_with_port+"/assets/tender/#{u.tendercon_id}/#{u.tendercon_id}.zip" %>">
                                        Download documents here.
                                      </a>
                                    </p>
                                  </div>
                              <% else %>
                                  <div class="col-md-24 col-md-13 col-md-offset-0">
                                    <p class="text-center" style="font-size: 18px">
                                      <b>Head Contractor has hidden the documents</b>
                                    </p>
                                    <p class="text-center" style="font-size: 16px">
                                      Documents will be available after your request approved
                                    </p>
                                  </div>
                              <% end %>
                            </div>

                          </div>
                          <div class="tab-pane active" id="green">
                            <input type="hidden"  class="tenders" value="<%= u.id %>">
                            <input type="hidden"  class="add<%= u.id %>" value="<%= u.address %>">
                             
                          </div>
                          <div id="map_<%= u.id %>" style="height:180px;width:570px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">

                    </div>
                    <div class="col-sm-24 col-md-14 col-md-offset-8 ">

                      <a href="#!">
                        <button class=" btn btn-info interested_btn" type="button" id="<%= u.id %>" >I AM INTERESTED</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>

</div>


<div class="requested">
  <% if @tenders.present? %>
      <%  @tenders.each do |u| %>
          <div id="tender_trade_Modal_<%= u.id %>" class="modal fade col-md-24" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top: 100px;" >
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content col-md-24">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="col-md-24 col-md-20 col-md-offset-2">
                    <p class="text-center" style="font-size: 20px">
                      Select the trades you wish to quote for
                    </p>
                  </div>
                  <div class="row">
                    <div class="form-group"></div>
                  </div>
                </div>
                <br>
                <div class="modal-body">
                  <div class="row">
                    <div class="container">
                      <div id="content">
                        <div class="tab-pane" id="orange">
                          <div class="col-md-18">
                            <% @trade_categories.each do |tc|  %> 

                                <% if (get_tender_trades u.id).present? %>
                                    <div class="col-md-24"> 
                                      <h1> <%= tc.title %></h1> 
                                    </div>
                                    <% (get_tender_trades u.id).each_with_index do |t,index| %>
                                        <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                                            <div class="col-md-22">
                                              <div class="col-md-6">
                                                <label id="trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  value="<%= t.trade_id %>" class="trade_class" checked> <%= get_trade_name t.trade_id %></label> 

                                              </div>
                                            </div>

                                        <% end %>
                                    <% end %>
                                <% end %> 
                            <% end %> 


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">

                    </div>
                    <div class="col-sm-24 col-md-14 col-md-offset-8 ">

                      <a href="#!">
                        <button class=" btn btn-info interested_btn" type="button" id="<%#= u.id %>" >I AM INTERESTED</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyA7B-_hoQVA07h-qSd3E-HXxyXnM9W4zC8&libraries=places&sensor=false"></script> 
<script>


  $('.interested_btn').click(function(){
    var id = $('.interested_btn').attr('id');
  })

  $(document).ready(function(){
    $('.tenders').each(function(){
      var id =  $(this).val();
      var add = $('.add'+id).val();
    });

    $('#inputSuccess2').keyup(function () {

      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();
    });

    $('#my_tender_table').DataTable({} );

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href"); // activated tab
      var id = $(e.target).attr("id");

      console.log("TARGET:"+target);
      console.log("ID:"+id);
      if(target == '#green'){
        $('#map_'+id).show();
      }else{
        $('#map_'+id).hide();
      }
    });

    $('.tender').click(function(){
      var id = $(this).attr('id');
      var add = $('.add'+id).val();

      $.ajax({
        method: "POST",
        data: {add:add},
        url: "/tenders/get_latling"
      }).done(function (data) {
        $('#tender_Modal_'+id).modal('show');
        initialize(data,id);

      });


    });

    function initialize(data,id) {

      var myLatLng = {lat:data.latitude, lng: data.longitude};
      var mp =  'map_'+id;

      var map = new google.maps.Map(document.getElementById(mp), {
        zoom: 15,
        center: myLatLng
      });

      google.maps.event.addListenerOnce(map, 'idle', function() {
        google.maps.event.trigger(map, 'resize');
        map.setCenter(myLatLng);
      });



      console.log("TESt");
      var marker = new google.maps.Marker({
       position: myLatLng,
       map: map
       });

    }
  })


</script>