<div class="row widget-row">
  <div class="col-md-4">
    <!-- BEGIN WIDGET THUMB -->
    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
      <h4 class="widget-thumb-heading">AUSTRALIA WIDE</h4>
      <div class="widget-thumb-wrap">
        <i class="widget-thumb-icon bg-green icon-bulb"></i>
        <div class="widget-thumb-body">
          <span class="widget-thumb-subtitle">TENDERS</span>
          <span class="widget-thumb-body-stat" data-counter="counterup" data-value="7,644">0</span>
        </div>
      </div>
    </div>
    <!-- END WIDGET THUMB -->
  </div>
  <div class="col-md-4">
    <!-- BEGIN WIDGET THUMB -->
    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
      <h4 class="widget-thumb-heading">IN YOUR STATE</h4>
      <div class="widget-thumb-wrap">
        <i class="widget-thumb-icon bg-red icon-layers"></i>
        <div class="widget-thumb-body">
          <span class="widget-thumb-subtitle">TENDERS</span>
          <span class="widget-thumb-body-stat" data-counter="counterup" data-value="1,293">0</span>
        </div>
      </div>
    </div>
    <!-- END WIDGET THUMB -->
  </div>
  <div class="col-md-4">
    <!-- BEGIN WIDGET THUMB -->
    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
      <h4 class="widget-thumb-heading">WITHIN YOUR TRADE</h4>
      <div class="widget-thumb-wrap">
        <i class="widget-thumb-icon bg-purple icon-screen-desktop"></i>
        <div class="widget-thumb-body">
          <span class="widget-thumb-subtitle">TENDERS</span>
          <span class="widget-thumb-body-stat" data-counter="counterup" data-value="815">0</span>
        </div>
      </div>
    </div>
    <!-- END WIDGET THUMB -->
  </div>
</div>
<div class="row"> 
  <div class="text-center">
    <h1 class="text-center">OPEN TENDERS</h1>
  </div>
  <div style="height: 80px;"></div>


  <div class="col-md-12   tender_list_filter">
    <table  class="table table-bordered responsive" id="open_tender_table"  cellspacing="0" width="100%">
      <thead>
        <tr style="background-color: #2C3E50;color: white;">
          <th class="no-sort">Tender ID</th>
          <th class="no-sort">Project Name</th>
          <th class="no-sort">Value</th>
          <!--<th>Sector</th>-->
          <th class="no-sort">Location</th>
          <th>Distance</th>
          <th class="no-sort">Head Contractor</th>
          <th>Quote Due</th>
          <th class="no-sort">Action</th>
        </tr>
      </thead>
      <tbody class="searchable">
        <% if @tenders.present? %>
          <% @tenders.each do |t| %>
            <tr>
              <% if session[:role] == 'Head Contractor' %>
                <td class="text-center">
                  <%= t.tendercon_id %>
                  <!--<a href="/tenders/new_tender?info=true&info_id=<%= t.id %>">
                    <%#= t.tendercon_id %>
                  </a>-->
                </td>
              <% else %>
                <td class="text-center">
                  <%= t.tendercon_id %>
                  <!--<a href="#!" class="tender" id="<%#= t.id %>">
                    <%#= t.tendercon_id %>
                  </a>-->
                </td>

              <% end %>

              <td class="text-center"><%= t.title %></td>
              <td class="text-center"><%= get_value_name t.tender_value_id %></td>
              <!--<td class="text-center"><%#= get_trade_category_name  t.category_id %></td>-->
              <% if t.address_terms.present? %>
                <td class="text-center">
                  Hidden Address <i class="fa fa-question-circle" aria-hidden="true" title="Address will appear once your Head Contractor approved your request"></i>
                </td>
              <% else %>
                  <td class="text-center"><%= split_address t.address %></td>
              <% end %>
              <td class="text-center"><%= get_distance t.id,session[:user_logged_id] %></td>
              <td class="text-center"><%= get_user_trade_name t.user_id %></td>
              <td class="text-center"><%= get_tender_due t.id %></td>
              <% if session[:role] == 'Head Contractor' %>
                  <td class="text-center">
                    <a href="/tenders/new_tender?info=true&info_id=<%= t.id %>">
                      <button class="btn green">
                        View
                      </button>
                    </a>
                  </td>
              <% else %>
                  <td class="text-center">

                    <% if @user.free_plan?  %>
                      <button class="btn green"  data-toggle="modal" data-target="#basic" type="button">
                        View
                      </button>
                    <% else %>
                        <a href="#!" class="tender" id="<%= t.id %>">
                          <button class="btn green">
                            View
                          </button>
                        </a>
                    <% end %>

                  </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      </table>
  </div>
</div>



<%= render 'tenders/open_tender/dialog' %>



<div class="row ">
  <% if @tenders.present? %>
    <%  @tenders.each do |u| %>
      <div id="tender_Modal_<%= u.id %>" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top: 30px;height: 100%;" >
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #184a5f;height: 60px">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="text-center">
                <label class="text-center" style="font-size: 20px;color: white"><%= u.title %></label>
              </div>
            </div>
            <div class="modal-body open_tender_body">
              <input type="hidden" class="tender_id" value="<%= u.id %>">
              <div class="row">
                <!--<div class="row">
                  <div class="col-md-11">
                    <button class="btn btn-default pull-right why_quote">
                      Why Should i quote to this Tender?
                    </button>
                  </div>
                </div>-->
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="tabbable-line">
                          <ul class="nav nav-tabs ">
                            <li class="active"><a href="#red<%= u.id%>" data-toggle="tab" id="<%= u.id %>">Details</a></li>
                            <li><a href="#orange<%= u.id%>" data-toggle="tab" id="<%= u.id %>">Trades</a></li>
                            <li><a href="#yellow<%= u.id%>" data-toggle="tab" id="<%= u.id %>">Documents</a></li>
                            <li><a href="#green<%= u.id%>" data-toggle="tab" id="<%= u.id %>">Map</a></li>
                            <li><a href="#blue<%= u.id%>" data-toggle="tab" id="<%= u.id %>"></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div style="height: 30px"></div>
                    <div id="my-tab-content" class="tab-content">

                      <div class="tab-pane active" id="red<%= u.id%>">
                        <div class="row">

                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-3">
                              <label>Tender ID</label>
                            </div>

                            <div class="col-md-9">
                              <label><%= u.tendercon_id %></label>
                            </div>

                            <div class="col-md-3">
                              <label>Status</label>
                            </div>

                            <div class="col-md-9">
                              <% if u.status == '1' %>
                                  <label>Tendering-The Head Contractor still tendering for this project.</label>
                              <% else %>
                                  <label>Awarded-This tender has been awarded to the Head Contractor </label>
                              <% end %>
                            </div>

                            <div class="col-md-3">
                              <label>Head Contractor</label>
                            </div>

                            <div class="col-md-9">
                              <label><%= return_hc_name u.user_id %></label>
                            </div>

                            <div class="col-md-3">
                              <label>Client</label>
                            </div>

                            <div class="col-md-9">
                              <label><%= u.client.present? ? u.client : '-------' %></label>
                            </div>

                            <div class="col-md-3">
                              <label>Architect</label>
                            </div>

                            <div class="col-md-9">
                              <label><%= u.architect.present? ? u.architect : '-------' %></label>
                            </div>

                            <div class="col-md-3">
                              <label>Sector</label>
                            </div>

                            <div class="col-md-9">
                              <label><%= get_categoty_name u.category_id %></label>
                            </div>

                            <div class="col-md-3">
                              <label>Value</label>
                            </div>

                            <div class="col-md-9">
                              <label><%= get_value_name u.tender_value_id %></label>
                            </div>

                            <div class="col-md-3">
                              <label>Description</label>
                            </div>

                            <div class="col-md-9">
                              <label><%=  u.description.present? ? u.description.html_safe : '-------' %></label>
                            </div>
                            <% if u.address_terms != "on"  %>
                                <div class="col-md-3">
                                  <label>Address</label>
                                </div>

                                <div class="col-md-9">
                                  <label><%=  u.address %></label>
                                </div>
                            <% end %>

                            <div class="col-md-3">
                              <label>Distance from me </label>
                            </div>

                            <div class="col-md-9">
                              <label><%= get_distance u.id,session[:user_logged_id] %></label>
                            </div>

                            <% if (get_tender_sites_per_user u.id).present? %>
                                <div class="col-md-3">
                                  <label>Site Inspection</label>
                                </div>
                                <div class="col-md-9"></div>
                                <% (get_tender_sites_per_user u.id).each do |a| %>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6"><label><%= a.site_date %></label></div>
                                <% end %>
                            <% end %>
                            <div class="col-md-3">
                              <label>Quote</label>
                            </div>
                            <div class="col-md-9">
                              <label><%= u.tender_quote.quote_date %></label>
                            </div>
                          </div>
                        </div>
                        <div style="height: 100px"></div>
                      </div>
                      <div class="tab-pane" id="orange<%= u.id%>">
                        <div class="col-md-12">
                          <% @trade_categories.each do |tc|  %> 
                            <div class="<%= tc.title %>" id="<%= tc.title %>"> 
                              <% if(check_if_categories_has_trade u.id,tc.id) %>
                                <h1> <%= tc.title %></h1> 
                              <% end %>
                              <% if (get_tender_trades u.id).present? %>
                                <% (get_tender_trades u.id).each_with_index do |t,index| %>
                                  <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                                      <div class="text-center">
                                        <label><%= get_trade_name t.trade_id %></label>
                                      </div>
                                      <div style="height: 10px"></div>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div> 
                          <% end %> 
                        </div>
                      </div>
                      <div class="tab-pane" id="yellow<%= u.id%>">
                        <div style="height: 135px"></div>
                        <div class="col-md-12">
                          <div class="text-center">
                              <i class="fa fa-file fa-4x" aria-hidden="true"></i>
                          </div>
                          <br>
                          <% if !u.hide_document.present? || u.hide_document == '0'  %>
                            <div class="col-md-12">

                              <% if (get_tender_document_package u.id).present? %>
                                <p class="text-center" style="font-size: 18px">
                                  <b>Head Contractor has uploaded documents</b>
                                </p>
                                <select onchange="location = this.options[this.selectedIndex].value;" class="form-control download">
                                  <option value="#!">None</option>
                                  <option value="<%= "http://"+@ip+"/assets/tender/document/Fullset-#{u.tendercon_id}.zip" %>">Full set</option>
                                  <% (get_tender_document_package u.id).each do |d| %>
                                    <option value="<%= d.url %>"><%= File.basename(d.url) %></option>
                                  <% end %>
                                </select>
                                  <div style="height: 40px"></div>
                              <% else %>
                                <p class="text-center" style="font-size: 18px">
                                  <b>Head Contractor has not uploaded any documents yet</b>
                                </p>
                                <p class="text-center" style="font-size: 12px">
                                  Document will be available after your request has been approved
                                </p>
                                <p class="text-center" style="font-size: 12px">
                                  Press the [I AM INTERESTED] below to notify Head Contractor.
                                </p>
                                  <div style="height: 40px"></div>
                              <% end %>
                            </div>
                            <div style="height: 100px"></div>
                          <% else %>
                            <div class="col-md-12">
                              <p class="text-center" style="font-size: 18px">
                                <b>Head Contractor has hidden the documents</b>
                              </p>
                              <p class="text-center" style="font-size: 16px">
                                Documents will be available after your request approved
                              </p>
                              <div style="height: 40px"></div>
                            </div>
                            <div style="height: 100px"></div>
                          <% end %>

                        </div>

                      </div>
                      <div class="tab-pane" id="green<%= u.id%>">
                        <% if u.address_terms != 'on'  %>
                          <input type="hidden"  class="tenders" value="<%= u.id %>">
                          <input type="hidden"  class="add<%= u.id %>" value="<%= u.address %>">

                          <div class="col-md-12 ">
                            <div style="height: 35px"></div>
                             <div id="map_<%= u.id %>" style="height:250px;width:570px;"></div>
                            <p class="text-center" style="font-size: 14px">
                              <b>Address: <%= u.address %></b>
                            </p>

                          </div>
                        <% else %>
                          <div class="text-center">
                            <p class="text-center" style="font-size: 18px">Map is hide by the Head Contractor.</p>
                          </div>
                        <% end %>

                      </div>
                    </div>
                    <div class="quote_info" style="display: none;">
                      <div class="row">
                        <div style="height: 30px;"></div>
                        <div class="col-md-12">
                          <p class="text-center" style="font-size: 20px">
                            Why Should i quote to this Tender?
                          </p>
                          <br/><br/>
                          <p class="text-center" style="font-size: 14px">
                            Document will be available after your request has been approced
                          </p>
                          <p class="text-center" style="font-size: 14px">
                            Press the[I AM INTERESTED] below to notify Head Contractor
                          </p>
                          <br/><br/>
                          <p class="text-center" style="font-size: 14px">
                            to find out more <a href="/invites">UPGRADE</a> to Professional now.
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!--<div class="row">
                <div class="form-group"></div>
                <div class="text-center" style="background-color: #184a5f;height: 100px">
                  <a href="#!">
                    <button class=" btn btn-info interested_btn" type="button" id="<%= u.id %>" >I AM INTERESTED</button>
                  </a>
                </div>
              </div>-->
            </div>
            <div class="modal-footer" style="background-color: #184a5f;height: 60px">
              <div class="text-center footer_btn">
                <a href="#!">
                  <button class=" btn btn-info interested_btn" type="button" id="<%= u.id %>" >I AM INTERESTED</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



<div class="success">
  <% if @tenders.present? %>
    <%  @tenders.each do |u| %>
      <div id="tender_success_<%= u.id %>" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top: 100px"   >
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #184a5f">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="text-center">
                <p class="text-center" style="font-size: 20px;color: white"><%= u.title %></p>
              </div>
              <div class="row">
                <div class="form-group"></div>
              </div>
            </div>
            <br>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <i class="fa fa-check-circle fa-4x" aria-hidden="true" style="color: green"></i>
                  </div>
                  <div class="col-md-12">
                    <p class="text-center" style="font-size: 16px; font-weight: bold">
                      Congrats! Your request has been sent to the Head Contractor
                    </p>
                    <p class="text-center">
                      You will be notified when the HC has accepted or declined your request
                    </p>
                    <p></p>
                    <p class="text-center">Next Steps</p>
                    <p class="text-center">
                      1. This project will now be move to your MY TENDERS
                    </p>
                    <p class="text-center">
                      2. HC will get notified of your request
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="background-color: #184a5f">
              <div class="text-center">
                <a href="<%= open_tender_tenders_path %>">
                  <button type="button" class="btn btn-success">Open Tenders</button>
                </a>
                <a href="<%= my_tender_tenders_path %>">
                  <button type="button" class="btn btn-default">My Tender</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="requested">
  <% if @tenders.present? %>
      <%  @tenders.each do |u| %>
          <div id="tender_trade_Modal_<%= u.id %>" class="modal fade col-md-12"   style="margin-top: 100px;" >
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="text-center">
                    <p class="text-center" style="font-size: 20px"><%= u.title %></p>

                  </div>
                  <div class="row">
                    <div class="form-group"></div>
                  </div>
                </div>
                <br>
                <input type="hidden" class="sc_id" value="<%= session[:user_logged_id] %>">
                <input type="hidden" class="tender_id" value="<%= u.id %>">
                <div class="modal-body" style="overflow-y: auto;height: 250px;">
                  <div class="row">
                    <div class="container">
                      <div id="content">
                        <div class="tab-pane" id="orange">
                          <div class="row">
                            <% @trade_cats = [] %>
                            <% @trade_categories.each do |tc|  %> 
                                <% if (get_tender_trades u.id).present? %>
                                    <% (get_tender_trades u.id).each_with_index do |t,index| %>
                                        <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                                            <div class="col-md-12"> 
                                              <% if tc.id.to_i == (get_trade_category_id t.trade_id).to_i %>
                                                  <% if !@trade_cats.include? tc.title %>
                                                      <% @trade_cats << tc.title %>
                                                      <h1> <%= tc.title %></h1> 
                                                  <% end %>
                                              <% end %>
                                            </div>
                                            <div class="col-md-12">
                                              <div class="col-md-4">
                                                <% if (get_open_tender_trades u.id,session[:user_logged_id]).present? %>
                                                    <% (get_open_tender_trades u.id,session[:user_logged_id]).each do |a| %>
                                                        <% if a == t.trade_id %>
                                                            <label id = "trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  value="<%= t.trade_id %>" class="trade_class" checked disabled> <%= get_trade_name t.trade_id %></label> 
                                                        <% else %>
                                                            <label id = "trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  value="<%= t.trade_id %>" class="trade_class"> <%= get_trade_name t.trade_id %></label> 
                                                        <% end %>
                                                    <% end %>
                                                <% else %>
                                                    <label id = "trade_id_<%= t.trade_id %>"><input type="checkbox" name="trade_lists[]"  value="<%= t.trade_id %>" class="trade_class"> <%= get_trade_name t.trade_id %></label> 
                                                <% end %>

                                              </div>
                                            </div>
                                        <% end %>
                                    <% end %>
                                <% end %> 
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group"></div>
                    <div class="text-center">
                      <% if (get_open_tender_trades u.id,session[:user_logged_id]).present? %>
                          <a href="#!">
                            <button class=" btn btn-info quotes" type="button">I AM INTERESTED</button>
                          </a>
                      <% else %>
                          <a href="#!">
                            <button class=" btn btn-info quotes" type="button" disabled>I AM INTERESTED</button>
                          </a>
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyA7B-_hoQVA07h-qSd3E-HXxyXnM9W4zC8&libraries=places&sensor=false"></script> 
<script>
  $(document).ready(function(){

    <% if @user.free_plan?  %>
       $('#basic').modal('show');
    <% end %>

    var tender_id;
    var map;
    var tab_id;
    var myLatLng;

    <% if session[:role] == 'Sub Contractor' || session[:role] == 'Team Member' %>
    <% if @user_quote.present? %>
    var tender_date =  "<%= (@user_quote.created_at + 1.month).strftime("%Y-%m-%d") %>";

    console.log("tender_date:"+tender_date)
    $("#open_tender_counter").countdown(tender_date, function(event) {
      $(this).text(event.strftime('%D days %H hrs : %M mins : %S secs'));
    });
    <% end %>
    <% end %>

    $('#open_tender_table').DataTable({
      "bPaginate": false,
      "bInfo" : false,
      "bFilter" : false,
      "order": [],
      "columnDefs": [ {
        "targets"  : 'no-sort',
        "orderable": false,
      }]
    });


    $('#inputSuccess2').keyup(function (){
      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();
    });

    $('.download').change(function(){
      var tender_id = $('.tender_id').val();
      var user_id = $('.sc_id').val();
      var trade =  $(this).val();

      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,trade:trade,user_id:user_id},
        url: "/package_downloads/save_download"
      }).done(function (data){

      });
    });

    $('.interested_btn').click(function(){
      var id = $(this).attr('id');
      $.ajax({
        method: "POST",
        data: {tender_id:id},
        url: "/open_tenders/get_request_body"
      }).done(function (data){
        $('.open_tender_body').html(data);
      });

      $.ajax({
        method: "POST",
        data: {tender_id:id},
        url: "/open_tenders/get_request_footer"
      }).done(function (data){
        $('.footer_btn').html(data);
      });


      //$('#tender_Modal_'+id).modal('hide');
      //$('#tender_trade_Modal_'+id).modal('show');
    });

    $('.quotes').click(function(){
      var tender_id = $('.tender_id').val();
      var sc_id = $('.sc_id').val();

      var ids = []
      $('.trade_class').each(function(){
        if($(this).is(':checked')){
          ids.push($(this).val());
        }
      });

      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,sc_id:sc_id,ids:ids,open:true},
        url: "/tenders/request_to_quote"
      }).done(function (data) {
        $('#tender_trade_Modal_'+tender_id).modal('hide');
        $('#tender_success_'+tender_id).modal('show');
      });
    });

    $('.trade_class').change(function(){
      var ids = []
      $('.trade_class').each(function(){
        if($(this).is(':checked')){
          ids.push($(this).val());
        }
      });

      if(ids.length > 0){
        $('.quotes').prop('disabled',false);
      }else{
        $('.quotes').prop('disabled',true);
      }
    });

    $('.why_quote').click(function(){
      $('.quote_info').show();
      $('.tab-content').hide();
      $('li').removeClass("active");
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('.tab-content').show();
      $('.quote_info').hide();
    });

    $(document).ready(function(){
      $('.tenders').each(function(){
        var id =  $(this).val();
        var add = $('.add'+id).val();
      });

      $('.tender').click(function(){
        var id = $(this).attr('id');
        var add = $('.add'+id).val();
        tender_id = id;
        tab_id = "#green"+tender_id;
        $.ajax({
          method: "POST",
          data: {add:add},
          url: "/tenders/get_latling"
        }).done(function (data) {
          $('#tender_Modal_'+id).modal('show');
          initialize(data,id);
        });
      });

      $('a').attr('href', tab_id).on('shown.bs.tab', function() {
        google.maps.event.trigger(map, 'resize');
      });


      function initialize(data,id) {
        myLatLng = {lat:data.latitude, lng: data.longitude};
        var mp =  'map_'+id;

        map = new google.maps.Map(document.getElementById(mp), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });

        google.maps.event.addListenerOnce(map, 'idle', function() {
          google.maps.event.trigger(map, 'resize');
          map.setCenter(myLatLng);
        });
      }

      $(function(){
        $(".dropdown-menu > li > a.trigger").on("click",function(e){
          var current=$(this).next();
          var grandparent=$(this).parent().parent();
          if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
            $(this).toggleClass('right-caret left-caret');
          grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
          grandparent.find(".sub-menu:visible").not(current).hide();
          current.toggle();
          e.stopPropagation();
        });

        $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
          var root=$(this).closest('.dropdown');
          root.find('.left-caret').toggleClass('right-caret left-caret');
          root.find('.sub-menu:visible').hide();
        });
      });

      $('.search_filter').click(function(e){
        e.stopPropagation();
        console.log($("#e1").val())
        var filters = $("#e1").val();
        //$('.tender_list_filter').html('');
        $.ajax({
          method: "POST",
          data: {filters:filters},
          url: "/tenders/filter_open_tender"
        }).done(function (data) {
          $('.tender_list_filter').html(data);
        });
      });

      $("#e1").select2({
        "multiple": true,
        "closeOnSelect": false
      });
    })
  })
</script>