<div class="row">
  <div class="container">
    <input type="hidden" class="tender_id" value="<%= @tender.id %>">
    <input type="hidden" class="user_id" value="<%= session[:user_logged_id] %>">
    <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <% if params[:rfi].present? || params[:quote].present? %>
            <li><a href="#info" data-toggle="tab" id="<%= @tender.id %>">Details</a></li>
        <% else %>
            <li class="active"><a href="#info" data-toggle="tab" id="<%= @tender.id %>">Details</a></li>
        <% end %>
        <li><a href="#document_control" data-toggle="tab" id="<%= @tender.id %>">Document</a></li>
        <li><a href="#addenda" data-toggle="tab" id="<%= @tender.id %>">Addenda</a></li>
        <li><a href="#chat" data-toggle="tab" id="<%= @tender.id %>">Chat</a></li>
        <% if params[:rfi].present? %>
            <li class="active"><a href="#rfi" data-toggle="tab" id="<%= @tender.id %>">RFIs</a></li>
        <% else %>
            <li ><a href="#rfi" data-toggle="tab" id="<%= @tender.id %>">RFIs</a></li>
        <% end %>
        <% if params[:quote].present? %>
            <li class="active"><a href="#quote" data-toggle="tab" id="<%= @tender.id %>">Quotes</a></li>
        <% else %>
            <li><a href="#quote" data-toggle="tab" id="<%= @tender.id %>">Quotes</a></li>
      <% end %>

      </ul>
      <div id="my-tab-content" class="tab-content">
        <div class="row">
          <div class="form-group"></div>
        </div>
        <% if params[:rfi].present? || params[:quote].present? %>
          <div class="tab-pane  col-md-21" id="info">
            <%= render 'tender_info' %>
          </div>
        <% else %>
          <div class="tab-pane active col-md-21" id="info">
            <%= render 'tender_info' %>
          </div>
        <% end %>
        <div class="tab-pane col-md-21" id="addenda">

        </div>
        <% if params[:rfi].present? %>
            <div class="tab-pane active col-md-21" id="rfi">

            </div>
        <% else %>
            <div class="tab-pane col-md-21" id="rfi">

            </div>
        <% end %>

        <div class="tab-pane  col-md-21" id="document_control">
          <div class="row>">
            <div class="form-group"></div>
            <br>
            <% if !@tender.hide_document.present? || @tender.hide_document == '0'  %>
              <div class="col-sm-24 col-md-14 col-md-offset-5 ">
                <p class="text-center" style="font-size: 18px">
                  <b>Head Contractor has uploaded documents</b>
                </p>
                <% if (get_tender_document_package @tender.id).present? %>
                  <select onchange="location = this.options[this.selectedIndex].value;" class="form-control download_package">
                    <option value="#!">None</option>
                    <% (get_tender_document_package @tender.id).each do |d| %>
                        <option value="<%= d.url %>"><%= File.basename(d.url) %></option>
                    <% end %>
                  </select>
                <% end %>
              </div>
            <% else %>
              <div class="col-md-24 col-md-13 col-md-offset-0">
                <p class="text-center" style="font-size: 18px">
                  <b>Head Contractor has hidden the documents</b>
                </p>
                <p class="text-center" style="font-size: 16px">
                  Documents will be available after your request approved
                </p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane col-md-21" id="chat">
          <%= render 'tender_chat' %>
        </div>

        <% if params[:quote].present? %>
            <div class="tab-pane active col-md-21" id="quote">

            </div>
        <% else %>
            <div class="tab-pane col-md-21" id="quote">

            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">

    </div>
  </div>
</div>
<input type="hidden" class="rfi" value="<%= params[:rfi] %>">
<input type="hidden" class="quote" value="<%= params[:quote] %>">

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyA7B-_hoQVA07h-qSd3E-HXxyXnM9W4zC8&libraries=places&sensor=false"></script> 
<script>


  $(document).ready(function(){
    var rfi = $('.rfi').val();
    var quote = $('.quote').val();
    $('.download_package').change(function(){
      var tender_id = $('.tender_id').val();
      var user_id = $('.user_id').val();
      var trade = $(this).val();

      console.log("trade:"+$(this).val());
      console.log("user_id:"+ user_id);
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,user_id:user_id,trade:trade},
        url: "/package_downloads/save_download"
      }).done(function (data) {

      });
    });

    $('.tenders').each(function(){
      var id =  $(this).val();
      var add = $('.add'+id).val();

    });

    if(rfi == 'true'){
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id},
        url: "/rfis/get_latest_rfis"
      }).done(function (data) {
        $('#rfi').html(data);
      });
    }

    if(quote == 'true'){
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id},
        url: "/quotes/get_latest_quotes"
      }).done(function (data) {
        $('#quote').html(data);
      });
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href"); // activated tab
      var id = $(e.target).attr("id");

      if(target == '#chat'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/tenders/get_latest_chat"
        }).done(function (data) {
          $('#chat').html(data);
        });
      }else if(target == '#rfi'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/rfis/get_latest_rfis"
        }).done(function (data) {
          $('#rfi').html(data);
        });
      }else if(target == '#quote'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/quotes/get_latest_quotes"
        }).done(function (data) {
          $('#quote').html(data);
        });
      }else if(target == '#addenda'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/addendas/get_addendas"
        }).done(function (data) {
          $('#addenda').html(data);
        });
      }
    });


    $(document).ready(function(){
      var map;
      var id = $('.tender_id').val();
      var myLatLng;
      load_map();
      function load_map() {
        var add = $('.add'+id).val();

        $.ajax({
          method: "POST",
          data: {add:add},
          url: "/tenders/get_latling"
        }).done(function (data) {

          myLatLng = {lat:data.latitude, lng: data.longitude};

          map = new google.maps.Map(document.getElementById('map_'+id), {
            zoom: 15,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map
          });

          google.maps.event.addListenerOnce(map, 'idle', function() {
            google.maps.event.trigger(map, 'resize');
            map.setCenter(myLatLng);
          });
        });

      }

      $('a[href="#red"]').on('shown.bs.tab', function() {


        google.maps.event.trigger(map, 'resize');
        load_map();
      });

    });


  })


</script>