<div class="row">
  <input type="hidden" class="tender_id" value="<%= @tender.id %>">
  <input type="hidden" class="user_id" value="<%= session[:user_logged_id] %>">
  <div class="col-md-12">
    <div id="content">
      <div class="portlet-body" style="color: #2B3642;">
        <div class="row">
          <div class="container">
            <h2><%= "##{@tender.tendercon_id}- #{@tender.title}"  %></h2>
          </div>

        </div>
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <% if params[:rfi].present? || params[:quote].present? || params[:reload].present? %>
                <li><a href="#info" data-toggle="tab" id="<%= @tender.id %>">Details</a></li>
            <% else %>
                <li class="active"><a href="#info" data-toggle="tab" id="<%= @tender.id %>">Details</a></li>
            <% end %>
            <li><a href="#document_control" data-toggle="tab" id="<%= @tender.id %>">Document</a></li>
            <li><a href="#addenda" data-toggle="tab" id="<%= @tender.id %>">Addenda</a></li>
            <li><a href="#chat" data-toggle="tab" id="<%= @tender.id %>">Chat</a></li>
            <% if params[:rfi].present? || params[:reload].present? %>
                <li class="active"><a href="#rfi" data-toggle="tab" id="<%= @tender.id %>">RFIs</a></li>
            <% else %>
                <li ><a href="#rfi" data-toggle="tab" id="<%= @tender.id %>">RFIs</a></li>
            <% end %>
            <% if params[:quote].present? %>
                <li class="active"><a href="#quote" data-toggle="tab" id="<%= @tender.id %>">Quotes</a></li>
            <% else %>
                <li><a href="#quote" data-toggle="tab" id="<%= @tender.id %>">Quotes</a></li>
            <% end %>
            <!--<li class="pull-right">
              <a href="#" class="wiki btn-default">
                <i class="fa fa-question-circle fa-2x"></i>
              </a>
            </li>-->
            <!--<li class="pull-right dropdown dropdown-extended dropdown-inbox">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                &lt;!&ndash;<img alt="" class="img-circle" src="" />
                <i class="fa fa-bars" aria-hidden="true"></i>&ndash;&gt;
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                  <i class="fa fa-angle-down"></i>
                </button>
              </a>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a href="#!" class="full_screen" ><i class="fa fa-arrows-alt"></i> Full Screen</a>
                </li>
              </ul>
            </li>-->
            <!--<li class="pull-right">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="fa fa-bars" aria-hidden="true"></i> &lt;!&ndash;<span class="caret"></span>&ndash;&gt;</button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a href="#!" class="full_screen" ><i class="fa fa-arrows-alt"></i> Full Screen</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Option 1</a></li>
                  <li><a href="#">Option 2</a></li>
                  <li><a href="#">Option 3</a></li>
                </ul>
              </div>
            </li>-->
            <!--<li class="pull-right">
              <div class="page-toolbar">
                <div class="btn-group pull-right">
                  <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                    <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                      <a href="#!" class="full_screen" ><i class="fa fa-arrows-alt"></i> Full Screen</a>

                    </li>
                  </ul>
                </div>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
      <div id="my-tab-content" class="tab-content">
        <div class="row">
          <div class="form-group"></div>
        </div>
        <% if params[:rfi].present? || params[:quote].present? || params[:reload].present? %>
            <div class="tab-pane  col-md-12" id="info">
              <%= render 'tender_info' %>
            </div>
        <% else %>
            <div class="tab-pane active col-md-12" id="info">
              <%= render 'tender_info' %>
            </div>
        <% end %>
        <div class="tab-pane col-md-12" id="addenda">

        </div>
        <% if params[:rfi].present? || params[:reload].present? %>
            <div class="tab-pane active col-md-12" id="rfi">

            </div>
        <% else %>
            <div class="tab-pane col-md-12" id="rfi">

            </div>
        <% end %>

        <div class="tab-pane  col-md-12" id="document_control">

        </div>
        <div class="tab-pane col-md-12" id="chat">
          <%= render 'tender_chat' %>
        </div>

        <% if params[:quote].present? %>
            <div class="tab-pane active col-md-12" id="quote">

            </div>
        <% else %>
            <div class="tab-pane col-md-12" id="quote">

            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div id="sample_modal" class=" popup-basic admin-form mfp-with-anim mfp-hide">
  <div class="panel">
    <div class="panel-heading">
              <span class="panel-title">
                <i class="fa fa-rocket"></i>Leave a comment</span>
    </div>
    <!-- end .panel-heading section -->

    <form method="post" action="/" id="comment">
      <div class="panel-body p25">
        <div class="section row">
          <div class="col-md-6">
            <label for="firstname" class="field prepend-icon">
              <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name...">
              <label for="firstname" class="field-icon">
                <i class="fa fa-user"></i>
              </label>
            </label>
          </div>
          <!-- end section -->

          <div class="col-md-6">
            <label for="lastname" class="field prepend-icon">
              <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="Last name...">
              <label for="lastname" class="field-icon">
                <i class="fa fa-user"></i>
              </label>
            </label>
          </div>
          <!-- end section -->

        </div>
        <!-- end section row section -->

        <div class="section row">
          <div class="col-md-6">
            <label for="email" class="field prepend-icon">
              <input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
              <label for="email" class="field-icon">
                <i class="fa fa-envelope"></i>
              </label>
            </label>
          </div>
          <!-- end section -->

          <div class="col-md-6">
            <label for="website" class="field prepend-icon">
              <input type="url" name="website" id="lastname" class="gui-input" placeholder="Website url...">
              <label for="website" class="field-icon">
                <i class="fa fa-globe"></i>
              </label>
            </label>
          </div>
          <!-- end section -->

        </div>
        <!-- end section row section -->

        <div class="section">
          <label for="comment" class="field prepend-icon">
            <textarea class="gui-textarea" id="comment" name="comment" placeholder="Your comment"></textarea>
            <label for="comment" class="field-icon">
              <i class="fa fa-comments"></i>
            </label>
                    <span class="input-footer">
                      <strong>Hey You:</strong> We expect a great comment...</span>
          </label>
        </div>
        <!-- end section -->

      </div>
      <!-- end .form-body section -->

      <div class="panel-footer">
        <button type="submit" class="button btn-primary">Post Comment</button>
        <button type="button" class="button btn-default popup-modal-dismiss">Close</button>
      </div>
      <!-- end .form-footer section -->
    </form>
  </div>
  <!-- end: .panel -->
</div>

<input type="hidden" class="rfi" value="<%= params[:rfi] %>">
<input type="hidden" class="quote" value="<%= params[:quote] %>">

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyA7B-_hoQVA07h-qSd3E-HXxyXnM9W4zC8&libraries=places&sensor=false"></script> 
<script>


  $(document).ready(function(){

    <% if params[:reload].present? || params[:rfi].present?  %>
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id},
        url: "/rfis/get_latest_rfis"
      }).done(function (data) {
        $('#rfi').html(data);
      });

    <% end %>

    var rfi = $('.rfi').val();
    var quote = $('.quote').val();
    $('.download_package').change(function(){
      var tender_id = $('.tender_id').val();
      var user_id = $('.user_id').val();
      var trade = $(this).val();

      console.log("trade:"+$(this).val());
      console.log("user_id:"+ user_id);
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id,user_id:user_id,trade:trade},
        url: "/package_downloads/save_download"
      }).done(function (data) {

      });
    });

    $('.tenders').each(function(){
      var id =  $(this).val();
      var add = $('.add'+id).val();

    });

    if(rfi == 'true'){
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id},
        url: "/rfis/get_latest_rfis"
      }).done(function (data) {
        $('#rfi').html(data);
      });
    }

    if(quote == 'true'){
      var tender_id = $('.tender_id').val();
      $.ajax({
        method: "POST",
        data: {tender_id:tender_id},
        url: "/quotes/get_latest_quotes"
      }).done(function (data) {
        $('#quote').html(data);
      });
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href"); // activated tab
      var id = $(e.target).attr("id");

      if(target == '#chat'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/tenders/get_latest_chat"
        }).done(function (data) {
          $('#chat').html(data);
        });
      }else if(target == '#rfi'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/rfis/get_latest_rfis"
        }).done(function (data) {
          $('#rfi').html(data);
        });
      }else if(target == '#quote'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/quotes/get_latest_quotes"
        }).done(function (data) {
          $('#quote').html(data);
        });
      }else if(target == '#addenda'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/addendas/get_addendas"
        }).done(function (data) {
          $('#addenda').html(data);
        });
      }else if(target == '#document_control'){
        var tender_id = $('.tender_id').val();
        $.ajax({
          method: "POST",
          data: {tender_id:tender_id},
          url: "/tenders/get_document_control_per_sc"
        }).done(function (data) {
          $('#document_control').html(data);
        });
      }
    });


    $(document).ready(function(){
      var map;
      var id = $('.tender_id').val();
      var myLatLng;
      load_map();
      function load_map() {
        var add = $('.add'+id).val();

        $.ajax({
          method: "POST",
          data: {add:add},
          url: "/tenders/get_latling"
        }).done(function (data) {

          myLatLng = {lat:data.latitude, lng: data.longitude};

          map = new google.maps.Map(document.getElementById('map_'+id), {
            zoom: 15,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map
          });

          google.maps.event.addListenerOnce(map, 'idle', function() {
            google.maps.event.trigger(map, 'resize');
            map.setCenter(myLatLng);
          });
        });

      }

      $('a[href="#red"]').on('shown.bs.tab', function() {


        google.maps.event.trigger(map, 'resize');
        load_map();
      });

    });

    $('.full_screen').click(function(){
      $('.menu-toggler').click();
    });


    $('.wiki').magnificPopup({
      type: 'inline',
      items: {src: '#sample_modal'},
      preloader: false,
      modal: true
    });

    $('.popup-modal-dismiss').click(function(){
      $.magnificPopup.close();
      $('form')[0].reset();
    });

  })


</script>