<div class="container" style="background-color: #ffffff">

  <ul class="nav nav-tabs">
    <li><a href="<%= profile_users_path(:id => @user.id) %>">MY PROFILE</a></li>
    <li><a href="<%= change_password_users_path %>">PASSWORD</a></li>
    <li><a href="<%= billing_users_path %>">BILLING</a></li>
    <li><a href="#">NOTIFICATIONS</a></li>
    <li><a href="#">SYNC</a></li>
  </ul>

  <% if @user.div_status == false %>
    <div class="form-group has-feedback">
      <% if flash[:error] %>
        <div class="alert alert-danger open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= @error_alert %>
          <div class="notice" style="font-size: 14px;"><%= flash[:error].html_safe %></div>
          <% flash[:error]=nil %>
        </div>
      <% end %>
      <%- if !flash[:notice].nil? %>
        <div class="alert alert-success open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= @error_alert %>
          <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
          <% flash[:notice]=nil %>
        </div>
      <%- end %>
    </div>
    <div class="col-md-23 information_header">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-14">
              <div class="col-md-2"><i class="fa fa-lightbulb-o fa-4x" aria-hidden="true" style="color: #ffff00"></i></div>
              <div class="form-group"></div>
              <div class="col-md-22">
                <p class="user_profile_header">This copy will describe what the user can do on this page and how it effects user account.</p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-group"></div>
              <a href="<%= zendesk_index_path(:id => @user.id) %>" class="text-center new-account">
                <button class="btn btn-lg btn-default btn-sm profile_header_btn" type="button">Learn More</button>
              </a>
              <a href="<%= update_user_div_users_path(:id => @user.id) %>" class="text-center new-account">
                <button class="btn btn-lg btn-default btn-sm profile_header_btn" type="button">Don't shw this again.</button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>


  <div class="profile_data">
    <div class="col-sm-24 col-md-14 col-md-offset-5 ">

      <div class="login_div">

        <%= form_tag(update_password_users_path(:user_id => @user.id,:status => 'on'), {  :name=> "login",:class=>'form-signin' } )  do %>
          <label>NEW PASSWORD</label>
          <input type="password" class="form-control"  id="password" name="password" required>
          <div class="password_error" style="display: none;">
            <div class="password_length"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Minimum of 6 characters</p></div>
            <div class="password_number"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Should include at least 1 number.</p></div>
            <div class="password_letter"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Should include at least 1 Capital letter.</p></div>
          </div>
          <div class="form-group has-feedback">
            <% if flash[:error] %>
              <div class="alert alert-danger open-sans-regular" id="users_error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= @error_alert %>
                <div class="notice" style="font-size: 14px;"><%= flash[:error] %></div>
                <% flash[:error]=nil %>
              </div>
            <% end %>
            <%- if !flash[:notice].nil? %>
              <div class="alert alert-success open-sans-regular" id="users_error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= @error_alert %>
                <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
                <% flash[:notice]=nil %>
              </div>
            <%- end %>
          </div>
          <br/>
          <label>CONFIRM NEW PASSWORD</label>
          <input type="password" class="form-control" id="confirmed_password" name="confirmed_password" required>
          <div class="con_password_error" style="display: none;">
            <div class="password_match"><p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Does not match to password.</p></div>
          </div>
          <br/>
          <button class="btn btn-lg btn-success btn-block btn-login" type="submit">CHANGE</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#password').focusin(function(){
    $('.password_error').show();

    $(this).keyup(function(){
      var password = $(this).val();

      if(password.length >= 6){
        //$('.password_length').html('');
        $('.password_length').html('<p style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"> Minimum of 6 characters</i></p>');
      }else{
        $('.password_length').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Minimum of 6 characters</p>');
      }

      if(hasNumber(password)){
        //$('.password_number').html('');
        $('.password_number').html('<p style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"> Should include at least 1 number.</i></p>');
      }else{
        $('.password_number').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Should include at least 1 number.</p>');
      }

      if(validateCapitalLetters(password)){
        //$('.password_letter').html('');
        $('.password_letter').html('<p style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"> Should include at least 1 Capital letter.</i></p>');
      }else{
        $('.password_letter').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Should include at least 1 Capital letter.</p>')
      }
    });
  });

  $('#password').focusout(function(){
    $('.password_error').hide();
  });

  $('#confirmed_password').focusin(function(){
    var password = $('#password').val();
    //
    $(this).keyup(function(){
      if($(this).val().length > 2){
        //$('.con_password_error').show();
        if(password != $(this).val()){

          //$('.password_match').show();
          //$('.password_match').html('<p style="font-style: italic;color: grey"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Does not match.</p>')
        }else{
          $('.password_match').html('');
        }
      }

    })
  });

  $('#user_confirmed_password').focusout(function(){
    $('.con_password_error').hide();
  });

  function hasNumber(str){
    var regex = /\d/g;
    return regex.test(str);
  }


  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function validateCapitalLetters(str){
    var regex = /[A-Z]/
    return regex.test(str);
  }
</script>