
<div class="col-md-12 ">
  <div class="login_div">
    <!--<img src="/assets/img-4.jpg" width="30px" class="img-responsive center-block">-->
    <div class="text-center">
      <img src="/img/logos/TENDERCONABOVELOGO.png" width="300px">
    </div>
    <h4 class="text-center login-title">Enter your email address and we'll get you back on track</h4>

    <br>
    <%= form_tag(email_authentication_users_path, {  :name=> "login",:class=>'form-signin' } )  do %>
      <label>EMAIL</label>
      <input type="text" class="form-control" placeholder="Enter your email" id="email" name="email" required autofocus>
      <div class="form-group has-feedback">
        <% if flash[:error] %>
          <div class="alert alert-danger open-sans-regular" id="users_error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @error_alert %>
            <div class="notice" style="font-size: 14px;"><%= flash[:error] %></div>
            <% flash[:error]=nil %>
          </div>
        <% end %>
        <%- if !flash[:notice].nil? %>
          <div class="alert alert-success open-sans-regular" id="users_error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @error_alert %>
            <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
            <% flash[:notice]=nil %>
          </div>
        <%- end %>
      </div>
      <br/>
     <div class="text-center">
       <button class="btn  btn-primary  btn-login" type="submit">Request Reset Link</button>
     </div>
    <% end %>
    <div style="height: 3px"></div>
    <div class="col-md-12">
      <div class="text-center">
      <a href="<%= login_users_path %>" class=" new-account">
        Back to Login
      </a>
      </div>
    </div>
    <br/>
  </div>
  <br/>

</div>
