<div class="col-sm-24 col-md-14 col-md-offset-5 ">
  <div class="login_div">
    <!--<img src="/assets/img-4.jpg" width="30px" class="img-responsive center-block">-->
    <p class="text-center"><i class="glyphicon glyphicon-stats tendercon_icon" aria-hidden="true"></i></p>
    <p class="text-center" style="font-size: 12px;font-weight: bold"><b>Locked</b></p>
    <img id="profile-img" class=" img-circle center-block" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <br>
    <p class="text-center" style="font-size: 12px;font-weight: bold"><%= session[:name] %></p>
    <br>
    <%= form_tag(authenticate_users_path(:url => @url), {  :name=> "login",:class=>'form-signin' } )  do %>
      <input type="hidden" value="<%= @email %>" name="email">
      <label>PASSWORD</label>
      <input type="password" class="form-control"  id="password" name="password" required>
      <div class="form-group has-feedback">
        <% if flash[:error] %>
          <div class="alert alert-danger open-sans-regular" id="users_error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @error_alert %>
            <div class="notice" style="font-size: 14px;"><%= flash[:error].html_safe %></div>
            <% flash[:error]=nil %>
          </div>
        <% end %>
        <%- if !flash[:notice].nil? %>
          <div class="alert alert-success open-sans-regular" id="users_error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @error_alert %>
            <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
            <% flash[:notice]=nil %>
          </div>
        <%- end %>
      </div>
      <br/>
      <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Log in</button>
    <% end %>
  </div>
</div>

