
<div class="row">
  <div class="col-md-12 ">
    <div class="tabbable-line">
      <ul class="nav nav-tabs ">
        <% if params[:subscription].present?  %>
          <li><a href="#overview" data-toggle="tab" id="">Overview</a></li>
        <% else %>
          <li class="active"><a href="#overview" data-toggle="tab" id="">Overview</a></li>
        <% end %>

        <li><a href="#edit_profile" data-toggle="tab" id="">Edit Profile</a></li>
        <% if session[:role] == 'Sub Contractor' %>
          <% if params[:subscription].present?  %>
            <li class="active"><a href="#subscription" data-toggle="tab" id="">Subscription</a></li>
          <% else %>
            <li><a href="#subscription" data-toggle="tab" id="">Subscription</a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-12 profile_div">
    <div style="height: 50px"></div>
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar" >
      <!-- PORTLET MAIN -->
      <div class="portlet light profile-sidebar-portlet " >
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <% if @user.avatar.present? %>
            <%= puts "@user.avatar.image.path =========> #{@user.avatar.image.path.inspect}" %>
              <%= puts "@user.avatar.image.url =========> #{@user.avatar.image.url.inspect}" %>
              <% if File.exist?(@user.avatar.image.path(:original)) %>
              <img src="<%= @user.avatar.image.url(:original) %>" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
            <% else %>
              <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
            <% end %>
          <% else %>
            <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
          <% end %>
        </div>

        <div class="profile-usertitle">
          <div class="profile-usertitle-name" style="color: #2C3E50;"> <%= "#{@user.first_name} #{@user.last_name}" %> </div>
          <div class="profile-usertitle-job" style="color: #2C3E50;"> <%= "#{get_postion @user.position}" %>  </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">

        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">

        </div>
        <!-- END MENU -->
      </div>
      <!-- END PORTLET MAIN -->
      <!-- PORTLET MAIN -->
      <div class="portlet light ">
        <!-- STAT -->
        <!--<div class="row list-separated profile-stat">

        </div>-->
        <!-- END STAT -->
        <div>

        </div>
      </div>
      <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-12">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td colspan="2" style="background-color: #2C3E50;color: white;"><strong>Details</strong></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-3">Full Name</td>
                      <td><%= "#{@user.first_name} #{@user.last_name}" %></td>
                    </tr>
                    <tr>
                      <td>Position</td>
                      <td><%= "#{get_postion @user.position}" %></td>
                    </tr>
                    <tr>
                      <td>Company</td>
                      <td><%= "#{@user.trade_name}" %></td>
                    </tr>
                    <tr>
                      <td>About</td>
                      <td><%= "#{@user.user_info.present? ? @user.user_info.about_me.html_safe : nil}" %></td>
                    </tr>
                    <tr>
                      <td colspan="2" style="background-color: #2C3E50;color: white;"><strong>Contact</strong></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><%= "#{@user.email}" %></td>
                    </tr>
                    <tr>
                      <td>Mobile</td>
                      <td><%= "#{@user.mobile_number}" %></td>
                    </tr>
                    <tr>
                      <td>Linkedin</td>
                      <td><%="#{@user.user_info.present? ? @user.user_info.linkedin : nil}" %></td>
                    </tr>
                  </tbody>
                </table>

        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.account_settings').click(function(){
      $('#overview').removeClass('active');
      $('#help').removeClass('active');
      $('#account_settings').addClass('active');


      $.ajax({
        method: "POST",
        data: {tab:'account_settings'},
        url: "/users/profile_control_tabs"
      }).done(function (data) {
        $('#profile_content').html(data);
      });

    });

    $('.overview').click(function(){
      $('#overview').addClass('active');
      $('#help').removeClass('active');
      $('#account_settings').removeClass('active');

      $.ajax({
        method: "POST",
        data: {tab:'overview'},
        url: "/users/profile_control_tabs"
      }).done(function (data) {
        $('#profile_content').html(data);
      });
    });

    $('.help').click(function(){
      $('#overview').removeClass('active');
      $('#help').addClass('active');
      $('#account_settings').removeClass('active');
      $('#profile_content').html('');
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href"); // activated tab
      var id = $(e.target).attr("id");
      console.log("TARGET:"+target);

      if(target == '#overview'){
        $('.profile_div').html('');
        $.ajax({
          method: "POST",
          data: {tab:'overview'},
          url: "/users/profile_control_tabs"
        }).done(function (data) {
          $('.profile_div').html(data);
        });
      }else if(target == '#edit_profile'){
        $('.profile_div').html('');
        $.ajax({
          method: "POST",
          data: {tab:'edit_profile'},
          url: "/users/profile_control_tabs"
        }).done(function (data) {
          $('.profile_div').html(data);
        });
      }else if(target == '#subscription'){
        $('.profile_div').html('');
        $.ajax({
          method: "POST",
          data: {tab:'edit_profile'},
          url: "/users/get_subscription"
        }).done(function (data) {
          $('.profile_div').html(data);
        });
      }

    });

    <% if params[:subscription].present?  %>
      $('.profile_div').html('');
      $.ajax({
        method: "POST",
        data: {tab:'edit_profile'},
        url: "/users/get_subscription"
      }).done(function (data) {
        $('.profile_div').html(data);
      });
    <% end %>

  })
</script>