
<div class="col-md-12 ">

  <div class="login_div">
    <div class="text-center">
      <img src="/img/logos/tendercon_log_transparent.png" width="300px">
    </div>
    <h4 class="text-center login-title">PLEASE ENTER YOUR NEW PASSWORD</h4>
    <br>

    <%= form_tag(update_password_users_path, {  :name=> "login",:class=>'form-signin' } )  do %>
      <%= hidden_field_tag 'user_id',params[:id].present? ? params[:id] : @id %>
      <%= hidden_field_tag 'email',params[:email].present? ? params[:email] : @email %>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="PASSWORD" id="password" name="password" required>
      </div>
      <div class="form-group has-feedback">
        <% if flash[:error] %>
          <div class="alert alert-danger open-sans-regular" id="users_error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @error_alert %>
            <div class="notice" style="font-size: 14px;"><%= flash[:error] %></div>
            <% flash[:error]=nil %>
          </div>
        <% end %>
        <%- if !flash[:notice].nil? %>
          <div class="alert alert-success open-sans-regular" id="users_error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @error_alert %>
            <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
            <% flash[:notice]=nil %>
          </div>
        <%- end %>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="CONFIRM PASSWORD" id="password" name="confirmed_password" required>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-login" type="submit">Set new password</button>
      </div>
    <% end %>
  </div>

</div>
