

<section class="promo-section section section-on-bg">
  <div class="hero-slider-wrapper" style="background: #35373C url('../vendors/landing_page/images/home_page_banner.png') no-repeat 50% top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;">
    <div class="flexslider hero-slider">
      <ul class="slides">
        <li class="slide slide-1"></li>
        <li class="slide slide-2"></li>
        <li class="slide slide-3"></li>
      </ul>
    </div>
    <div class="hero-mask-solid" style="background: #35373C url('../vendors/landing_page/images/home_page_banner.png') no-repeat 50% 50%;">
      <!--<img class="img-responsive" src="../vendors/landing_page/images/home_page_banner.png" height="500px">-->
      <!--<img class="play-icon" src="../vendors/landing_page/images/imac-screen.png" alt="">-->
    </div>
  </div><!--//hero-slider-wrapper-->
  <div class="container promo-content">
    <div class="text-center">
      <h2 class="headline"><%= @site.present? ? @site.header_headline  : "The Perfect Design Framework <br>for Startup Businesses".html_safe %></h2>
      <p class="tagline"><%= @site.present? ?  @site.header_tagline : "Good design is good business, try our demo today!".html_safe %></p>
      <!--<div class="actions">
        <a class="btn btn-cta btn-primary" href="/landing_page">Back to Homepage</a>

        &lt;!&ndash;<a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><img class="play-icon" src="../vendors/landing_page/images/play-icon.svg" alt="">See how it works</a>&ndash;&gt;
      </div>-->
    </div>

  </div><!--//container-->
</section><!--//promo-section-->

<!--<div class="page-nav-space-holder hidden-xs">
  <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
    <div class="container">
      <ul id="page-nav" class="nav page-nav list-inline">
        <li><a class="scrollto" href="#overview-section">Overview</a></li>
        <li><a class="scrollto"  href="#features-section">Key Features</a></li>
        <li><a class="scrollto"  href="#customers-section">Customers</a></li>
        <li><a class="scrollto"  href="#signup-section">Get Started</a></li>
        <li><a class="scrollto"  href="#support-section">Support</a></li>
      </ul>&lt;!&ndash;//page-nav&ndash;&gt;
    </div>
  </div>&lt;!&ndash;//page-nav-wrapper&ndash;&gt;
</div>--><!--//page-nav-space-holder-->

<section id="overview-section" class="overview-section section">
  <h2 class="section-title">
    <%= @site.present? ? @site.section_title : "A great way to empower your team".html_safe %>
  </h2>
  <div class="section-intro">
    <%= @site.present? ? @site.section_intro : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.".html_safe %>

  </div><!--//section-intro-->
  <div class="figures-wrapper">
    <div class="container text-center">
      <figure class="macbook-screen"><img class="img-responsive" src="<%= @site.present? ? @site.section_image1.present? ? @site.section_image1.url(:original) : "../vendors/landing_page/images/macbook-screen.png" : "../vendors/landing_page/images/macbook-screen.png" %>" alt="" style="height: 650px"></figure>
      <!--<figure class="ipad-screen"><img class="img-responsive" src="<%#= @site.present? ? @site.section_image2.present? ? @site.section_image2.url(:original) : "../vendors/landing_page/images/ipad-screen.png" : "../vendors/landing_page/images/ipad-screen.png" %>" alt=""></figure>
      <figure class="iphone-screen"><img class="img-responsive" src="<%#= @site.present? ? @site.section_image3.present? ? @site.section_image3.url(:original) : "../vendors/landing_page/images/iphone-screen.png" : "../vendors/landing_page/images/iphone-screen.png" %>" alt=""></figure>-->
      <!--<a href="#" type="button" class="play-icon" data-toggle="modal" data-target="#modal-video"><img src="../vendors/landing_page/images/play-icon-md.svg" alt=""></a>-->
    </div><!--//container-->
  </div><!--//figures-wrapper-->
  <div class="benefits-wrapper">
    <div class="container text-center">
      <div class="row">
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image1.present? ? @site.item_image1.url(:original) : "../vendors/landing_page/images/icons/clock-white.svg" : "../vendors/landing_page/images/icons/clock-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title : "10X Faster Development" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image2.present? ? @site.item_image2.url(:original) : "../vendors/landing_page/images/icons/presenter-white.svg" : "../vendors/landing_page/images/icons/presenter-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title1 : "Increase Productivity" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc1 : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image3.present? ? @site.item_image3.url(:original) : "../vendors/landing_page/images/icons/chat-white.svg" : "../vendors/landing_page/images/icons/chat-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title2 : "Better Collabration" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc2 : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//benefits-->
  <!--<div class="press-wrapper">
    <div class="container">
      <div class="logos row">
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-1.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-2.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-3.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-4.svg" alt=""></div>
      </div>
    </div>&lt;!&ndash;//container&ndash;&gt;
  </div>--><!--//press-wrapper-->
</section><!--//overview-section-->



<section id="customers-section" class="customers-section section" style="background-color: #F5F5F5">
  <h2 class="section-title"><%= @site.present? ? @site.section_title_trusted_by_smart : "Trusted by smart businesses" %></h2>
  <div class="section-intro">
    <%= @site.present? ? @site.section_intro_trusted_by_smart : "Unknown" %>
  </div>
  <div class="quotes">
    <div class="row">
      <div class="quote-item col-sm-12 col-sm-6 text-center">
        <div class="inner">
          <div class="profile">
            <img src="<%= @site.present? ? @site.quote_profile.present? ? @site.quote_profile.url(:original): "../vendors/landing_page/images/stories/profiles/profile-5.png" : "../vendors/landing_page/images/stories/profiles/profile-5.png" %>" alt="">
          </div><!--//profile-->

          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <blockquote class="quote">
            <%= @site.present? ? @site.quote_intro : "Unknown" %>
          </blockquote><!--//blockquote-->
          <div class="source">
            <div class="name"><%= @site.present? ? @site.quote_name : "Unknown" %></div>
            <div class="title"><%= @site.present? ? @site.quote_title : "Unknown" %></div>
          </div><!--//source-->

        </div><!--//inner-->
      </div><!--//quote-item-->
      <div class="quote-item col-sm-12 col-sm-6 text-center">
        <div class="inner">
          <div class="profile">
            <img src="<%= @site.present? ? @site.quote_profile.present? ? @site.quote_profile2.url(:original): "../vendors/landing_page/images/stories/profiles/profile-5.png" : "../vendors/landing_page/images/stories/profiles/profile-5.png" %>" alt="">
          </div><!--//profile-->

          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <blockquote class="quote">
            <%= @site.present? ? @site.quote_intro2 : "Unknown" %>
          </blockquote><!--//blockquote-->
          <div class="source">
            <div class="name"><%= @site.present? ? @site.quote_name2 : "Unknown" %></div>
            <div class="title"><%= @site.present? ? @site.quote_title2 : "Unknown" %></div>
          </div><!--//source-->

        </div><!--//inner-->
      </div><!--//quote-item-->
    </div><!--//row-->
  </div>
  <!--<section id="overview-section" class="overview-section section">
    <div class="text-center">
      <h2><strong style="color: #35373c;font-size: 28px;line-height: 31px"><%#= @site.present?  ? @site.product_header : "Find Tenders from These Clients and Many More" %></strong></h2>
    </div>
    <div class="press-wrapper">

      <div class="container">
        <div class="logos row">
          <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="<%= @site.present? ? @site.product_image1.present? ? @site.product_image1.url(:original) : "../vendors/landing_page/images/logos/logo-1.svg" : "../vendors/landing_page/images/logos/logo-1.svg" %>" height="60px"></div>
          <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="<%= @site.present? ? @site.product_image2.present? ? @site.product_image2.url(:original) : "../vendors/landing_page/images/logos/logo-2.svg" : "../vendors/landing_page/images/logos/logo-2.svg" %>" height="60px"></div>
          <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="<%= @site.present? ? @site.product_image3.present? ? @site.product_image3.url(:original) : "../vendors/landing_page/images/logos/logo-3.svg" : "../vendors/landing_page/images/logos/logo-3.svg" %>" height="60px"></div>
          <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="<%= @site.present? ? @site.product_image4.present? ? @site.product_image4.url(:original) : "../vendors/landing_page/images/logos/logo-4.svg" : "../vendors/landing_page/images/logos/logo-4.svg" %>" height="60px"></div>
        </div>
      </div>
    </div>
  </section>-->
</section>




