

<section class="promo-section section section-on-bg">
  <div class="hero-slider-wrapper">
    <div class="flexslider hero-slider">
      <ul class="slides">
        <li class="slide slide-1"></li>
        <li class="slide slide-2"></li>
        <li class="slide slide-3"></li>
      </ul>
    </div>
    <div class="hero-slider-mask">
      <img class="img-responsive" src="../vendors/landing_page/images/home_page_banner.png" height="500px">
      <!--<img class="play-icon" src="../vendors/landing_page/images/imac-screen.png" alt="">-->
    </div>
  </div><!--//hero-slider-wrapper-->
  <div class="container promo-content">
    <h2 class="headline"><%= @site.present? ? @site.header_headline  : "The Perfect Design Framework <br>for Startup Businesses".html_safe %></h2>
    <p class="tagline"><%= @site.present? ?  @site.header_tagline : "Good design is good business, try our demo today!".html_safe %></p>
    <div class="actions">
      <!--<a class="btn btn-cta btn-primary" href="#" data-toggle="modal" data-target="#signup-modal">Start Free Trial</a>-->
      <br class="visible-xs-block">
      <!--<a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><img class="play-icon" src="../vendors/landing_page/images/play-icon.svg" alt="">See how it works</a>-->
    </div>
  </div><!--//container-->
</section><!--//promo-section-->

<!--<div class="page-nav-space-holder hidden-xs">
  <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
    <div class="container">
      <ul id="page-nav" class="nav page-nav list-inline">
        <li><a class="scrollto" href="#overview-section">Overview</a></li>
        <li><a class="scrollto"  href="#features-section">Key Features</a></li>
        <li><a class="scrollto"  href="#customers-section">Customers</a></li>
        <li><a class="scrollto"  href="#signup-section">Get Started</a></li>
        <li><a class="scrollto"  href="#support-section">Support</a></li>
      </ul>&lt;!&ndash;//page-nav&ndash;&gt;
    </div>
  </div>&lt;!&ndash;//page-nav-wrapper&ndash;&gt;
</div>--><!--//page-nav-space-holder-->

<section id="overview-section" class="overview-section section">
  <h2 class="section-title">
    <%= @site.present? ? @site.section_title : "A great way to empower your team".html_safe %>
  </h2>
  <div class="section-intro">
    <%= @site.present? ? @site.section_intro : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.".html_safe %>

  </div><!--//section-intro-->
  <div class="figures-wrapper">
    <div class="container text-center">
      <figure class="macbook-screen"><img class="img-responsive" src="<%= @site.present? ? @site.section_image1.present? ? @site.section_image1.url(:original) : "../vendors/landing_page/images/macbook-screen.png" : "../vendors/landing_page/images/macbook-screen.png" %>" alt="" style="height: 650px"></figure>
      <!--<figure class="ipad-screen"><img class="img-responsive" src="<%#= @site.present? ? @site.section_image2.present? ? @site.section_image2.url(:original) : "../vendors/landing_page/images/ipad-screen.png" : "../vendors/landing_page/images/ipad-screen.png" %>" alt=""></figure>
      <figure class="iphone-screen"><img class="img-responsive" src="<%#= @site.present? ? @site.section_image3.present? ? @site.section_image3.url(:original) : "../vendors/landing_page/images/iphone-screen.png" : "../vendors/landing_page/images/iphone-screen.png" %>" alt=""></figure>-->
      <!--<a href="#" type="button" class="play-icon" data-toggle="modal" data-target="#modal-video"><img src="../vendors/landing_page/images/play-icon-md.svg" alt=""></a>-->
    </div><!--//container-->
  </div><!--//figures-wrapper-->
  <div class="benefits-wrapper">
    <div class="container text-center">
      <div class="row">
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image1.present? ? @site.item_image1.url(:original) : "../vendors/landing_page/images/icons/clock-white.svg" : "../vendors/landing_page/images/icons/clock-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title : "10X Faster Development" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image2.present? ? @site.item_image2.url(:original) : "../vendors/landing_page/images/icons/presenter-white.svg" : "../vendors/landing_page/images/icons/presenter-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title1 : "Increase Productivity" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc1 : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image3.present? ? @site.item_image3.url(:original) : "../vendors/landing_page/images/icons/chat-white.svg" : "../vendors/landing_page/images/icons/chat-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title2 : "Better Collabration" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc2 : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//benefits-->
  <!--<div class="press-wrapper">
    <div class="container">
      <div class="logos row">
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-1.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-2.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-3.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-4.svg" alt=""></div>
      </div>
    </div>&lt;!&ndash;//container&ndash;&gt;
  </div>--><!--//press-wrapper-->
</section><!--//overview-section-->



<section id="customers-section" class="customers-section section" >
  <h2 class="section-title"><%= @site.present? ? @site.section_title_trusted_by_smart : "Trusted by smart businesses" %></h2>
  <div class="section-intro">
    <%= @site.present? ? @site.section_intro_trusted_by_smart : "Unknown" %>
  </div>
  <div class="quotes">
    <div class="row">
      <div class="quote-item col-sm-12 col-sm-6 text-center">
        <div class="inner">
          <div class="profile">
            <img src="<%= @site.present? ? @site.quote_profile.present? ? @site.quote_profile.url(:original): "../vendors/landing_page/images/stories/profiles/profile-5.png" : "../vendors/landing_page/images/stories/profiles/profile-5.png" %>" alt="">
          </div><!--//profile-->

          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <blockquote class="quote">
            <%= @site.present? ? @site.quote_intro : "Unknown" %>
          </blockquote><!--//blockquote-->
          <div class="source">
            <div class="name"><%= @site.present? ? @site.quote_name : "Unknown" %></div>
            <div class="title"><%= @site.present? ? @site.quote_title : "Unknown" %></div>
          </div><!--//source-->

        </div><!--//inner-->
      </div><!--//quote-item-->
      <div class="quote-item col-sm-12 col-sm-6 text-center">
        <div class="inner">
          <div class="profile">
            <img src="<%= @site.present? ? @site.quote_profile.present? ? @site.quote_profile2.url(:original): "../vendors/landing_page/images/stories/profiles/profile-5.png" : "../vendors/landing_page/images/stories/profiles/profile-5.png" %>" alt="">
          </div><!--//profile-->

          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <blockquote class="quote">
            <%= @site.present? ? @site.quote_intro2 : "Unknown" %>
          </blockquote><!--//blockquote-->
          <div class="source">
            <div class="name"><%= @site.present? ? @site.quote_name2 : "Unknown" %></div>
            <div class="title"><%= @site.present? ? @site.quote_title2 : "Unknown" %></div>
          </div><!--//source-->

        </div><!--//inner-->
      </div><!--//quote-item-->
    </div><!--//row-->
  </div>
</section><!--//customers-section-->




<!--
<div class="col-md-24" style="background-color: white;border-radius: 10px;">
 <p class="text-center"><i class="glyphicon glyphicon-stats tendercon_icon" aria-hidden="true"></i></p>
 <h1 class="text-center login-title"><b>REGISTER WITH TENDERCON</b></h1>
 <p class="text-center" style="color: #000;font-weight: bold;font-size: 13px;">NO CREDIT CARD NEEDED</p>
 <br>
 <br>
 <p class="text-center" style="color: #000;font-weight: bold;font-size: 15px;">WHAT DO YOU WANT TO DO?</p>
</div>


<div class="col-md-24">
  <div class="span10">
    <div class="checkbox">
      <label><input type="checkbox" value="tender_new" name="tender_type" class="tender_type" id="new"> REGISTER YOUR ORGANIZATION TO USE TENDERCON FOR HE FIRST TIME </label>
      <label class="pull-right"><input type="checkbox" value="tender_olb" name="tender_type" class="tender_type" id="old"> CREATE A USER ACCOUNT IF YOUR ORGANIZATION IS ALREADY REGISTERED </label>
    </div>

    <div class="col-md-12">
      <div class="getting_started" style="display: none;">
        <p class="type_text">You will need to register if your organiation has not used Tendercon before</p>
        <a href="<%= register_users_path %>" class="text-center new-account" style="text-decoration: none; color: #000000"><button class="btn  btn-primary " type="submit">Getting Started</button> </a>
      </div>
    </div>

    <div class="col-md-12 pull-right">
      <div class="old_account pull-right" style="display: none;">
        <p class="type_text">If your organization already using Tendercon? Ask your Org Admin to set you up as a user.</p>
        <p class="type_text">Your Org Admin is someone who works for your organization and overseas Tendercon.</p>
      </div>
    </div>


  </div>

  <div class="col-md-24" style="margin-top: 30px;">
    <h1 class="text-center login-title"><b>NOT SURE WHAT TO DO?</b></h1>

    <br>
    <br>
    <p class="text-center home_contact">To find out if your organization is already registered on Tendercon. Contact our helpdesk.</p>
    <a href="#!" class="text-center new-account" style="color: #000000"> <h1 class="text-center login-title"><b>Contact Support</b></h1></a>

  </div>
</div>

<script>
  $('.tender_type_value').click(function(){
    var title = $(this).attr('title');

    if(title == 'new_tender'){
      $('.getting_started').show();
    }else{
      $('.getting_started').hide();
    }
  });

  $('.tender_type').click(function(){
    $('.tender_type').attr('checked',false);
    var comp_id = $(this).attr('id');
    $('#'+comp_id).prop('checked',true);

    if(comp_id == 'new'){
      $('.getting_started').show();
      $('.old_account').hide();
    }else{
      $('.getting_started').hide();
      $('.old_account').show();
    }

  });
</script>

-->
