

<section class="promo-section section section-on-bg">
  <div class="hero-slider-wrapper">
    <div class="flexslider hero-slider">
      <ul class="slides">
        <li class="slide slide-1"></li>
        <li class="slide slide-2"></li>
        <li class="slide slide-3"></li>
      </ul>
    </div>
    <div class="hero-slider-mask">
      <!--<img class="play-icon" src="../vendors/landing_page/images/imac-screen.png" alt="">-->
    </div>
  </div><!--//hero-slider-wrapper-->
  <div class="container promo-content">
    <h2 class="headline"><%= @site.present? ? @site.header_headline  : "The Perfect Design Framework <br>for Startup Businesses".html_safe %></h2>
    <p class="tagline"><%= @site.present? ?  @site.header_tagline : "Good design is good business, try our demo today!".html_safe %></p>
    <div class="actions">
      <!--<a class="btn btn-cta btn-primary" href="#" data-toggle="modal" data-target="#signup-modal">Start Free Trial</a>-->
      <br class="visible-xs-block">
      <!--<a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><img class="play-icon" src="../vendors/landing_page/images/play-icon.svg" alt="">See how it works</a>-->
    </div>
  </div><!--//container-->
</section><!--//promo-section-->

<!--<div class="page-nav-space-holder hidden-xs">
  <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
    <div class="container">
      <ul id="page-nav" class="nav page-nav list-inline">
        <li><a class="scrollto" href="#overview-section">Overview</a></li>
        <li><a class="scrollto"  href="#features-section">Key Features</a></li>
        <li><a class="scrollto"  href="#customers-section">Customers</a></li>
        <li><a class="scrollto"  href="#signup-section">Get Started</a></li>
        <li><a class="scrollto"  href="#support-section">Support</a></li>
      </ul>&lt;!&ndash;//page-nav&ndash;&gt;
    </div>
  </div>&lt;!&ndash;//page-nav-wrapper&ndash;&gt;
</div>--><!--//page-nav-space-holder-->

<section id="overview-section" class="overview-section section">
  <h2 class="section-title">
    <%= @site.present? ? @site.section_title : "A great way to empower your team".html_safe %>
  </h2>
  <div class="section-intro">
    <%= @site.present? ? @site.section_intro : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.".html_safe %>

  </div><!--//section-intro-->
  <div class="figures-wrapper">
    <div class="container text-center">
      <figure class="macbook-screen"><img class="img-responsive" src="<%= @site.present? ? @site.section_image1.present? ? @site.section_image1.url(:original) : "../vendors/landing_page/images/macbook-screen.png" : "../vendors/landing_page/images/macbook-screen.png" %>" alt=""></figure>
      <figure class="ipad-screen"><img class="img-responsive" src="<%= @site.present? ? @site.section_image2.present? ? @site.section_image2.url(:original) : "../vendors/landing_page/images/ipad-screen.png" : "../vendors/landing_page/images/ipad-screen.png" %>" alt=""></figure>
      <figure class="iphone-screen"><img class="img-responsive" src="<%= @site.present? ? @site.section_image3.present? ? @site.section_image3.url(:original) : "../vendors/landing_page/images/iphone-screen.png" : "../vendors/landing_page/images/iphone-screen.png" %>" alt=""></figure>
      <!--<a href="#" type="button" class="play-icon" data-toggle="modal" data-target="#modal-video"><img src="../vendors/landing_page/images/play-icon-md.svg" alt=""></a>-->
    </div><!--//container-->
  </div><!--//figures-wrapper-->
  <div class="benefits-wrapper">
    <div class="container text-center">
      <div class="row">
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image1.present? ? @site.item_image1.url(:original) : "../vendors/landing_page/images/icons/clock-white.svg" : "../vendors/landing_page/images/icons/clock-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title : "10X Faster Development" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image2.present? ? @site.item_image2.url(:original) : "../vendors/landing_page/images/icons/presenter-white.svg" : "../vendors/landing_page/images/icons/presenter-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title1 : "Increase Productivity" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_desc1 : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-xs-12 col-sm-4">
          <div class="item-inner">
            <img class="item-icon" src="<%= @site.present? ? @site.item_image3.present? ? @site.item_image3.url(:original) : "../vendors/landing_page/images/icons/chat-white.svg" : "../vendors/landing_page/images/icons/chat-white.svg" %>" alt="">
            <h3 class="item-title"><%= @site.present? ? @site.item_title2 : "Better Collabration" %></h3>
            <div class="item-desc">
              <%= @site.present? ? @site.item_title2 : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//benefits-->
  <!--<div class="press-wrapper">
    <div class="container">
      <div class="logos row">
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-1.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-2.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-3.svg" alt=""></div>
        <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="../vendors/landing_page/images/logos/logo-4.svg" alt=""></div>
      </div>
    </div>&lt;!&ndash;//container&ndash;&gt;
  </div>--><!--//press-wrapper-->
</section><!--//overview-section-->

<!--<section id="features-section" class="features-section section">
  <h2 class="section-title">
    Key Features
  </h2>
  <div class="container">
    <div class="row" style="display: none">
      <div class="features-content-wrapper col-xs-12 col-sm-7 com-md-7">
        &lt;!&ndash;<div class="intro">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
        </div>&lt;!&ndash;//intro&ndash;&gt;
        <ul class="feature-list list-unstyled">
          <li><img class="tick-icon" src="../vendors/landing_page/images/tick.svg" alt=""> Feature one lorem ipsum dolor sit amet.</li>
          <li><img class="tick-icon" src="../vendors/landing_page/images/tick.svg" alt=""> Feature two lorem ipsum dolor sit amet.</li>
          <li><img class="tick-icon" src="../vendors/landing_page/images/tick.svg" alt=""> Feature three lorem ipsum dolor sit amet.</li>
          <li><img class="tick-icon" src="../vendors/landing_page/images/tick.svg" alt=""> Feature four lorem ipsum dolor sit amet.</li>
          <li><img class="tick-icon" src="../vendors/landing_page/images/tick.svg" alt=""> Feature five lorem ipsum dolor sit amet.</li>
          <li><img class="tick-icon" src="../vendors/landing_page/images/tick.svg" alt=""> Feature six lorem ipsum dolor sit amet.</li>
        </ul>&ndash;&gt;&lt;!&ndash;//feature-list&ndash;&gt;

        <div id="reviews-carousel" class="reviews-carousel carousel slide" data-ride="carousel">
          &lt;!&ndash;//wrapper for slides &ndash;&gt;
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <blockquote class="review center-block">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </blockquote>&lt;!&ndash;//review&ndash;&gt;
              <div class="source">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>&lt;!&ndash;//rating&ndash;&gt;
                <img class="profile" src="../vendors/landing_page/images/users/user-1.png" alt="" />
                <div class="name">Theresa Wood, Product Hunt</div>
              </div>&lt;!&ndash;//source&ndash;&gt;
            </div>&lt;!&ndash;//item&ndash;&gt;

            <div class="item">
              <blockquote class="review center-block">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </blockquote>&lt;!&ndash;//review&ndash;&gt;
              <div class="source">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>&lt;!&ndash;//rating&ndash;&gt;
                <img class="profile" src="../vendors/landing_page/images/users/user-2.png" alt="" />
                <div class="name">Rob Kim, Mashable</div>
              </div>&lt;!&ndash;//source&ndash;&gt;
            </div>&lt;!&ndash;//item&ndash;&gt;

            <div class="item">
              <blockquote class="review center-block">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </blockquote>&lt;!&ndash;//review&ndash;&gt;
              <div class="source">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>&lt;!&ndash;//rating&ndash;&gt;
                <img class="profile" src="../vendors/landing_page/images/users/user-3.png" alt="" />
                <div class="name">Kevin Howell, Wired</div>
              </div>&lt;!&ndash;//source&ndash;&gt;
            </div>&lt;!&ndash;//item&ndash;&gt;

          </div>&lt;!&ndash;//carousel-inner&ndash;&gt;

          &lt;!&ndash;//Indicators&ndash;&gt;
          <ol class="carousel-indicators">
            <li data-target="#reviews-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#reviews-carousel" data-slide-to="1"></li>
            <li data-target="#reviews-carousel" data-slide-to="2"></li>
          </ol>

        </div>&lt;!&ndash;//reviews-carousel&ndash;&gt;
      </div>&lt;!&ndash;//features-content-wrapper&ndash;&gt;
    </div>&lt;!&ndash;//row&ndash;&gt;
  </div>&lt;!&ndash;//container&ndash;&gt;

  <div class="features-figure-wrapper">
    <img class="img-responsive" src="<%#= @site.present? ? @site.key_feature_image1.present? ? @site.key_feature_image1.url(:original)  : "../vendors/landing_page/images/imac-screen.png" : "../vendors/landing_page/images/imac-screen.png" %>" alt="" width="400px" height="500px">
  </div>&lt;!&ndash;//features-figure-wrapper&ndash;&gt;

  &lt;!&ndash;<div class="action-wrapper text-center">
    <a href="features.html" class="btn btn-secondary">View all features</a>
  </div>&ndash;&gt;

</section>--><!--//features-section-->

<section id="customers-section" class="customers-section section" >
  <h2 class="section-title"><%= @site.present? ? @site.section_title_trusted_by_smart : "Trusted by smart businesses" %></h2>
  <div class="section-intro">
    <%= @site.present? ? @site.section_intro_trusted_by_smart : "Unknown" %>
  </div>
  <div class="quotes">
    <div class="row">
      <div class="quote-item col-sm-12 col-sm-6 text-center">
        <div class="inner">
          <div class="profile">
            <img src="<%= @site.present? ? @site.quote_profile.present? ? @site.quote_profile.url(:original): "../vendors/landing_page/images/stories/profiles/profile-5.png" : "../vendors/landing_page/images/stories/profiles/profile-5.png" %>" alt="">
          </div><!--//profile-->

          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <blockquote class="quote">
            <%= @site.present? ? @site.quote_intro : "Unknown" %>
          </blockquote><!--//blockquote-->
          <div class="source">
            <div class="name"><%= @site.present? ? @site.quote_name : "Unknown" %></div>
            <div class="title"><%= @site.present? ? @site.quote_title : "Unknown" %></div>
          </div><!--//source-->

        </div><!--//inner-->
      </div><!--//quote-item-->
      <div class="quote-item col-sm-12 col-sm-6 text-center">
        <div class="inner">
          <div class="profile">
            <img src="<%= @site.present? ? @site.quote_profile.present? ? @site.quote_profile2.url(:original): "../vendors/landing_page/images/stories/profiles/profile-5.png" : "../vendors/landing_page/images/stories/profiles/profile-5.png" %>" alt="">
          </div><!--//profile-->

          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <blockquote class="quote">
            <%= @site.present? ? @site.quote_intro2 : "Unknown" %>
          </blockquote><!--//blockquote-->
          <div class="source">
            <div class="name"><%= @site.present? ? @site.quote_name2 : "Unknown" %></div>
            <div class="title"><%= @site.present? ? @site.quote_title2 : "Unknown" %></div>
          </div><!--//source-->

        </div><!--//inner-->
      </div><!--//quote-item-->
    </div><!--//row-->
  </div>
</section><!--//customers-section-->

<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col col-xs-6 col-md-3">
        <div class="footer-col-inner">
          <h3 class="col-title">About</h3>
          <ul class="footer-menu list-unstyled">
            <li><a href="#">Company</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Jobs</a> <label class="label label-new">We've hiring</label></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!--//footer-col-inner-->
      </div><!--//footer-col-->
      <div class="footer-col col-xs-6 col-md-3">
        <div class="footer-col-inner">
          <h3 class="col-title">Product</h3>
          <ul class="footer-menu list-unstyled">
            <li><a href="#">Features</a></li>
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Support Center</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Customers</a></li>
          </ul>
        </div>
      </div><!--//footer-col-->
      <div class="footer-col col-xs-6 col-md-3">
        <div class="footer-col-inner">
          <h3 class="col-title">Useful Links</h3>
          <ul class="footer-menu list-unstyled">
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Become our partner</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div><!--//footer-col-->
      <div class="footer-col col-xs-6 col-md-3">
        <div class="footer-col-inner">
          <h3 class="col-title">Legal</h3>
          <ul class="footer-menu list-unstyled">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Services</a></li>
            <li><a href="#">Policies</a></li>
          </ul>
        </div>
      </div><!--//footer-col-->
    </div><!--//row-->
    <div class="divider"></div>
    <div class="footer-bottom text-center">
      <ul class="social-media list-inline">
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>

      </ul>

      <small class="copyright">Template Copyright @ <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
    </div>
  </div><!--//container-->
</footer><!--//footer-->

<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
      </div>
      <div class="modal-body">
        <div class="video-container embed-responsive embed-responsive-16by9">
          <iframe id="vimeo-video" src="//player.vimeo.com/video/140875675?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div><!--//video-container-->
      </div><!--//modal-body-->
    </div><!--//modal-content-->
  </div><!--//modal-dialog-->
</div><!--//modal-->

<!-- Login Modal -->
<!--<div class="modal modal-auth modal-login" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="loginModalLabel" class="modal-title text-center">Log in to your account</h4>
      </div>
      <div class="modal-body">
        <div class="social-login text-center">
          <ul class="social-buttons list-unstyled">
            <li><a href="#" class="btn btn-social btn-google btn-block"><i class="fa fa-google" aria-hidden="true"></i><span class="btn-text">Log in with Google</span></a></li>
            <li><a href="#" class="btn btn-social btn-facebook btn-block"><i class="fa fa-facebook" aria-hidden="true"></i><span class="btn-text">Log in with Facebook</span></a></li>
          </ul>
        </div>
        <div class="divider">
          <span class="or-text">OR</span>
        </div>
        <div class="login-form-container">
          <form class="login-form">
            <div class="form-group email">
              <i class="material-icons icon">&#xE0BE;</i>
              <label class="sr-only" for="login-email">Email</label>
              <input id="login-email" name="login-email" type="email" class="form-control login-email" placeholder="Email">
            </div>&lt;!&ndash;//form-group&ndash;&gt;
            <div class="form-group password">
              <i class="material-icons icon">&#xE897;</i>
              <label class="sr-only" for="login-password">Password</label>
              <input id="login-password" name="login-password" type="password" class="form-control login-password" placeholder="Password">
              <div class="extra">
                <div class="checkbox remember">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div>&lt;!&ndash;//check-box&ndash;&gt;
                <div class="forgotten-password">
                  <a href="#" id="resetpass-link" data-toggle="modal" data-target="#resetpass-modal">Forgotten password?</a>
                </div>
              </div>&lt;!&ndash;//extra&ndash;&gt;
            </div>&lt;!&ndash;//form-group&ndash;&gt;
            <button type="submit" class="btn btn-cta btn-block btn-primary">Log in</button>
          </form>
        </div>&lt;!&ndash;//login-form-container&ndash;&gt;

        <div class="option-container">
          <div class="lead-text">Don't have an account?</div>
          <a class="signup-link btn btn-ghost-alt" id="signup-link" href="#">Sign Up</a>
        </div>&lt;!&ndash;//option-container&ndash;&gt;
      </div>&lt;!&ndash;//modal-body&ndash;&gt;

    </div>&lt;!&ndash;//modal-content&ndash;&gt;
  </div>&lt;!&ndash;//modal-dialog&ndash;&gt;
</div>--><!--//modal-->

<!-- Signup Modal -->
<!--<div class="modal modal-auth modal-signup" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="signupModalLabel" class="modal-title text-center">Sign up to start your 30 day free trial!</h4>
      </div>
      <div class="modal-body">
        <div class="social-login text-center">
          <ul class="social-buttons list-unstyled">
            <li><a href="#" class="btn btn-social btn-google btn-block"><i class="fa fa-google" aria-hidden="true"></i><span class="btn-text">Sign up with Google</span></a></li>
            <li><a href="#" class="btn btn-social btn-facebook btn-block"><i class="fa fa-facebook" aria-hidden="true"></i><span class="btn-text">Sign up with Facebook</span></a></li>
          </ul>
        </div>
        <div class="divider">
          <span class="or-text">OR</span>
        </div>
        <div class="login-form-container">
          <form class="login-form">
            <div class="form-group full-name">
              <i class="material-icons icon">&#xE7FD;</i>
              <label class="sr-only" for="signup-fullname">Your Full Name</label>
              <input id="signup-fullname" name="signup-fullname" type="text" class="form-control signup-email" placeholder="Your Full Name">
            </div>&lt;!&ndash;//form-group&ndash;&gt;
            <div class="form-group email">
              <i class="material-icons icon">&#xE0BE;</i>
              <label class="sr-only" for="signup-email">Your Email</label>
              <input id="signup-email" name="signup-email" type="email" class="form-control signup-email" placeholder="Your Email">
            </div>&lt;!&ndash;//form-group&ndash;&gt;
            <div class="form-group password">
              <i class="material-icons icon">&#xE897;</i>
              <label class="sr-only" for="signup-password">Create a Password</label>
              <input id="signup-password" name="signup-password" type="password" class="form-control signup-password" placeholder="Create a Password">
            </div>&lt;!&ndash;//form-group&ndash;&gt;
            <div class="legal-note">By signing up, you agree to our terms of services and privacy policy.</div>
            <button type="submit" class="btn btn-block btn-primary btn-cta">Sign up</button>

          </form>
        </div>&lt;!&ndash;//login-form-container&ndash;&gt;
        <div class="option-container">
          <div class="lead-text">Already have an account?</div>
          <a class="login-link btn btn-ghost-alt" id="login-link" href="#">Log in</a>
        </div>&lt;!&ndash;//option-container&ndash;&gt;
      </div>&lt;!&ndash;//modal-body&ndash;&gt;
    </div>&lt;!&ndash;//modal-content&ndash;&gt;
  </div>&lt;!&ndash;//modal-dialog&ndash;&gt;
</div>&lt;!&ndash;//modal&ndash;&gt;

&lt;!&ndash; Reset Password Modal &ndash;&gt;
<div class="modal modal-auth modal-resetpass" id="resetpass-modal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="resetpassModalLabel" class="modal-title text-center">Forgot your password?</h4>
      </div>
      <div class="modal-body">
        <div class="resetpass-form-container">
          <p class="intro">We'll email you a link to a page where you can easily create a new password.</p>
          <form class="resetpass-form">
            <div class="form-group email">
              <label class="sr-only" for="reg-email">Your Email</label>
              <input id="reg-email" name="reg-email" type="email" class="form-control login-email" placeholder="Your Email">
            </div>&lt;!&ndash;//form-group&ndash;&gt;
            <button type="submit" class="btn btn-block btn-secondary btn-cta">Reset Password</button>
          </form>
        </div>&lt;!&ndash;//login-form-container&ndash;&gt;
        <div class="option-container">
          <div class="lead-text">I want to <a class="back-to-login-link" id="back-to-login-link" href="#">return to login</a></div>
        </div>&lt;!&ndash;//option-container&ndash;&gt;
      </div>&lt;!&ndash;//modal-body&ndash;&gt;
    </div>&lt;!&ndash;//modal-content&ndash;&gt;
  </div>&lt;!&ndash;//modal-dialog&ndash;&gt;
</div>--><!--//modal-->

<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
<div id="config-panel" class="config-panel hidden-xs hidden-sm">
  <div class="panel-inner">
    <a id="config-trigger" class="config-trigger config-panel-hide" href="#"><i class="fa fa-cog"></i></a>
    <h5 class="panel-title">Choose Colour</h5>
    <ul id="color-options" class="list-unstyled list-inline">
      <li class="theme-1 active"><a data-style="../vendors/landing_page/css/styles.css" href="#"></a></li>
      <li class="theme-2"><a data-style="../vendors/landing_page/css/styles-2.css" href="#"></a></li>
      <li class="theme-3"><a data-style="../vendors/landing_page/css/styles-3.css" href="#"></a></li>
      <li class="theme-4"><a data-style="../vendors/landing_page/css/styles-4.css" href="#"></a></li>
      <li class="theme-5"><a data-style="../vendors/landing_page/css/styles-5.css" href="#"></a></li>
      <li class="theme-6"><a data-style="../vendors/landing_page/css/styles-6.css" href="#"></a></li>
    </ul>
    <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
  </div><!--//panel-inner-->
</div><!--//configure-panel-->


<!--
<div class="col-md-24" style="background-color: white;border-radius: 10px;">
 <p class="text-center"><i class="glyphicon glyphicon-stats tendercon_icon" aria-hidden="true"></i></p>
 <h1 class="text-center login-title"><b>REGISTER WITH TENDERCON</b></h1>
 <p class="text-center" style="color: #000;font-weight: bold;font-size: 13px;">NO CREDIT CARD NEEDED</p>
 <br>
 <br>
 <p class="text-center" style="color: #000;font-weight: bold;font-size: 15px;">WHAT DO YOU WANT TO DO?</p>
</div>


<div class="col-md-24">
  <div class="span10">
    <div class="checkbox">
      <label><input type="checkbox" value="tender_new" name="tender_type" class="tender_type" id="new"> REGISTER YOUR ORGANIZATION TO USE TENDERCON FOR HE FIRST TIME </label>
      <label class="pull-right"><input type="checkbox" value="tender_olb" name="tender_type" class="tender_type" id="old"> CREATE A USER ACCOUNT IF YOUR ORGANIZATION IS ALREADY REGISTERED </label>
    </div>

    <div class="col-md-12">
      <div class="getting_started" style="display: none;">
        <p class="type_text">You will need to register if your organiation has not used Tendercon before</p>
        <a href="<%= register_users_path %>" class="text-center new-account" style="text-decoration: none; color: #000000"><button class="btn  btn-primary " type="submit">Getting Started</button> </a>
      </div>
    </div>

    <div class="col-md-12 pull-right">
      <div class="old_account pull-right" style="display: none;">
        <p class="type_text">If your organization already using Tendercon? Ask your Org Admin to set you up as a user.</p>
        <p class="type_text">Your Org Admin is someone who works for your organization and overseas Tendercon.</p>
      </div>
    </div>


  </div>

  <div class="col-md-24" style="margin-top: 30px;">
    <h1 class="text-center login-title"><b>NOT SURE WHAT TO DO?</b></h1>

    <br>
    <br>
    <p class="text-center home_contact">To find out if your organization is already registered on Tendercon. Contact our helpdesk.</p>
    <a href="#!" class="text-center new-account" style="color: #000000"> <h1 class="text-center login-title"><b>Contact Support</b></h1></a>

  </div>
</div>

<script>
  $('.tender_type_value').click(function(){
    var title = $(this).attr('title');

    if(title == 'new_tender'){
      $('.getting_started').show();
    }else{
      $('.getting_started').hide();
    }
  });

  $('.tender_type').click(function(){
    $('.tender_type').attr('checked',false);
    var comp_id = $(this).attr('id');
    $('#'+comp_id).prop('checked',true);

    if(comp_id == 'new'){
      $('.getting_started').show();
      $('.old_account').hide();
    }else{
      $('.getting_started').hide();
      $('.old_account').show();
    }

  });
</script>

-->
