<div>
  <section class="heading-section section section-on-bg">
    <div class="hero-wrapper" style="background: #35373C url('../vendors/landing_page/images/pricing.png') no-repeat 50% 50%;">
      <div class="hero-holder"></div>
      <div class="hero-mask-gradient">
        <!--<img class="img-responsive" src="">-->
      </div>
    </div><!--//hero-wrapper-->
    <div class="container heading-content">
      <h2 class="headline"><%= @pricing.present? ? @pricing.headline : "Unknown" %></h2>
      <div class="intro"><%= @pricing.present? ? @pricing.intro : "Unknown" %></div>
      <div class="actions">
        <a class="scrollto" href="#pricing-block"><%= @pricing.present? ? @pricing.pricing_block : "View Plans" %></a>
        <a class="scrollto" href="#pricing-block"><img src="../vendors/landing_page/images/arrow-icon.svg" alt=""></a>
      </div><!--//actions-->
    </div><!--//container-->
  </section><!--//heading-section-->

  <div class="page-nav-space-holder hidden-xs">
    <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
      <div class="container">
        <ul id="page-nav" class="page-nav nav list-inline">
          <li><a class="scrollto" href="#pricing-block"><%= @pricing.present? ? @pricing.scrollto_pricing_block : "Pricing" %></a></li>
          <li><a class="scrollto"  href="#faqs-block"><%= @pricing.present? ? @pricing.scrollto_faqs_block : "FAQs" %></a></li>
        </ul><!--//page-nav-->
      </div>
    </div><!--//page-nav-wrapper-->
  </div><!--//page-nav-space-holder-->

  <div class="pricing-block" id="pricing-block">
    <div class="container">
      <h2 class="block-heading text-center"><%= @pricing.present? ? @pricing.block_heading : "30 day FREE trial with all plans!" %> </h2>
      <div class="row">
        <!--<div class="item item-1 col-xs-12 col-sm-6 col-md-4">
          <div class="item-inner">
            <div class="summary-box text-center">
              <h3 class="item-heading"><%#= @pricing.present? ? @pricing.item_heading : "FREE - Starter Plan" %></h3>
              <div class="item-intro"><%#= @pricing.present? ? @pricing.item_intro : "Unknown" %></div>
              <div class="price">
                <span class="currency"><%#= @pricing.present? ? @pricing.currency : "$" %></span>
                <span class="number"><%#= @pricing.present? ? @pricing.number : "0" %></span>
              </div>&lt;!&ndash;//price&ndash;&gt;
              <div class="unit"><%#= @pricing.present? ? @pricing.unit : "Per month" %></div>
              <div class="action">
                <div class="btn-container"><a href="/users/user-default-register2123" class="btn btn-secondary btn-ghost"><%= @pricing.present? ? @pricing.sign_up_now : "Sign Up Now" %></a></div>
                <div class="note"></div>
              </div>
            </div>&lt;!&ndash;//summary-box&ndash;&gt;
            <div class="details-box">
              <ul class="details-list list-unstyled">
                <li><i class="fa fa-check" aria-hidden="true"></i><%#= @pricing.present? ? @pricing.tender_limit : "5 Tenders" %> </li>
                <%# if @pricing.present? && @pricing.tender_limit1_1.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_1 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_2.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_2 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_3.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_3 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_4.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_4 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_5.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_5 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_6.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_6 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_7.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_7 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_8.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_8 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_9.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_9 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_0.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_0 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_11.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_11 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_12.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_12 %></li>
                <%# end %>
                <%# if @pricing.present? && @pricing.tender_limit1_13.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%#= @pricing.tender_limit1_13 %></li>
                <%# end %>
                &lt;!&ndash;<li><i class="fa fa-check" aria-hidden="true"></i> 10 GB file storage</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Email support</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Free update</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Native apps</li>&ndash;&gt;
              </ul>
            </div>&lt;!&ndash;//details-box&ndash;&gt;

          </div>&lt;!&ndash;//item-inner&ndash;&gt;
        </div>&lt;!&ndash;//item&ndash;&gt;-->
        <div class="item item-2 col-xs-12 col-sm-6 col-md-2"></div>
        <div class="item item-2 col-xs-12 col-sm-6 col-md-4">
          <div class="item-inner">
            <div class="summary-box text-center">
              <h3 class="item-heading"><%= @pricing.present? ? @pricing.item_heading2 : "Professional Plan - monthly" %></h3>
              <div class="item-intro"><%= @pricing.present? ? @pricing.item_intro2 : "Unknown" %></div>
              <div class="price">
                <span class="currency"><%= @pricing.present? ? @pricing.currency2 : "$" %></span>
                <span class="number"><%= @pricing.present? ? @pricing.number2 : "66" %></span>
              </div><!--//price-->
              <div class="unit"><%= @pricing.present? ? @pricing.unit2 : "Per month" %></div>
              <div class="action">
                <div class="btn-container"><a href="/users/user-default-register2123" class="btn btn-secondary btn-ghost"><%= @pricing.present? ? @pricing.sign_up_now2 : "Sign Up Now" %></a></div>
                <div class="note"></div>
              </div>
            </div><!--//summary-box-->
            <div class="details-box">
              <ul class="details-list list-unstyled">
                <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.present? ? @pricing.tender_limit2 : "Unlimited Tenders" %></li>
                <% if @pricing.present? && @pricing.tender_limit2_1.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_1 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_2.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_2 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_3.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_3 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_4.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_4 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_5.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_5 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_6.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_6 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_7.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_7 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_8.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_8 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_9.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_9 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_0.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_0 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_11.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_11 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_12.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_12 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit2_13.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit2_13 %></li>
                <% end %>
                <!--<li><i class="fa fa-check" aria-hidden="true"></i> 30 GB file storage</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Email priority support</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Free update</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Native apps</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option one</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option two</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option three</li>-->
              </ul>
            </div><!--//details-box-->

          </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item item-4 col-xs-12 col-sm-6 col-md-4">
          <div class="item-inner">
            <div class="summary-box text-center">
              <h3 class="item-heading"><%= @pricing.present? ? @pricing.item_heading3 : "Professional Plan - 12 months" %></h3>
              <div class="item-intro"><%= @pricing.present? ? @pricing.item_intro3 : "Unknown" %></div>
              <div class="price">
                <span class="currency"><%= @pricing.present? ? @pricing.currency3 : "$" %></span>
                <span class="number"><%= @pricing.present? ? @pricing.number3 : "544" %></span>
              </div><!--//price-->
              <div class="unit"><%= @pricing.present? ? @pricing.unit3 : "Per year" %></div>
              <div class="action">
                <div class="btn-container"><a href="/users/user-default-register2123" class="btn btn-secondary btn-ghost"><%= @pricing.present? ? @pricing.sign_up_now3 : "Sign Up Now" %></a></div>
                <div class="note"></div>
              </div>
            </div><!--//summary-box-->
            <div class="details-box">
              <ul class="details-list list-unstyled">
                <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.present? ? @pricing.tender_limit3 : "Unlimited Tenders" %></li>
                <% if @pricing.present? && @pricing.tender_limit3_1.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_1 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_2.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_2 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_3.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_3 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_4.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_4 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_5.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_5 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_6.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_6 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_7.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_7 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_8.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_8 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_9.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_9 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_0.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_0 %></li>
                <% end %>

                <% if @pricing.present? && @pricing.tender_limit3_11.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_11 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit3_12.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_12 %></li>
                <% end %>
                <% if @pricing.present? && @pricing.tender_limit3_13.present? %>
                    <li><i class="fa fa-check" aria-hidden="true"></i> <%= @pricing.tender_limit3_13 %></li>
                <% end %>
                <!--<li><i class="fa fa-check" aria-hidden="true"></i> Unlimited file storage</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 support</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Free update</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Native apps</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option one</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option two</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option three</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option four</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option five</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option six</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option seven</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option eight</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option nine</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option ten</li>-->
              </ul>
            </div><!--//details-box-->

          </div><!--//item-inner-->
        </div><!--//item-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//pricing-block-->

  <div class="faqs-block" id="faqs-block">
    <div class="container">
      <h2 class="block-heading text-center"><%= @pricing.present? ? @pricing.frequently_block_heading : "Frequently Asked Questions" %></h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <% if @pricing.present? && @pricing.faq1.present? && @pricing.faq1_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq1 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq1" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq1_desc %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if @pricing.present? && @pricing.faq2.present? && @pricing.faq2_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq2" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq2 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq2" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq2_desc %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if @pricing.present? && @pricing.faq3.present? && @pricing.faq3_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq3" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq3 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq3" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq3_desc %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if @pricing.present? && @pricing.faq4.present? && @pricing.faq4_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq4" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq4 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq4" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq4_desc %>
                  </div>
                </div>
              </div>
          <% end %>

          <!--<div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
            </div>

            <div class="panel-collapse collapse" id="faq2">
              <div class="panel-body">
               test
              </div>
            </div>
          </div>&lt;!&ndash;//panel&ndash;&gt;

          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>How does the morbi quam tortor work?</a></h4>
            </div>

            <div class="panel-collapse collapse" id="faq3">
              <div class="panel-body">
                test
              </div>
            </div>
          </div>&lt;!&ndash;//panel&ndash;&gt;

          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
            </div>

            <div class="panel-collapse collapse" id="faq4">
              <div class="panel-body">
                test
              </div>
            </div>
          </div>-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <% if @pricing.present? && @pricing.faq5.present? && @pricing.faq5_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq5" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq5 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq5" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq5_desc %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if @pricing.present? && @pricing.faq6.present? && @pricing.faq6_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq6" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq6 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq6" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq6_desc %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if @pricing.present? && @pricing.faq7.present? && @pricing.faq7_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq7" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq7 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq7" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq7_desc %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if @pricing.present? && @pricing.faq8.present? && @pricing.faq8_desc.present? %>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq8" aria-expanded="false"><i class="fa fa-plus-square"></i><%= @pricing.faq8 %></a></h4>
                </div>

                <div class="panel-collapse collapse" id="faq8" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <%= @pricing.faq8_desc %>
                  </div>
                </div>
              </div>
          <% end %>

        </div>
      </div><!--//row-->

    </div>
  </div>
</div>
