<form  id="info" action="" method="POST">
  <div class="text-center">
    <input type="hidden" class="address_for_map" value="<%= @user.address.present? ? "#{@user.address.location}" : nil %>">
    <h2 style="font-family: Gotham;font-size: 30px"><strong>UPDATE PROFESSIONAL PROFILE</strong></h2>
    <h4 style="font-family: Gotham;font-size: 16px">Update your Professional Profile information</h4>
    <div style="height: 20px"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <u>
        <h3 style="font-family: Gotham;font-size: 24px">
          DIGITAL PRESENCE
        </h3>  
      </u>
    </div>
    <div class="col-md-2"></div>
  </div> 
  
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        LINKED URL
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text"  class="form-control"  name="linkedin" value="<%="#{@user.user_info.present? ? @user.user_info.linkedin : nil}" %>" />
      </div>
    </div>
  </div>   
 
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <u>
        <h3 style="font-family: Gotham;font-size: 24px">
          PROFESSIONAL DETAILS
        </h3>  
      </u>
    </div>
    <div class="col-md-2"></div>
  </div>


  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        FIRST NAME
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text"  class="form-control"  name="f_name" value="<%= "#{@user.first_name}" %>" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        LAST NAME
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text"  class="form-control"  name="l_name" value="<%= "#{@user.last_name}" %>"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        COMPANY
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text"  class="form-control"  name="trade_name" value="<%= "#{@user.trade_name}" %>"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        POSITION
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
         <%= select_tag 'position',content_tag(:option,'Select position',:value=>0)+options_from_collection_for_select(@positions, 'id','title', @user.position  )+content_tag(:option,'Others',:value=>'last'),{:class=> 'form-control'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        TOTAL YEARS OF EXPERIENCE 
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text"  class="form-control"  name="experience" value="<%= @user.experience %>"/>
      </div>
    </div>
  </div>
  <div style="height: 10px"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <u>
        <h3 style="font-family: Gotham;font-size: 24px">
          CONTACT DETAILS
        </h3>  
      </u>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        EMAIL
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text"  class="form-control"  name="email" value="<%= "#{@user.email}" %>" readonly/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <h4 style="font-family: Gotham;font-size: 16px">
        MOBILE
      </h4>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text"  class="form-control"  name="mobile" value="<%= "#{@user.mobile_number}" %>"/>
      </div>
    </div>
  </div>  
  <div style="height: 10px"></div> 

  <div class="row">
    <div class="margin-top-10 pull-right" style="margin-right: 10px">
      <a href="/users/profile?id=<%= @user.id %>" class="btn red">
        <button class="btn red" type="button">
          Cancel
        </button>
      </a>
      <a href="#!" class="btn green">
        <button class="btn green" type="submit">
          Save Changes
        </button>
      </a>
    </div>
    
  </div>
</form>

<script type="text/javascript">
  $(document).ready(function(){
    $('#info').on('submit', function (e) {

      e.preventDefault();
      console.log($('#info').serialize())
      $.ajax({
        method: "POST",
        data: $('#info').serialize(),
        url: "/users/update_info"
      }).done(function (data) {
        console.log(data);
        //window.location.href = "/users/profile?id=<%= @user.id %>";
        ///users/company_profile?id=28
        /*if(data.state == 'valid'){
          $('#users_success').show();
        }*/
      });
    });

    $('#address').keyup(function(){
      console.log("TEST");
      var address = $(this).val();
      initAutocomplete();
      get_address_info(address);
    });

    $('#address').focusout(function(){
      var address = $(this).val();
      initAutocomplete();
      get_address_info(address);
    });

    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
          (document.getElementById('address')),
          {types: ['geocode'],componentRestrictions: {country: "au"}});

      google.maps.event.addListener(autocomplete,'place_changed',function(){

        var address = $("#address").val();
        console.log("test:"+address);

      });
    }

    function get_address_info(address){
      $.ajax({
        method: "POST",
        data: {address: address},
        url: "/users/get_address_info"
      }).done(function (data) {
        if(data.state = 'valid') {
          console.log("data.add_state:"+data.add_state)
          $('.state').val(data.add_state);
          $('.suburb').val(data.suburb);
          $('.postcode').val(data.postal);
          $('.timezone').val(data.timezone);

        }
      });
    }
  });
</script>