<div style="height: 50px"></div>
<div class="profile-sidebar">
  <!-- PORTLET MAIN -->
  <div class="portlet light profile-sidebar-portlet ">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
      <% if @user.company_avatar.present? %>
        <% if File.exist?(@user.company_avatar.image.path(:original)) %>
          <img src="<%= @user.company_avatar.image.url(:original) %>" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
        <% else %>
          <img src="http://www.timesection.com/wp-content/uploads/2014/11/no-logo.jpg" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
        <% end %>
      <% else %>
        <img src="http://www.timesection.com/wp-content/uploads/2014/11/no-logo.jpg" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
      <% end %>
    </div>

    <div class="profile-usertitle">
      <div class="profile-usertitle-name" style="color: #2C3E50;"> <%= "#{@user.company}" %> </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">

    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">

    </div>
    <!-- END MENU -->
  </div>
  <!-- END PORTLET MAIN -->
  <!-- PORTLET MAIN -->
  <div class="portlet light ">
    <!-- STAT -->
    <!--<div class="row list-separated profile-stat">

    </div>-->
    <!-- END STAT -->
    <div>

    </div>
  </div>
  <!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <td colspan="2" style="background-color: #2C3E50;color: white;"><strong>Details</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="col-md-3">Company</td>
          <td><%= "#{@user.trade_name}" %></td>
        </tr>
        <tr>
          <td class="col-md-3">ABN</td>
          <td><%= "#{@user.abn}" %></td>
        </tr>
        <tr>
          <td class="col-md-3">ACN</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.acn : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">Address</td>
          <td><%= "#{@user.address.location}" %></td>
        </tr>
        <tr>
          <td class="col-md-3">Time zone</td>
          <td><%= "#{@user.address.timezone}" %></td>
        </tr>
        <tr>
          <td class="col-md-3">About</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.about_me : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">Tendercon ID</td>
          <td><%= "#{@user.tendercon_id}" %></td>
        </tr>
        <tr>
          <td class="col-md-3">No. of Employees</td>
          <td><%=  @added_company_profile.present? ? @added_company_profile.number_of_employees : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">Commenced Operation</td>
          <td><%=  @added_company_profile.present? ? @added_company_profile.commenced_operation : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">Tendercon member since</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.since : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">Project range</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.project_range : nil %></td>
        </tr>

        <% if session[:role] == 'Sub Contractor' %>
            <tr>
              <td colspan="2" style="background-color: #2C3E50;color: white;">Specialist Trades</td>
            </tr>
            <tr>
              <td class="col-md-3">Primary Trade</td>
              <td><%= @primary_trade.present? ? (return_trade @primary_trade.trade_id) : nil %></td>
            </tr>
            <tr>
              <td class="col-md-3">Secondary Trade</td>
              <% if @secondary_trade_array.present? %>
                  <% @secondary_trade_array.each_with_index do |a,index| %>
                      <% if index == 0 %>
                          <td><%= (return_trade a) %></td>
                      <% end %>
                  <% end %>
              <% end %>
            </tr>
            <% if @secondary_trade_array.present? %>
                <% @secondary_trade_array.each_with_index do |a,index| %>
                    <% if index > 0 %>
                        <tr>
                          <td class="col-md-3"></td>
                          <td><%= (return_trade a) %></td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <tr>
          <td colspan="2" style="background-color: #2C3E50;color: white;"><strong>Contact</strong></td>
        </tr>
        <tr>
          <td class="col-md-3">Phone</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.contact_number : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">FAX</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.fax_number : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">Website</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.website : nil %></td>
        </tr>
        <tr>
          <td class="col-md-3">Linkedin</td>
          <td><%= @added_company_profile.present? ? @added_company_profile.linkedin : nil %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>