<div style="height: 30px"></div>
<div class="portlet-title tabbable-line">

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#details" data-toggle="tab">Details</a>
    </li>
    <li>
      <a href="#avatar" data-toggle="tab">Avatar</a>
    </li>
  </ul>
</div>

<!-- PERSONAL INFO TAB -->
<div class="tab-pane active" id="details">
  <div style="height: 10px"></div>
  <div class="alert alert-success open-sans-regular" id="users_success" style="display: none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="notice" style="font-size: 14px;">Successfully Updated Info.</div>

  </div>
  <form  id="info" action="" method="POST">
    <div class="form-group">
      <label class="control-label">Tendercon id</label>
      <input type="text"  class="form-control" value="<%= "#{@user.tendercon_id}" %>" name="tendercon_id" readonly/>
    </div>
    <div class="form-group">
      <label class="control-label">ABN</label>
      <input type="text"  class="form-control" value="<%= "#{@user.abn}" %>" name="f_name" readonly/>
    </div>
    <div class="form-group">
      <label class="control-label"><label style="font-size: 12px;font-weight: bold">ACN:</label></label>
      <input type="text" class="form-control" name="acn" value="<%= @added_company_profile.present? ? @added_company_profile.acn : '' %>">
    </div>
    <div class="form-group">
      <label  style="font-size: 12px;font-weight: bold">Address:</label>
      <input type="text" class="form-control" name="address" value="<%=  @user.address.location %>" id="address">
    </div>
    <div class="form-group">
      <label class="control-label">Time zone</label>
      <input type="text" value="<%= "#{@user.address.timezone}" %>" class="form-control" name="tiemzone" />
    </div>
    <div class="form-group">
      <label class="control-label">About the Company</label>
      <input type="text"  class="form-control" value="<%= @added_company_profile.present? ? @added_company_profile.about_me : nil %>" name="about_me" />
    </div>
    <% if session[:role] == 'Sub Contractor' %>
      <div class="form-group">
        <label class="control-label">Specialist Trades</label>
      </div>
      <div class="form-group">
        <%= select_tag 'primary_trade',content_tag(:option,'None',:value=>0)+options_from_collection_for_select(@trades, 'id','name',@primary_trade.trade_id)+content_tag(:option,'Others',:value=>'last'),{:class=> 'form-control col-lg-12',:style=> 'width:300px;'} %>
      </div>
    <% end %>
    <div class="form-group">
      <label class="control-label">No. of Employees</label>
    </div>
    <div class="form-group">
      <%= select_tag "number_of_employees", options_for_select([ "","1 to 5", "5 to 10","10-15","15-20","20-25","25-50","50-75","75-100","100+"] , @added_company_profile.present? ? @added_company_profile.number_of_employees : "" ),{:class => 'form-control'} %>
    </div>

    <div class="form-group">
      <label class="control-label">Commenced Operation</label>
    </div>
    <div class="form-group">
      <%= select_tag "commenced_operation", options_for_select(@years.reverse , Time.now.strftime('%Y').to_i),{:class => 'form-control'} %>
    </div>
    <div class="form-group">
      <label class="control-label">Tendercon member since</label>
      <input type="text" class="form-control" name="since" value="<%=  @user.created_at.strftime('%Y') %>">
    </div>
    <div class="form-group">
      <label class="control-label">Project range</label>
      <input type="text"  class="form-control" value="<%= @added_company_profile.present? ? @added_company_profile.project_range : nil %>" name="project_range" />
    </div>
    <div class="form-group">
      <label class="control-label">Phone</label>
      <input type="text" class="form-control phone" name="contact_number" value="<%= @added_company_profile.present? ? @added_company_profile.contact_number : '' %>">
    </div>
    <div class="form-group">
      <label class="control-label">FAX</label>
      <input type="text" class="form-control fax" name="fax_number" value="<%= @added_company_profile.present? ? @added_company_profile.fax_number : '' %>">
    </div>
    <div class="form-group">
      <label class="control-label">Website</label>
      <input type="text" class="form-control" name="website" value="<%= @added_company_profile.present? ? @added_company_profile.website : '' %>">
    </div>
    <div class="form-group">
      <label class="control-label">Linkedin</label>
      <input type="text" class="form-control" id="linkedin" name="linkedin" value="<%= @added_company_profile.present? ? @added_company_profile.linkedin : '' %>">
    </div>
    <div class="margiv-top-10">
      <a href="#!" class="btn green">
        <button class="btn green" type="submit">
          Save Changes
        </button>

      </a>
      <a href="#!" class="btn default">
        <button class="btn default">
          Cancel
        </button>
      </a>
    </div>
  </form>
</div>
<!-- END PERSONAL INFO TAB -->
<!-- CHANGE AVATAR TAB -->
<div class="tab-pane" id="avatar" style="display: none">
  <div style="height: 20px"></div>
  <form action="#"  id="upload_company_avatar" enctype="multipart/form-data">
    <div class="form-group">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <% if @user.avatar.present? %>
              <img src="<%= @user.company_avatar.image.url(:original) %>"  class="img-responsive user_avatar">
          <% else %>
              <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="img-responsive user_avatar">
          <% end %>
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
        <div>
          <span class="btn default btn-file">
          <input type="file" name="avatar" class="image"> </span>
        </div>
      </div>

    </div>
    <div class="margin-top-10">
      <a href="#!" class="btn green">
        <button class="btn green" type="submit">
          Update
        </button>
      </a>
    </div>
  </form>
  <div style="background-color: transparent;display: none"> 
    <%= form_for @avatar, :url => update_avatar_users_path,:html => {:class => 'avatar'} do |m| %> 
        <input type="file" class="file_upload_filed"  id="dir-select" name="avatar"   /> 
    <% end %>
  </div> 
</div>
<!-- END CHANGE AVATAR TAB -->
<!-- CHANGE PASSWORD TAB -->
<div class="tab-pane" id="password_tab" style="display: none">
  <div style="height: 10px"></div>
  <div class="alert alert-warning open-sans-regular" id="users_old_password" style="display: none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="notice" style="font-size: 14px;">Current Password is wrong.</div>
  </div>

  <div class="alert alert-warning open-sans-regular" id="users_not_match" style="display: none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="notice" style="font-size: 14px;">Password does not match.</div>
  </div>
  <div class="alert alert-success open-sans-regular" id="password_success" style="display: none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="notice" style="font-size: 14px;">Successfully Updated Password.</div>

  </div>
  <form action="#" id="password">
    <div class="form-group">
      <label class="control-label">Current Password</label>
      <input type="password" class="form-control current_pass" name="current_pass"/> </div>
    <div class="form-group">
      <label class="control-label">New Password</label>
      <input type="password" class="form-control new_pass" name="new_pass" /> </div>
    <div class="form-group">
      <label class="control-label">Re-type New Password</label>
      <input type="password" class="form-control confirmed" name="confirmed"/> </div>
    <div class="margin-top-10">
      <a href="#!" class="btn green">
        <button class="btn green" type="submit">
          Save Changes
        </button>

      </a>
      <a href="#!" class="btn default">
        <button class="btn default">
          Cancel
        </button>
      </a>
    </div>
  </form>
</div>
<!-- END CHANGE PASSWORD TAB -->


<script>
  $(document).ready(function(){
    $('#info').on('submit', function (e) {

      e.preventDefault();

      $.ajax({
        method: "POST",
        data: $('#info').serialize(),
        url: "/users/update_company_info"
      }).done(function (data) {
        console.log(data);
        if(data.state == 'valid'){
          $('#users_success').show();
        }
      });
    });

    /*$('#upload_company_avatar').on('submit', function (e) {

      e.preventDefault();

      $.ajax({
        method: "POST",
        data: $('#upload_company_avatar').serialize(),
        url: "/users/update_company_avatar"
      }).done(function (data) {
        console.log(data);
        if(data.state == 'valid'){
          $('#users_success').show();
        }
      });
    });*/

    $( '#upload_company_avatar' ).submit( function( e ) {
      e.preventDefault();
      $.ajax( {
        url: '/users/update_company_avatar',
        type: 'POST',
        data: new FormData( this ),
        processData: false,
        contentType: false
      }).done(function (data) {
        console.log(data);
        if(data.state == 'valid'){
          console.log(data.avatar_url);
          $('.user_avatar').attr('src',data.avatar_url);
        }
      });
    });





    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href"); // activated tab
      var id = $(e.target).attr("id");
      console.log("target"+target);

      if(target == '#details'){
        $('#details').show();
        $('#avatar').hide();
        $('#password_tab').hide();
      }else if(target == '#avatar'){
        $('#details').hide();
        $('#avatar').show();
        $('#password_tab').hide();
      }else if(target == '#password'){
        $('#details').hide();
        $('#avatar').hide();
        $('#password_tab').show();
      }
    });

    /*$('.image').click(function(e){
      $('.file_upload_filed').click();
      e.preventDefault();
    });

    $('#new_avatar').fileupload({

      dataType: 'json',    done: function (e, data) {

        $.each(data, function (index, file) {


        });
      },progress: function (e, data) {

      }
    }).bind('fileuploadstop', function (e) {
      $.ajax({
        method: "POST",
        url: "/users/get_user_avatar_path"
      }).done(function (data) {

        if(data.state == 'valid'){
          console.log(data);
          $('.user_avatar').attr('src',data.url);
        }
      });
    });
*/
  });
</script>

