<div style="height: 30px"></div>
<div class="profile-sidebar">
  <!-- PORTLET MAIN -->
  <div class="portlet light profile-sidebar-portlet ">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
      <% if @user.avatar.present? %>
        <% if @user.avatar.present? %>
          <% if File.exist?(@user.avatar.image.path(:original)) %>
            <img src="<%= @user.avatar.image.url(:original) %>" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
          <% else %>
            <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
          <% end %>
        <% else %>
          <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
          <% end %>
      <% else %>
        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive" alt="" style="width: 180px !important; height: 170px !important;">
      <% end %>
    </div>

    <div class="profile-usertitle">
      <div class="profile-usertitle-name" style="color: #2C3E50;"> <%= "#{@user.first_name} #{@user.last_name}" %> </div>
      <div class="profile-usertitle-job" style="color: #2C3E50;"> <%= "#{ get_postion @user.position}" %>  </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">

    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">

    </div>
    <!-- END MENU -->
  </div>
  <!-- END PORTLET MAIN -->
  <!-- PORTLET MAIN -->
  <div class="portlet light ">
    <!-- STAT -->
    <!--<div class="row list-separated profile-stat">

    </div>-->
    <!-- END STAT -->
    <div>

    </div>
  </div>
  <!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <td colspan="2" style="background-color: #2C3E50;color: white;"><strong>Details</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Full Name</td>
          <td><%= "#{@user.first_name} #{@user.last_name}" %></td>
        </tr>
        <tr>
          <td>Position</td>
          <td><%= "#{get_postion @user.position}" %></td>
        </tr>
        <tr>
          <td>Company</td>
          <td><%= "#{@user.company}" %></td>
        </tr>
        <tr>
          <td>About</td>
          <td><%= "#{@user.user_info.present? ? @user.user_info.about_me.html_safe : nil}" %></td>
        </tr>
        <tr>
          <td colspan="2" style="background-color: #2C3E50;color: white;"><strong>Contact</strong></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= "#{@user.email}" %></td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td><%= "#{@user.mobile_number}" %></td>
        </tr>
        <tr>
          <td>Linkedin</td>
          <td><%="#{@user.user_info.present? ? @user.user_info.linkedin : nil}" %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>