
<div class="row">
  <div class="col-md-6">
    <a href="<%= get_login_url %>">
      <button class="btn btn-info">Integrate your outlook events.</button>
    </a>
  </div>

  <div class="col-md-6">
    <a href="/auth/google_oauth2">
      <button class="btn btn-info">Integrate your Gmail events.</button>
    </a>
  </div>
  <div class="col-md-6"></div>
  <% if session[:role] == 'Head Contractor' %>
    <div class="col-md-6 pull-right">
      <a href="#!" class="add_event">
        <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="page-header">

    <div class="form-inline">
      <div class="btn-group">
        <button class="btn btn-primary" data-calendar-nav="prev"><i class="fa fa-step-backward" aria-hidden="true"></i> Prev</button>
        <button class="btn btn-default" data-calendar-nav="today">Today</button>
        <button class="btn btn-primary" data-calendar-nav="next">Next <i class="fa fa-step-forward" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group">
        <button class="btn btn-warning" data-calendar-view="year">Year</button>
        <button class="btn btn-warning active" data-calendar-view="month">Month</button>
        <button class="btn btn-warning" data-calendar-view="week">Week</button>
        <button class="btn btn-warning" data-calendar-view="day">Day</button>
      </div>
    </div>
    <div class="row">
      <div class="form-group"></div>
    </div>
    <!--<h3 class="col-md-12" id="month_year"><%#= Time.now.strftime("%B %Y")  %></h3>-->
  </div>

  <div class="row">
    <div class="col-md-18">
      <div id="calendar"></div>
    </div>
    <div class="col-md-4 event_details">
      <p class="text-center" style="font-size: 16px">Today</p>
      <p class="text-center"><%= Time.now.strftime("%B %d") %></p>

      <% if @today_event.present? %>
        <% @today_event.each do |d| %>
          <% if @events_array.index("#{d[:title]}") == 0  %>
            <span class="badge event-important"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 1 %>
            <span class="badge event-success"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 2  %>
            <span class="badge event-inverse"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 3 %>
            <span class="badge event-special"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 4 %>
            <span class="badge event-warning"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 5 %>
            <span class="badge event-danger"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 6 %>
            <span class="badge event-primary"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 7 %>
            <span class="badge event-default"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 8 %>
            <span class="badge event-link"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% elsif @events_array.index(d[:title]) == 9 %>
            <span class="badge event-comment"><%= d[:title] %></span>
            <h3> <%= Time.at(d[:start].to_f / 1000).strftime("%H:%M %p ") %> </h3>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="new_event" class="modal fade col-md-24" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top: 100px;" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-md-24">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="col-md-24 col-md-20 col-md-offset-2">
          <p class="text-center" style="font-size: 20px">
            Event
          </p>
        </div>
        <div class="row">
          <div class="form-group"></div>
        </div>
      </div>
      <br>
      <div class="modal-body">
        <div class="row">
          <div class="container">
            <div id="content">
                <div class="col-md-12">
                  <label>Event</label>
                  <input type="text" class="form-control event_title" placeholder="Event Title" id="event_title" name="event_title">
                  <label>Description</label>
                  <textarea class="form-control event_desc" rows="5" id="event_desc"></textarea>
                  <label>Category</label>
                  <%= select_tag "category",content_tag(:option,'None',:value=>'')+content_tag(:option,'General',:value=>'general')+options_from_collection_for_select(@tenders, 'id','tendercon_id'),{:class=> 'form-control category'} %> 
                  <label>DateTime</label>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control datetime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                  </div>
                  <label>Timezone</label>
                  <%= select_tag "timezone",options_for_select([ "UTC +10:30", "UTC +9:30","UTC +9:30/ +10:30",
                                                               "UTC +8:45","UTC +11","UTC +10","UTC +10:00 / +11:00",
                                                               "UTC +9","UTC +8","UTC +7"], "UTC +10:30"),{:class=> 'form-control timezone'} %> 
                  <br>
                  <label>Repeat?</label>
                  <div class="btn-group btn-toggle">
                    <button class="btn btn-default">ON</button>
                    <button class="btn btn-primary active">OFF</button>
                  </div>
                  <div class="repeat_value" style="display: none;">
                    <%= select_tag "repeat",options_for_select([ "None", "Everyday","Every Monday",
                                                                   "Mon-Fri","Fortnightly"], "None"),{:class=> 'form-control repeat'} %> 
                  </div>
                  <br/>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">

          </div>
          <div class="col-sm-24 col-md-14 col-md-offset-8 ">

            <a href="#!">
              <button class=" btn btn-info button_done" type="button" >Done</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    <% if @calendar_array.present? %>
      var hash_arr = "<%= @calendar_array.uniq.to_json %>";

      var new_hash = JSON.parse(hash_arr.replace(/&quot;/g,'"'));

      console.log(new_hash);
      var calendar = $('#calendar').calendar({
        right: 'month,agendaWeek,agendaDay',
        events_source: function(){
          return  new_hash;
        }
      });

    <% else %>
    console.log("ERROR")
    $(function() {
      var calendar = $('#calendar').calendar({
        right: 'month,agendaWeek,agendaDay'
      });
    });

    <% end %>


    $('.cal-day-inmonth').click(function(){
       alert();
    });

    $('.btn-group button[data-calendar-nav]').each(function() {
      var $this = $(this);
      $this.click(function() {
        calendar.navigate($this.data('calendar-nav'));
      });
    });

    $('.btn-group button[data-calendar-view]').each(function() {
      var $this = $(this);
      $this.click(function() {
        calendar.view($this.data('calendar-view'));
      });
    });

    $('#first_day').change(function(){
      var value = $(this).val();
      value = value.length ? parseInt(value) : null;
      calendar.setOptions({first_day: value});
      calendar.view();
    });

    $('.events-list').click(function(e){
      e.preventDefault();
      $('.event_details').html('');
      console.log($(this).attr("data-cal-end"))
      var start_date = $(this).attr("data-cal-start");
      var end_date = $(this).attr("data-cal-end");
      console.log($(this).find('a').attr("data-original-title"));
      $.ajax({
        method: "POST",
        data: {start_date: start_date,end_date:end_date},
        url: "/calendars/get_event_details"
      }).done(function (data) {
        $('.event_details').html(data);
      });
    });

    $('#language').change(function(){
      calendar.setLanguage($(this).val());
      calendar.view();
    });

    $('#events-in-modal').change(function(){
      var val = $(this).is(':checked') ? $(this).val() : null;
      calendar.setOptions({modal: val});
    });
    $('#format-12-hours').change(function(){
      var val = $(this).is(':checked') ? true : false;
      calendar.setOptions({format12: val});
      calendar.view();
    });
    $('#show_wbn').change(function(){
      var val = $(this).is(':checked') ? true : false;
      calendar.setOptions({display_week_numbers: val});
      calendar.view();
    });
    $('#show_wb').change(function(){
      var val = $(this).is(':checked') ? true : false;
      calendar.setOptions({weekbox: val});
      calendar.view();
    });
    $('#events-modal .modal-header, #events-modal .modal-footer').click(function(e){
      //e.preventDefault();
      //e.stopPropagation();
    });

    $('.add_event').click(function () {
      $('#new_event').modal('show');
    });

    $('#datetimepicker1').datetimepicker();

    $('.btn-toggle').click(function() {
      $(this).find('.btn').toggleClass('active');

      if ($(this).find('.btn-primary').size()>0) {
        $(this).find('.btn').toggleClass('btn-primary');
        console.log($(this).find('.btn-primary').text())
        var repeat_val =$(this).find('.btn-primary').text();

        if(repeat_val == 'ON'){
          $('.repeat_value').show();
        }else{
          $('.repeat_value').hide();
          $('.repeat').val('')
        }

      }
      if ($(this).find('.btn-danger').size()>0) {
        $(this).find('.btn').toggleClass('btn-danger');
      }
      if ($(this).find('.btn-success').size()>0) {
        $(this).find('.btn').toggleClass('btn-success');
      }
      if ($(this).find('.btn-info').size()>0) {
        $(this).find('.btn').toggleClass('btn-info');
      }

      $(this).find('.btn').toggleClass('btn-default');
    });

    $('.button_done').click(function(){
      var event_title = $('.event_title').val();
      var event_desc = $('.event_desc').val();
      var category = $('.category').val();
      var datetime = $('.datetime').val();
      var timezone = $('.timezone').val();
      var repeat = $('.repeat').val();

      console.log(event_title)
      console.log(event_desc)
      console.log(category)
      console.log(datetime)
      console.log(timezone)
      console.log(repeat)
      $('#new_event').modal('hide');
      $.ajax({
        method: "POST",
        data: {event_title: event_title,event_desc:event_desc,
          category:category,datetime:datetime,timezone:timezone,repeat:repeat},
        url: "/calendars/create_new_event"
      }).done(function (data) {
        //$('.event_details').html(data);
      });
    });

  });

</script>

